/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:#ffffff;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
	line-height:26px;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Cabin', sans-serif;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
img{
	width:100%;
}

/*--Banner stats here--*/
/*--header--*/
.header-main {
    /* background: rgba(0, 0, 0, 0.2);
    background: #009688; */
    padding: 10px 0;
}

/*--header end here--*/
.banner {
    background: url(../images/banner3.jpg)no-repeat center;
    min-height: 780px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    position: relative;
}
.banner-dott {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    min-height: 780px;
}
/*-- Navbar --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:transparent;
}
.navbar-default .navbar-brand {
     font-size: 3em;
    color: #FFF;
    text-shadow: 3px 3px #000000;
	text-decoration:none;
	font-weight: bold;
}
.navbar {
	margin-bottom:0px;
}
.navbar-header a img{
	width:auto;
}
.navbar-nav>li {
    float: left;
    margin-right: 23px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFEFE;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 15px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 20px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px;
    margin: 2px 0 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.navbar-right .dropdown-menu {
    right: -14px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #0091ea;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
ul.nav.navbar-nav {
    margin-top: .8em;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background:none!important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.55);
    border-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #EB4549;
}
.navbar-default {
    border-color: #e7e7e7;
    border: none!important;
    background: none!important;
}
.navbar {
    border-radius: 0!important;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;

    line-height: 45px;
}
/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-in:before {
  content: '';
  position: absolute;
  border: #FFC107 solid 2px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
/* //Outline In */
/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #e71f30;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0091ea;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* //Rectangle In */
.navbar-header h1 a {
    font-size: 1.4em;
    color: #FFF;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 700;
	position: relative;
}
.navbar-header h1 {
    line-height: 43px;
    margin-bottom: 4px; 
	text-transform: uppercase;
}
.navbar-header h1 a span {
    color: #FFC107;
    font-size: 14px;
    display: block;
    line-height: 1px;
    letter-spacing: 2px;
    font-weight: 400;
	text-transform: capitalize;
    text-align: center;
}
.navbar-brand {
    float: left;
    padding:0!important;
    line-height: 45px;
}
/*-- //Navbar --*/
/*-- banner-text--*/
.banner-text {
    text-align: center;
    padding: 8em 0 0 0;
}
.banner-text h2 {
    color:#fff;
    font-weight: bold;
    font-size: 54px;
	letter-spacing: 2px;
	text-transform: capitalize;
}
.banner-text h5{
	font-size: 21px;
    display: block;
    width: 90%;
    margin: 0 auto;
	color: #fff; font-weight: normal;    line-height: 40px;
}
/*-- banner-form--*/
.book-form form{
	background: #FF9800;
    padding: 25px;
}
.book-form   label {
    font-size:15px;
    color: #000;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
        letter-spacing: 1px;
}
.book-form label i {
    font-size: 20px;
    margin-right: 5px;
    color: #000;
}
.book-form input[type="text"],.book-form input[type="date"],.book-form input[type="text"],.book-form input[type="email"] {
      width: 100%;
    color: #000;
    outline: none;
    font-size: 0.9em;
    line-height: 25px;
    padding: 5px 10px;
    border: 2px solid #fff;
    -webkit-appearance: none;
    margin-bottom: 1em;
   
	    font-family: 'Open Sans', sans-serif;
}
.book-form input[type="text"]{
	 border: 2px solid #fff;
    background: #fff;
}
.book-form form input[type="submit"] {
    text-transform: capitalize;
    background: #000;
    color: #FFFFFF;
    padding: .7em 2em;
    border: none;
    font-size: 14px;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    margin-top: 2.25em;
    -webkit-appearance: none;
}
.book-form {
    background: rgba(12, 12, 12, 0.68);
    background: none;
    padding: 2em 2em 7em 2em;
    margin: 3em auto 0;
}
.book-form p {
    color: #fff;
    font-size: 24px;
    margin-bottom: .8em;
    letter-spacing: 5px;
    word-spacing: 7px;
    text-transform: uppercase;
}
.book-form select.form-control {
    outline: none;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 5px 10px;
       width: 100%;
    line-height: 25px;
    border-radius: 0;
    background: #fff;
    color: #9a9797;
    border: 2px solid #fff;
	box-shadow:none!important;
}
.form-date-w3-agileits.second-agile {
    width: 30%;
}
.form-date-w3-agileits.second-agile,.form-time-w3layouts.second-agile,.form-left-agileits-w3layouts.second-agile,.form-left-agileits-w3layouts.bottom-w3ls.second-agile {
 
    margin-right:0!important;
	    padding:0!important;
}
.form-left-agileits-w3layouts.bottom-w3ls {
    padding:0!important;
}
.book-form input[type=submit]:hover {
    /* background: #eab208;
    color: #fff; */
}
.form-control {
    height: 39px;
}
/*-- //banner-form--*/

.baner-info{
   position: absolute;
    padding-top:4em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 0;
}
.baner-info h3 {
       text-align: center;
    font-size: 3.5em;
    color: #fff;
    font-weight: 600;
    letter-spacing: 4px;
}
.baner-info h3 span {
	color:#fbcd13;
}
.baner-info h4{
    text-align: center;
    font-size: 1em;
       margin: 2em 0 2em 0;
    font-weight:500;
    letter-spacing: 10px;
    color: #ffcc33;
    padding: 15px 0;
}
.w3-banner-head-info {
    position: relative;
}
.baner-info p {
	font-size: 1em;
    font-weight: 300;
    letter-spacing:2px;
    color: #fff;
    width: 32%;
    margin: 0 auto;
}
span.simply-word {
    font-size:18px;
    font-weight: 500;
    margin-left: 5px;
    text-transform: uppercase;
    color: #02a388;
}
.baner-info span img {
    margin: 1em auto 0;
    text-align: center;
}
.baner-w3l-agile-grids-bottom {
       margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 12%;
    bottom: -62%;
    width: 80%;
}
.w3l-b-grid{
	float:left;
	width:32%;
}
.w3l-b-one{
      background:url(../images/b1.jpg) no-repeat 0px 0px;
    min-height:100px;
    background-size: cover;
    text-align: center;
	    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
	}
.w3l-b-grid .w3l-b-one:hover{
	  min-height:200px;
}
/*-- //banner-text--*/

/* about */
.mail-grid1,.agents,div#about,.banner-dott,.customer,.faq,.portfolio-agileinfo {
    padding: 60px 0;
}
.text-center h3 {
    font-size: 40px;
    text-transform: capitalize;
}
.about-top {
    margin-bottom: 40px;
}
.text p {
    letter-spacing: .5px;
    color: #565656;
}
.about .grid {
    text-align: center;
    padding: 0 40px;
}
.about .grid i.fa {
    font-size: 50px;
    color: #d0d0d0;
    color: #FF9800;
    margin-bottom: 20px;
}
.about i.fa.fa-pencil, .services i.fa.fa-pencil {
    color: #E91E63;
}
.about i.fa.fa-book, .services i.fa.fa-book {
    color: #2196F3;
}
.about i.fa.fa-flask, .services i.fa.fa-flask {
    color: #2d9e32;
}
.about .grid h3{
    font-size: 17px;
    color: #999;
    color: #1f6282;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
}
.about-head h3 {
    font-size: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #000;
}
.about-bottom-grid2, .about-bottom-grid1{
	display: flex;
}
.bottomgridtext h3 {
    color: #fff;
    margin: 50px 0 20px 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 25px;
}
.bottomgridtext p {
    color: #000;
    line-height: 26px;
    font-size: 14px;
    letter-spacing: .5px;
	font-weight:bold;
    margin-top: 25px;
}
.bottomgridtext{
    padding-left: 40px;
    padding-right: 100px;
    background: #009688;
    padding-bottom: 81px;
    padding-top: 20px;
}
.about-bottom-grid {
    margin-top: 70px;
}
.readmore-w3 a {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 8px 0px;
    margin: 2.5em 0 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
}
.readmore-w3 i.fa.fa-long-arrow-right {
    padding-left: 15px;
}
.bottomgridimg {
    padding: 0;
}
.bottomleft {
    padding-left: 60px;
    padding-right: 50px;
    background: #FFC107;
    padding-bottom: 160px;
    padding-top: 44px;
}
.about span {
    background: #fff;
    display: block;
    width: 30%;
    height: 2px;
}
/* //about */

/* services */
.heading h3 {
    font-size: 45px;
	text-align:center;
    text-transform: uppercase;
    color: #000;
}
.heading p {
    text-align: center;
    color: #000;
    line-height: 26px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.grid1 {
    text-align: center;
    background: #e0e0e0;
    background: #ffc107;
	background:#fff;
    padding: 25px 40px;
    -webkit-box-shadow: 0 0 40px #aaa;
    -moz-box-shadow: 0 0 40px #aaa;
    box-shadow: 0 0 40px #aaa;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
	-webkit-box-shadow: 0px 1px 29px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 29px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 29px 0px rgba(0,0,0,0.75);
}
.grid1:hover {
    background: #ffc107;
}
.grid1 h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 25px 0 20px;
    color: #212121;
}
.grid1 p {
    font-size: 14px;
    letter-spacing: .5px;
    color: #6b6b6b;
}
.services {
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.services .heading h3 ,.services .heading p{
    color: #fff;
}
.services-top-grids {
    margin-bottom: 30px;
}
.grid1 i.fa {
    font-size: 40px;
    color: #000;
    color: #009688;
}
/* //services */

/*-- faq --*/
.about-w3layouts-pic{
    background: url(../images/.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.about-right h5 {
    font-size: 1.5em;
    color: #000;
    margin: 0;
}
.about-right p {
    text-align: left;
    margin: 1em 0 0 0;
    color: #999999;
    line-height: 1.8em;
}
.faq .heading h3 {
    font-size: 45px;
	text-align:left;
    text-transform: uppercase;
    color: #fff;
    margin-left: 13px;
    margin-bottom: 20px;
}
/*-- panel-accordion --*/
.w3ls-about h3.title-agile {
    margin-bottom: 0.8em;
}
.faq {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.faq .panel-group {
    margin: 0em 0 0;
}
.faq .panel-heading {
    padding: 20px 0 20px 25px;
}
.panel-body {
    padding: 15px 65px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: .5px;
    color: #565656;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-group .panel + .panel {
    margin-top: 0;
    border-bottom: 1px solid #c5c5c5;
}
.panel-group .panel + .panel:nth-child(2) {
    border-top: 1px solid #c5c5c5;
}
.faq .panel-default span.glyphicon {
    color: #FFC107;
    margin-right: 1em;
}
.faq .panel-title {
	font-size: 1.2em;
    color: #000000;
    text-transform: capitalize;
    text-decoration: none;
}
.faq .panel-title:hover{
	text-decoration: none;
}
.faq a.pa_italic:focus {
    text-decoration: none;
}
.faq .panel-default {
    border-color: #FFF;
}
.faq .panel-default > .panel-heading {
    border-color: #FFF;
	color:#212121;
    background-color: #fff;
}
.faq.panel-body {
    padding: 1em 1em 0.5em;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
    border: none !important;
}
.faq a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: #009688;
}
/*-- //faq --*/

/*-- team-slider --*/
#slides {
	height:760px!important;
}
.carousel-caption {
	text-align:left;
    text-shadow: none;
}
.carousel-caption h3 {
    font-weight: 300;
    color: #009688;
    text-shadow: 0 1px 1px #000;
    margin: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
}
.carousel-caption h5 {
    font-size: 20px;
    color: #000;
    font-style: italic;
    text-transform: capitalize;
}
.carousel-caption h4 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
	margin-bottom:20px;
}
.carousel-caption p {
    font-weight: normal;
    color: #999;
    margin: 15px 0;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 26px;
}
.agentinfo i.fa.fa-phone {
    color: #f8aa2c;
    font-size: 20px;
    margin-right: 10px;
}
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}

.slides-navigation {
  top: 50%;
}
.slides-navigation a {
    display: block;
    text-decoration: none;
    border: 2px solid #fff;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 0 25px;
    text-shadow: 0 1px 1px #000;
    color: #8BC34A;
    border: 2px solid #8BC34A;
    text-align: center;
    height: 40px;
    width: 40px;
    top: -40px;
    padding: 1px;
    -webkit-box-shadow: 0 1px 1px black;
    -moz-box-shadow: 0 1px 1px black;
    box-shadow: 0 1px 1px black;
    -webkit-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    transition: background 0.15s ease;
}
@media screen and (max-width: 767px) {
  .slides-navigation {
    display: none;
  }
  .about-bottom-grid2, .about-bottom-grid1{
		display: block;
	}
}

.slides-pagination a {
  width: 15px;
  height: 15px;
  margin: 5px;
  border-color: white;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
}
.slides-pagination a.current {
    background: #8BC34A;
    border-color: #8BC34A;
}
.contrast a {
    color: #fff !important;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    background: #4CAF50;
    text-transform: capitalize;
}
.contrast a:hover {
    background: transparent;
}
/*-- team --*/  
.carousel-caption {
	position: inherit;
}
.carousel-control {
    width: 5%;
}
.carousel-control .glyphicon-arrow-left, .carousel-control .glyphicon-arrow-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 40px;
    height: 40px;
    margin-top: -15px;
    display: block;
    text-decoration: none;
    border: 2px solid #009688;
    color: #009688;
    background: #ffc107;
    font-size: 18px;
    text-align: center;
    padding: 4px;
}
.carousel-control.right,.carousel-control.left {
    background-image: none;
}
.carousel .item{ 
	background:#fff;
	background-size:cover;  
	
} 
.carousel .item2{ 
	background:#fff;
	background-size:cover;
	
} 
.carousel .item3{ 
	background:#fff;
	background-size:cover;
	
} 
.carousel-indicators li {
    display: inline-block;
    width: 14px !important;
    height: 14px !important;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
	border-radius:0;
  -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    display: none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-arrow-left, .carousel-control .glyphicon-arrow-right {
    top: 48%;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-arrow-left {
    left: 70%;
}
.carousel-control .icon-next, .carousel-control .glyphicon-arrow-right {
    right: 50%;
}
.glyphicon {
    line-height: 1.5;
} 

/* team social icons */
.social li {
    list-style-type: none;
    display: inline;
}
.social i.fa {
    font-size: 15px;
    padding: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    color: #000;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out all;
}
.social i.fa.fa-facebook {
    color: #fff;
    background: #3b5998;
}
.social i.fa.fa-twitter {
    color: #fff;
    background: #1da1f2;
}
.social i.fa.fa-dribbble {
    color: #fff;
    background: #444444;
}
.social i.fa.fa-google-plus {
    color: #fff;
    background: #dd4b39;
}
.social i.fa:hover {
    border-radius: 50%;
    transition: 0.5s ease-in-out all;
}
/* //team social icons */
/*-- //team-slider --*/

/*-- portfolio section --*/
section.portfolio-agileinfo h3.text-center {
	font-size:40px;
	font-weight:normal;
	color:#000;
	font-family: 'Nunito', sans-serif;
	padding-bottom:50px;
}
section.portfolio-agileinfo  .portfolio-grids {
    padding: 6px;
}
/******** SAP ************/
section.portfolio-agileinfo .sap_tabs{
	clear:both;
	padding: 0;
}
section.portfolio-agileinfo .tab_box{
	background:#fd926d;
	padding: 2em;
}
section.portfolio-agileinfo .top1{
	margin-top: 2%;
}
section.portfolio-agileinfo .resp-tabs-list {
    list-style: none;
    padding: 4em 0 3em;
    margin: 0 auto;
    text-align: center;
}
section.portfolio-agileinfo .resp-tab-item {
    color: #333;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.5em 0;
}
section.portfolio-agileinfo .resp-tab-active {
    text-shadow: none;
    color: #fc4f6b;
    border-bottom: 2px solid;
}
section.portfolio-agileinfo .resp-tabs-container {
	padding: 0px;
	clear: left;	
}
section.portfolio-agileinfo .resp-tab-content {
	display: none;
}
section.portfolio-agileinfo .resp-content-active,section.portfolio-agileinfo .resp-accordion-active {
   display: block;
}
section.portfolio-agileinfo .portfolio-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
section.portfolio-agileinfo .portfolio-grids img.img-responsive {
    width: 100%;
}
section.portfolio-agileinfo .b-wrapper {
    background:rgba(0,0,0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
	padding: 2em;
	transition:.5s all;
	text-align:center;
}
section.portfolio-agileinfo .portfolio-grids a:hover .b-wrapper{
	bottom: 0%;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    color: #fff;
    font-size: 40px;
    padding-top:45px;
}
section.portfolio-agileinfo .b-wrapper h5 {
    font-size:25px;
	font-weight:normal;
    color: #fff;
    text-align: center;
    padding:14px 0;
}
section.portfolio-agileinfo .b-wrapper p{
	font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 1.8em;
    text-align: center;
}
section.portfolio-agileinfo .gallery-grids{
	margin:0;
}
section.portfolio-agileinfo .nav-tabs > li.active > a,section.portfolio-agileinfo .nav-tabs > li.active > a:hover,section.portfolio-agileinfo .nav-tabs > li.active > a:focus {
    color:#fff;
    cursor:pointer;
	border:none;
    background-color: #009688;
}
section.portfolio-agileinfo .nav-tabs > li > a {
	margin:0px;
    border-radius: 0;
    font-size: 17px;
    color: #fff;
	border:none;
    background-color: #ffc107;
    font-weight: normal;
}	
section.portfolio-agileinfo .nav-tabs {
    border-bottom: none;
	margin: 0 0 40px;
}
section.portfolio-agileinfo .nav-tabs > li {
    margin-bottom: 0;
    border: 1px solid #009688;
    margin: 0 5px;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
	margin-left:41em;
    border-left: 1px solid #009688;
}
section.portfolio-agileinfo .nav > li > a:hover,section.portfolio-agileinfo .nav > li > a:focus {
    color:#000;
	background-color:transparent;
}	
/*-- /portfolio section --*/

/*-- Testimonials --*/
.customer-grid p {
    padding: 2em;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    color: #6b6b6b;
    font-size: 13.5px;
    font-weight: 300;
    line-height: 27px;
	letter-spacing:1px;
    position: relative;
}
.customer-grid h4{
	font-size: 1.5em;
    color: #009688;
	margin:1em 0 0;
	text-align: center;
}
.customer-grid h4 span{
	color:#E91E63;
}
.customer-grid {
  margin: 0 1em 0 0;
}
.client-img img {
    border-radius: 50%;
	width:200px;
	height:200px;
	border:2px solid #fff;
}
/*--flexisel--*/
.flex-slider{	
background:#222227;
padding: 70px 0 165px 0;
}
.opportunity{
background:#28282e;
margin:0px 20px;
padding:80px 0;
position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:60px;
	height:115px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
    display: none;
}
.nbs-flexisel-nav-left {
left: -4%;
top: 15% !important;
}
.nbs-flexisel-nav-right {
right: -4%;
top: 15% !important;
}
/*--//flexisel--*/
/*-- //Testimonials --*/

/*-- contact*/
.mail-agileits-w3layouts i {
    color: #fd6239;
    font-size: 28px;
    vertical-align: middle;
    border-right: 3px solid #000;
    padding: .8em .8em .8em 0em;
	float:left;
}
.mail .heading {
    margin-bottom: 40px;
}
.contact-right p {
    display: block;
	margin: 12px 0px 0px;
    color: #000;
    font-size: 19px;
}
.contact-right {
    padding-left: 2em;
    float: left;
	padding-top: 8px;
}
.contact-right span, .contact-right a {
    font-size: 15px;
    text-decoration: none;
    color: #777;
	outline:none;
}
.contact-right a:hover{
    color: #fd6239;
}
iframe {
    width: 100%;
    height: 550px;
    border: none;
}
.mail-grid1 .mail-agileits-w3layouts{
	display: flex;
}
.mail-grid1-form input[type="text"],.mail-grid1-form input[type="email"]{
	margin-bottom:1em;
}
.mail-grid1-form input[type="text"], .mail-grid1-form input[type="email"], .mail-grid1-form textarea {
    outline: none;
    /* border: 2px solid rgb(241, 224, 179); */
    border: none;
    font-size: 14px;
    color: #000;
    padding: 10px;
    background: none;
    width: 100%;
    border: 1px solid #009688;
}
.mail-grid1-form textarea {
    margin: 0 0 1.5em;
    min-height: 150px;
    resize: none;
}
.mail-grid1-form input[type="submit"] {
    outline: none;
    border: none;
    font-size: 16px;
    background: #009688;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    display: block;
    color: #fff;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}
.mail-grid1-form input[type="submit"]:hover{
    background: #FFC107;
}
.map iframe {
    width: 100%;
    min-height: 500px;
    border: none;
}
.map {
    padding: 0;
	position:relative;
}
h3.tittle-w3 {
    text-align: center;
    margin-bottom: 20px;
    color: #009688;
    font-size: 30px;
    text-transform: capitalize;
}
.mail-grid1-form {
    padding: 3em;
    background: #fff;
    position: absolute;
    bottom: 7%;
    right: 10%;
    width: 28%;
}
.mail-agileits-w3layouts i {
    color: #009688;
    font-size: 28px;
    vertical-align: middle;
    border-right: 3px solid #FFC107;
    padding: 0.4em .4em 0.4em 0em;
}
/*-- //contact*/

/* footer */
.footer .social {
    margin: 1em 0 0 0;
    text-align: center;
}
.footer .social ul li {
    margin: 0 .5em;
}
.border {
    border-bottom: solid 1px #FFFFFF;
    width: 6%;
    margin: 0em auto 1em;
}
.agileits-w3layouts-copyright p {
    color: #FFFFFF;
    font-size: .9em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.agileits-w3layouts-copyright p a {
    color: #009688;
    text-decoration: none;
}
.agileits-w3layouts-copyright p a:hover{
    color: #fff;
}
.footer {
    background: #232323;
    padding: 2em 0;
}
/* //footer */

/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-indent: 100%;
    background: url(../images/arrow.png) no-repeat 4px 4px #ff9800;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/* Responsive design */
@media screen and (max-width: 1920px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 52em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 65px;
	}
}
@media screen and (max-width: 1680px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 43em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 55px;
	}
}
@media screen and (max-width: 1600px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 41em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 50px;
	}
}
@media screen and (max-width: 1440px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 35em;
	}
	.banner-dott1 {
		min-height: 550px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 40px;
	}
}
@media screen and (max-width: 1366px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 32em;
	}
	section.portfolio-agileinfo .b-wrapper {
		padding: 1em 2em;
	}
	.banner-dott1 {
		min-height: 530px;
	}
}
@media screen and (max-width: 1280px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 29em;
	}
	.banner-dott1 {
		min-height: 485px;
	}
	.banner-text {
		padding: 10em 0 0em 0;
	}
}
@media screen and (max-width: 1080px){
	.banner-text h2 {
		font-size: 40px;
	}
	.bottomgridtext {
		padding-right: 70px;
		padding-bottom: 34px;
		padding-top: 0px;
	}
	.bottomleft {
		padding-bottom: 91px;
		padding-top: 20px;
	}
	.carousel-caption p {
		width: 100%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 23em;
	}
	section.portfolio-agileinfo .b-wrapper {
		padding: 1em 1em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 30px;
		padding-top: 15px;
	}
	.heading h3 {
		font-size: 40px;
	}
	.mail-grid1, .agents, div#about, .banner-dott, .customer, .faq, .portfolio-agileinfo {
		padding: 50px 0;
	}
	.mail-agileits-w3layouts i {
		font-size: 25px;
		border-right: 2px solid #FFC107;
		padding: 0.4em .4em 0.4em 0em;
	}
	.contact-right {
		padding-left: 4em;
		float: none;
		padding-top: 8px;
	}
	.mail-grid1-form {
		padding: 2em;
		width: 37%;
	}
}

@media screen and (max-width: 1024px){
	.banner-dott1 {
		min-height: 485px;
	}
}
@media screen and (max-width: 991px){
	.navbar-nav>li {
		margin-right: 10px;
	}
	.navbar-default .navbar-nav>li>a {
		letter-spacing: 1px;
		padding: 5px 5px;
		font-size: 14px;
	}
	.banner-text h2 {
		font-size: 31px;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts, .form-left-agileits-submit {
		width: 25%;
		float: left;
		padding: 5px;
	}
	.book-form form input[type="submit"] {
		padding: .7em 0em;
	}
	.text-center {
		width: 40%;
		float: left;
	}
	.col-md-8.text {
		width: 60%;
		float: left;
	}
	.bottomgridimg {
		padding: 0;
		width: 60%;
		float: none;
		margin: 0 auto;
	}
	.bottomgridtext {
		width: 50%;
		float: left;
	}
	.bottomleft,.bottomgridtext {
		padding: 31px;
	}
	.bottomgridtext h3 {
		margin: 0px 0 20px 0;
		font-size: 24px;
	}
	.services .col-md-4 {
		width: 33.33%;
		float: left;
		padding: 5px;
	}
	.grid1 {
		padding: 20px;
	}
	.grid1 h4 {
		font-size: 18px;;
	}
	.agentimg,.agentinfo {
		width: 50%;
		float: left;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 20em;
	}
	.portfolio-grids {
		width: 25%;
		float: left;
	}
	.heading p {
		width: 70%;
	}
	.heading h3 {
		font-size: 35px;
	}
	.carousel-caption p {
		letter-spacing: .5px;
		font-size: 13.5px;
	}
	.about-left {
		width: 33.33%;
		float: left;
	}
	.about-right {
		width: 66.66%;
		float: left;
	}
	.faq .panel-title {
		font-size: 1.1em;
	}
	.mail-agileits-w3layouts {
		width: 33.33%;
		float: left;
	}
	.contact-right {
		padding-left: 3.2em;
	}
	.services-top-grids {
		margin-bottom: 0px;
	}
	.faq .heading h3 {
		font-size: 35px;
	}
	.banner-dott1 {
		min-height: 442px;
	}
	.bottomgridtext {
		width: 100%;
		float: left;
	}
	.customer-grid p {
		padding: 2em 0.5em;
	}
	.panel-body {
		padding: 15px 20px;
	}
	.map iframe, iframe{
		min-height: 500px;
		height: 500px;
	}
	.text-center h3 {
		font-size: 35px;
	}
}
@media screen and (max-width: 900px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 16em;
	}
	section.portfolio-agileinfo .b-wrapper h5 {
		padding: 5px 0;
	}
	section.portfolio-agileinfo .b-wrapper {
		padding: 1em 0em;
	}
}
@media screen and (max-width: 800px){
	.carousel-control .icon-next, .carousel-control .glyphicon-arrow-right {
		right: 1340%;
		top: 68%;
	}
	.carousel-control .icon-prev, .carousel-control .glyphicon-arrow-left {
		left: 400%;
		top: 68%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 13em;
	}
	.mail-grid1-form {
		width: 46%;
	}
	.book-form {
		margin: 0em auto 0;
	}
	.banner-dott1 {
		min-height: 335px;
	}
	.client-img img {
		width: 160px;
		height: 160px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 0px;
	}
}
@media screen and (max-width: 768px){
	.portfolio-grids {
		width: 50%;
		float: left;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 40px;
		padding-top: 55px;
	}
	.mail-grid1, .agents, div#about, .banner-dott, .customer, .faq, .portfolio-agileinfo {
		padding: 40px 0;
	}
}
@media screen and (max-width: 736px){
	.navbar-header h1 a span {
		text-align: left;
	}
	.navbar-nav>li {
		display: block;
		float: none;
		text-align: center;
		width: 20%;
		margin: 2% auto;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
		padding: 10px;
		text-align: center;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
	}
	.bottomgridimg {
		width: 70%;
		float: none;
		margin: 0 auto;
	}
	.bottomleft, .bottomgridtext {
		padding: 30px;
		width: 70%;
		float: none;
		margin: 5px auto 0;
	}
	.grid1 h4 {
		font-size: 17px;
	}
	.grid1 p {
		font-size: 13.5px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 10em;
	}
	.customer-grid p {
		padding: 1em;
	}
	div#bs-example-navbar-collapse-1 {
		position: absolute;
		width: 100%;
		z-index: 9;
		background: #009688;
	}
}
@media screen and (max-width: 667px){
	.banner-text h2 {
		font-size: 26px;
	}
	.services .col-md-4 {
		width: 50%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 7em;
	}
	.client-img img {
		width: 150px;
		height: 150px;
	}
	.customer-grid p {
		padding: .5em;
	}
	.faq .panel-heading {
		padding: 20px 0 20px 20px;
	}
	.faq .panel-default span.glyphicon {
		margin-right: .5em;
	}
	.mail-agileits-w3layouts {
		width: 60%;
		float: none;
		margin: 0 auto 20px;
	}
	.mail-grid1-form {
		width: 55%;
	}
	.book-form form input[type="submit"] {
		font-size: 13.5px;
		font-weight:400;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts, .form-left-agileits-submit {
		padding: 1px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 45px;
	}
}
@media screen and (max-width: 640px){
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 33.33%;
		float: left;
		padding: 2px;
	}
	.col-md-3.form-left-agileits-submit {
		width: 40%;
		margin: 0 auto;
		float: none;
	}
	.book-form form input[type="submit"] {
		margin: 0;
	}
	.about-left {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	.about-right {
		width: 100%;
		float: none;
		margin-top: 1em;
	}
}
@media screen and (max-width: 600px){
	.text-center {
		width: 100%;
		float: none;
	}
	.col-md-8.text {
		width: 100%;
		text-align: center;
		float: none;
		padding: 10px 0;
	}
	.text p {
		font-size: 13.5px;
	}
	.agentimg, .agentinfo {
		width: 70%;
		margin: 0 auto 1em;
		text-align: center;
		float: none;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-arrow-right {
		right: 100%;
		top: 30%;
	}
	.carousel-control .icon-prev, .carousel-control .glyphicon-arrow-left {
		left: 100%;
		top: 30%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 5em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 35px;
		padding-top: 30px;
	}
	.navbar-nav>li {
		width: 31%;
	}
	.client-img img {
		width: 100px;
		height: 100px;
	}
	.mail-agileits-w3layouts {
		width: 75%;
	}
	.banner-text h2 {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 30px;
	}
	.banner-text {
		padding: 8em 0 0em 0;
	}
}
@media screen and (max-width: 568px){
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 33.33%;
		float: left;
		padding: 2px;
	}
	.col-md-3.form-left-agileits-submit {
		width: 40%;
		margin: 0 auto;
		float: none;
	}		
	.book-form form input[type="submit"]{
		margin:0;
	}
}
@media screen and (max-width: 480px){
	.bottomgridimg {
		width: 90%;
	}
	.bottomleft, .bottomgridtext {
		width: 90%;
	}
	.services .col-md-4 {
		width: 100%;
		float: none;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 1em;
	}
	.portfolio-grids {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.carousel-caption h3 {
		letter-spacing: 2px;
		font-size: 25px;
		margin-bottom: 8px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 35px;
		padding-top: 65px;
	}
	.book-form {
		padding: 2em 0em 2em;
	}
	.about-left {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.mail-agileits-w3layouts {
		width: 100%;
	}
	.mail-grid1-form {
		width: 100%;
		position: static;
	}
	.map iframe,iframe {
		min-height: 300px;
		height: 300px;
	}
}
@media screen and (max-width: 414px){
	section.portfolio-agileinfo .nav-tabs > li > a {
		font-size: 15px;
		padding: 10px;
	}
	.mail-agileits-w3layouts {
		width: 100%;
	}
	.mail-grid1-form {
		width: 100%;
		position: static;
	}
	.map iframe,iframe {
		min-height: 300px;
		height: 300px;
	}
	.mail-grid1, .agents, div#about, .banner-dott, .customer, .faq, .portfolio-agileinfo {
		padding: 30px 0;
	}
	.text-center h3 {
		font-size: 35px;
	}
	.navbar-nav>li {
		width: 46%;
	}
	div#bs-example-navbar-collapse-1 {
		padding: 1em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 35px;
		padding-top: 50px;
	}
}
@media screen and (max-width: 384px){
	.bottomgridimg,.bottomleft, .bottomgridtext {
		width: 100%;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-arrow-right {
		right: 210%;
		top: 30%;
	}
	.agentimg, .agentinfo {
		width: 82%;
	}
	section.portfolio-agileinfo .nav-tabs > li {
		margin: 3px;
	}
	.portfolio-grids {
		width: 90%;
	}
	.panel-body {
		padding: 15px 30px;
	}
	.navbar-nav>li {
		width: 50%;
	}
	.about-top {
		margin-bottom: 10px;
	}
	.contact-right p {
		font-size: 16px;
	}
	.mail-agileits-w3layouts i {
		font-size: 20px;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 50%;
	}
	.col-md-3.form-left-agileits-submit {
		width: 50%;
		margin: 2em auto;
		float: left;
		font-size: 17px;
	}
}
@media screen and (max-width: 375px){
	.carousel-caption h3 {
		letter-spacing: 1px;
		font-size: 22px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: .3em;
	}
	.portfolio-grids {
		width: 100%;
	}
}
@media screen and (max-width: 320px){
	.text-center h3 {
		font-size: 30px;
	}
	.navbar-header h1 a {
		font-size: 1em;
	}
	.bottomgridtext h3 {
		margin: 0px 0 10px 0;
		font-size: 20px;
	}
	.heading p {
		width: 85%;
		margin-bottom: 10px;
	}
	section.portfolio-agileinfo .nav-tabs > li {
		margin: 1px;
	}
	section.portfolio-agileinfo .nav-tabs > li > a {
		font-size: 14px;
		padding: 10px 8px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: .1em;
	}
	.faq .panel-title {
		line-height: 1.8em;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 100%;
		float: none;
		padding: 0px 10px;
	}
	.banner-text {
		padding: 2em 0 0em 0;
	}
	.book-form label {
		font-size: 14px;
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.col-md-3.form-left-agileits-submit {
		width: 60%;
	}
	.nbs-flexisel-item {
		width:300px !important;
		margin:0 auto !important;
		margin-left:90px !important;
	}
	ul.nav.navbar-nav {
		margin: 11px 0;
	}
	.navbar-nav>li {
		width: 65%;
	}
	.agentinfo {
		width: 100%;
	}
	.col-md-3.form-left-agileits-submit {
		width: 93%;
		margin-top: 1em;
		margin-left: 10px;
	}
	.agileits-w3layouts-copyright p {
		font-size: .875em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 40px;
	}
}


.book-form
{
 padding-top:4px;
}
.book-form form
{
    padding-top: 10px;
    padding-bottom: 10px; 
}

.book-form form input
{
 margin-bottom:0px !important;
 padding: 3px 10px !important;
}
.book-form  form label
{
 font-size:14px;
}
.book-form .form-left-agileits-submit
{
 margin-top: 5px;
    margin-bottom: 5px;
}

/* //Responsive design */

@media only screen and (max-width: 767px)
{
	.banner-text
	{
		padding-top: 5px;
	}
	.banner-text h2 {
       font-size: 15px;
    line-height: 15px;
}
.banner-text h5
{
	font-size: 13px;
    line-height: 22px;
}
.book-form .form-time-w3layouts, .book-form .form-date-w3-agileits, .book-form .form-left-agileits-w3layouts, 
.book-form .form-left-agileits-submit
{
	width:100%;
	clear:both;
}
.book-form
{
	padding-top:4px;
}
.book-form form
{
    padding-top: 10px;
    padding-bottom: 10px;	
}

.book-form form input
{
 margin-bottom:0px !important;
 /* padding: 3px 10px !important; */
}
.book-form  form label
{
	font-size:14px;
}
.book-form .form-left-agileits-submit
{
	/* margin-top: 5px; */
    /* margin-bottom: 5px; */
	
}

.book-form form input[type="submit"] {
	padding-top:10px !important;
	padding-bottom:10px !important;
	padding-left: 5px;
    padding-right: 5px;
}
		
}

/* //Responsive design */
