body{
}

.container-fluid{
    padding: 0;
}


.btn-primary {
    color: #122b40;
    background-color: #EFBA00;
    border-color: #EFBA00;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 15px;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:active:focus{
    color: #122b40;
    background-color: #EFBA00;
    border-color: #EFBA00;
    outline: none;
}

.bannerButton .btn-primary {
    color: #122b40;
    background-color: #EFBA00;
    border-color: #EFBA00;
    border-radius: 40px;
    padding: 15px 30px;
    font-size: 18px;
}

.offeringSection{
    background-color: #EFBA00;
}

.zig-zag-top:before{
    background: linear-gradient(-45deg, #EFBA00 16px, #EFBA00 16px, #EFBA00 16px, transparent 0), linear-gradient(45deg, #EFBA00 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;
    height: 32px;
    width: 100%;
    position: relative;
    bottom: 32px;
    left: 0;
}

.zig-zag-bottom:after{
    background: linear-gradient(-45deg, transparent 16px, #EFBA00 0), linear-gradient(45deg, transparent 16px, #EFBA00 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
    content: "";
    display: block;
    width: 100%;
    height: 32px;
    position: relative;
    top: 32px;
    left: 0px;
}

.parentOfferingContainer{
    text-align: center;
    position: relative;
    bottom: 8em;
    height: 125px;
}

.offeringItems{
    width: 22.333333%;
    display: inline-block;
    float: none;
}

.offeringItems p{
    font-size: 22px;
    margin: 1.5em 0;
    font-weight: 600;
}

.advantageSection{
    position: relative;
    top: -60px;
}


.advantageItemSection{
    text-align: center;
}

.advantageItemContainer{
    width: 25%;
    display: inline-block;
    float: none;
    margin: 3%;
    border-radius: 5px;
    background-color: #fff;
}

.advantageItemContainer:hover{
    background-color: #fff;
    -webkit-box-shadow: -1px 19px 17px -7px rgba(168,165,168,1);
    -moz-box-shadow: -1px 19px 17px -7px rgba(168,165,168,1);
    box-shadow: -1px 19px 17px -7px rgba(168,165,168,1);
}

.headContain{
    background-color: #EFBA00;
    padding: 1.5em;
    border-top-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
}

.headContain h3{
    margin: 0;
}

.paraContain{
    padding: 1.5em;
}

.paraContain p{
    margin: 0;
}

.buttonContain{
    padding: 1.5em;
}

.buttonContain .btn-primary {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 18px;
}


.desktopView{
    display: block;
}

footer{
    position: fixed;
    bottom: 0px; 
    display: inline;
    width: 100%;
}




.mobileBannerCall{
    font-size: 44px;
    color: #0267bc;
    text-decoration: underline;
}

.missCallClass{
    font-size: 22px;
    font-weight: 600;
    color: #ff6b02;
}


/* For Mobile Input */



@media screen and (max-width: 600px) {

    .bannerSection{
        background-image: url(./img/banner.png);
        background-color: #fff;
        background-size: contain; 
        min-height: 400px;
        background-position: top;
        background-repeat: no-repeat;
    }

    .parentImageContainer {
        text-align: center;
    }

    .parentImageContainer img{
        height: 25px;
    }

    .bannerContentSection{
        top: 12em;
    }

    .bannerContentSection h1 {
        font-weight: 100;
    }

    .bannerContentSection h2 {
        font-size: 38px;
        font-weight: 600; 
        text-align: center;
        color: #000000;
    }

    .bannerContentSection p { 
        text-align: center;
    }

    .bannerContentNew h2 p{
        text-align: left;
        padding-left: 20px;
    }

    h1{
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .secondbanner{
        background-image: url(./img/secondBanner.png);
        background-color: #fff;
        background-size: auto; 
        min-height: 400px;
        background-position: top;
        background-repeat: no-repeat;
    }

    .bannerContentSection h3 {
        font-size: 18px;
    }

    .parentOfferingContainer{
        height: 100%;
        bottom: 0;
    }

    .thirdSecImageItemsContainer{
        text-align: center;
    }

    .thirdSecImageItems{
        width: 47%;
        display: inline-block;
        margin: 12% 0%;
        float: none;
    }

    .offeringSection {
        position: relative;
        top: -1em;
    }

    .offeringItems{
        width: 100%;
    }

    .advantageSection{
        top: 40px;
    }

    .advantageItemContainer{
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: -1px 34px 58px -5px rgba(255,201,255,1);
        -moz-box-shadow: -1px 34px 58px -5px rgba(255,201,255,1);
        box-shadow: -1px 34px 58px -5px rgba(255,201,255,1);
    }

    .desktopView{
        display: none;
    }

    .slick-slide img{
        height: 140px;
    }

    .buttonContain .btn-primary {
        color: #fff;
        background-color: #fa9d1e;
        border-color: #fa9d1e;
        border-radius: 40px;
        padding: 5px 35px;
        font-size: 40px;
    }

    .modal-content{
        background-color: #fff0;
        position: relative;
        background-clip: padding-box;
        border: 0;
        border: none;
        border-radius: 6px;
        -webkit-box-shadow: aliceblue;
        box-shadow: none;
        outline: 0;
    }

    .modal-header{
        border-bottom: none;
    }

    .close{
        float: right;
        font-size: 35px;
        font-weight: 700;
        line-height: 1;
        color: #fffefe;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 1;
    }

    .modal-body img{
        width: 100%;
    }

    .btn-info {
        color: #fff;
        background-color: #0266bb;
        border-color: #0266bb;
    }

    .btn-info:active{
        color: #fff;
        background-color: #0266bb;
        border-color: #0266bb;
    }

    .btn-info.focus, .btn-info:focus{
        color: #fff;
        background-color: #0266bb;
        border-color: #0266bb;
    }

}







