/*-- Reset-Code --*/

body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

/*-- //Reset-Code --*/

.top-main {
    background: #e3e3e3;
    padding: 0 2em;
}

.number h3 {
    color: #FFFFFF;
    font-size: 1em;
    line-height: 2em;
    margin: 1em 0 0;
}

.number h3 i.fa.fa-phone {
    margin-right: .5em;
}

.number {
    float: left;
}

.form-top {
    float: right;
    margin: .5em 0;
}

.social-icons {
    float: right;
}

.social-icons li {
    display: inline-block;
}

.social-icons ul {
    margin: 1.5em 0;
    display: inline-block;
}

ul.top-icons {
    float: left;
}

.social-icons ul li a {
    color: #1b2f72;
    font-size: 1em;
    background: none;
    border: 1px solid #1b2f72;
    width: 30px;
    height: 30px;
    padding: 0.5em;
    line-height: 1.9em;
    text-align: center;
}

.social-icons ul li a i {
    margin-right: 0.5em;
}

.social-icons i.fa.fa-facebook:hover,
.social-icons i.fa.fa-twitter:hover,
.social-icons i.fa.fa-google-plus:hover,
.social-icons i.fa.fa-linkedin:hover,
.social-icons i.fa.fa-pinterest-p:hover {
    color: #ffffff;
    transition: 0.5s all;
}

.social-icons i.fa.fa-facebook:hover {
    background: #3b5998;
}

.social-icons i.fa.fa-twitter:hover {
    background: #1da1f2;
}

.social-icons i.fa.fa-google-plus:hover {
    background: #dd4b39;
}

.social-icons i.fa.fa-linkedin:hover {
    background: #00a0dc;
}

.social-icons i.fa.fa-pinterest-p:hover {
    background: #bd081c;
}

.form-control {
    width: 100%;
    padding: 0em;
    font-size: 1em;
    color: #ffffff;
    background-color: transparent;
    border: transparent;
    border-radius: 0px;
}

i.fa.fa-search {
    color: #ffffff;
}

.navbar-left {
    float: none !important;
    margin: 0px;
    border-bottom: 1px solid #fff;
}

.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.btn-default {
    color: #333;
    background-color: transparent;
    border: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.navbar-right {
    float: none !important;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
}

.navbar-nav>li {
    float: none;
    display: inline-block;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    font-size: 1.2em;
    text-transform: capitalize;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background: #ffb900;
}

.navbar-nav>li>a {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-default {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dadada;
    border-radius: 0px;
}

.navbar {
    margin-bottom: 0;
    min-height: 0px;
}

.logo a {
    color: #000;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
}

.top-logo {
    margin-bottom: 2em;
}

.top-logo img {
    background: #fff;
}

span {
    color: #ffb900;
    font-weight: normal;
    text-transform: capitalize;
}

.logo {
    text-align: center;
    margin: 1em 0;
}

i.fa.fa-inr {
    font-size: 2em;
}

.banner-inner {
    margin: 4em 0;
}

.banner-main {
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
}

.banner-left {
    background: #4CAF50;
    padding: 1em 2em;
    width: 35%;
}

.banner-left h3 {
    font-size: 2em;
    margin: .5em 0;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Ropa Sans', sans-serif;
}

.banner-left input[type="text"],
.banner-left input[type="email"],
.banner-left input[type="tel"],
.banner-left select {
    font-size: 1em;
    padding: .6em;
    margin: 1em 0;
    width: 100%;
    border: none;
}

.banner-left input[type="submit"] {
    color: #000;
    background: #ffb900;
    border: 2px solid #ffb900;
    text-transform: uppercase;
    padding: .2em 1em;
    font-size: 1.3em;
    font-family: 'Ropa Sans', sans-serif;
}

input[type="submit"]:hover {
    background: transparent;
    border: 2px solid #ffb900;
}

.submit {
    margin: 1em 0 0 0;
}

.banner-right h1 {
    font-size: 3em;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Ropa Sans', sans-serif;
}

.banner-right i.fa {
    font-size: 1.2em;
    color: #ffb900;
}

.banner-right {
    margin-left: 4em;
    padding: 4em;
    background: rgba(0, 0, 0, 0.88);
}

.main-icon {
    width: 7%;
    float: left;
}

.banner-right p {
    width: 85%;
    float: left;
    font-size: 1em;
    color: #b9b9b9;
    letter-spacing: 0.5px;
}

.banner-right-text {
    margin: 1em 0 0 0;
}

.banner-right h4 {
    margin: 2em 0;
    text-transform: uppercase;
    line-height: 1.6em;
    color: #b9b9b9;
    font-family: 'Ropa Sans', sans-serif;
}

.services-heading h3,
.team h4,
.blog-heading h3,
.about-heading h2,
.skills-heading h3,
.payments-heading h3,
.contact-heading h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: #000;
    font-family: 'Ropa Sans', sans-serif;
}

.skills-heading h3,
.payments-heading h3,
.contact-heading h3 {
    color: #ffffff;
}

/* about */

.about-left img {
    width: 100%;
}

.about-right h3 {
    font-size: 1em;
    color: #000;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-right p {
    color: #000;
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.8em;
}

.about-right a {
    background: #ffb900;
    border: 2px solid #ffb900;
    color: #FFFFFF;
    padding: .4em 1em;
    font-size: 1.3em;
    font-family: 'Ropa Sans', sans-serif;
}

.about-right a:hover {
    background: transparent;
    color: #000;
    border: 2px solid #ffb900;
}

.more {
    margin: 3em 0 1em;
}

.about,
.services,
.testimonial-section,
.partner-section,
.Compare,
.skills,
.team,
.payment,
.blog,
.contact,
.footer {
    padding: 4em 0;
}

.about {
    background: #f7f7f7;
    border-bottom: 1px solid #dadada;
}

/* //about */

/* services */

.icon i.fa {
    font-size: 4em;
    margin: 0;
    color: #ffb900;
}

.service-grid-text h4 {
    margin-top: 1em;
    color: #000;
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.service-grid-text {
    text-align: center;
    padding: 2em;
    border: 2px dashed #4CAF50;
}

.service-grid-text p {
    color: #999999;
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0;
}

.service-grid-bottom,
.service-grid-top {
    margin-top: 2em;
}

/* //services */

/* skills */

.skills,
.contact {
    background: #4CAF50;
}

.career-growth {
    padding: 1em 0em;
    text-align: center;
}

.career-growth h4 {
    color: #FFFFFF;
    margin: 1.5em 0;
}

/* //skills */

/*--team--*/

.gal-grid-rev {
    display: block;
    position: relative;
    border-radius: 50%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.gal-grid-rev .info-gal-con {
    z-index: 2 !important;
    filter: alpha(opacity=0);
    -wekbit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.gal-grid-rev .img-box-content:after,
.gal-grid-rev .img-box-content:before,
.gal-grid-rev .gal-text-box:after,
.gal-grid-rev .gal-text-box:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -ms-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    filter: alpha(opacity=0);
    -wekbit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.gal-grid-rev.horizontal .img-box-content:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.gal-grid-rev.horizontal .img-box-content:after {
    top: 25%;
    left: 0;
    width: 100%;
    height: 25%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.gal-grid-rev.horizontal .gal-text-box:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 25%;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.gal-grid-rev.horizontal .gal-text-box:before {
    top: 75%;
    left: 0;
    width: 100%;
    height: calc(25% + 1px);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.gal-grid-rev.vertical .img-box-content:before {
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.gal-grid-rev.vertical .img-box-content:after {
    top: 0;
    left: 25%;
    width: 25%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.gal-grid-rev.vertical .gal-text-box:after {
    top: 0;
    left: 50%;
    width: 25%;
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.gal-grid-rev.vertical .gal-text-box:before {
    top: 0;
    left: 75%;
    width: calc(25% + 1px);
    height: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.gal-grid-rev:hover .img-box-content:after,
.gal-grid-rev:hover .img-box-content:before,
.gal-grid-rev:hover .gal-text-box:after,
.gal-grid-rev:hover .gal-text-box:before {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    filter: alpha(opacity=100);
    -wekbit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.gal-grid-rev:hover .info-gal-con {
    filter: alpha(opacity=100);
    -wekbit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.info-gal-con h4 {
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    bottom: 49%;
    left: 34%;
    z-index: 999;
}

.social-content ul li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
}

.social-content ul li a {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
}

.social-content ul {
    position: absolute;
    bottom: 90px;
    left: 42px;
    z-index: 999;
}

.team {
    background: url('../images/team.jpg')no-repeat 0px 0px;
    background-size: cover;
}

.team-grids,
.payment-grids,
.about-grids,
.blog-grids,
.contact-grids {
    margin-top: 4em;
}

.team-gds p {
    color: #999;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}

.img-box-content img {
    width: 100%;
    border-radius: 50%;
}

/*--icons--*/

.social-content ul li .hvr-underline-from-center:before {
    background: #FBFCFD;
}

.social-content ul li i {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.5em;
}

.social-content ul li:hover i.fa.fa-facebook {
    color: #3b5998;
    font-size: 1.5em;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.social-content ul li:hover i.fa.fa-twitter {
    color: #1da1f2;
    font-size: 1.5em;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.social-content ul li:hover i.fa.fa-pinterest-p {
    color: #bd081c;
    font-size: 1.5em;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.social-content ul li:hover i.fa.fa-linkedin {
    color: #0077b5;
    font-size: 1.5em;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #62A0EC;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/*--//icons--*/

.team-gds h4 {
    font-size: 23px;
    text-align: center;
    margin: 23px 0px 10px;
    text-transform: uppercase;
    color: #4CAF50;
}

/*--//team--*/

/*-- payments--*/

.payment img {
    vertical-align: middle;
    width: 100%;
}

.payment {
    background: url(../images/m1.jpg) no-repeat 0px 0px;
    background-size: cover;
}

i.fa.fa-cc-visa,
i.fa.fa-cc-mastercard,
i.fa.credit.fa-credit-card-alt,
i.fa.fa-credit-card-alt {
    font-size: 7em;
}

i.fa.fa-cc-visa {
    color: #ffffff;
}

i.fa.fa-cc-mastercard {
    color: #ffffff;
}

i.fa.credit.fa-credit-card-alt {
    color: #ffffff;
}

i.fa.fa-credit-card-alt {
    color: #ffffff;
}

.payment h5 {
    font-size: 1.2em;
    margin: 1em 0 0;
    color: #ffb900;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Ropa Sans', sans-serif;
}

.payment-grid {
    text-align: center;
}

/*-- //payments--*/

/*-- blog--*/

.blog-grid img {
    vertical-align: middle;
    width: 100%;
    border: 1px solid #bdb9b9;
}

.blog h5 {
    margin: 1em 0;
    color: #999;
}

.blog-grid p {
    color: #999;
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.blog-grid h4 a {
    font-size: 1em;
    color: #000;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.blog-grid h4 a:hover {
    color: #ffb900;
    transition: 0.5s all;
}

.blog-grid h5 a {
    font-size: 1em;
    color: #999;
}

.blog-grid a:hover {
    color: #4CAF50;
}

/*-- //blog--*/

/* contact */

.contact-form input[type="text"],
.contact-form input[type="email"],
textarea {
    margin: 1em 0;
    padding: .6em 1em;
    font-size: 1.2em;
    width: 100%;
    background: #fff;
    border: none;
}

textarea {
    height: 100px;
}

input.form-control:focus {
    box-shadow: none;
}

button.btn.btn-default:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: # !important;
}

.contact-form input[type="submit"] {
    background: #ffb900;
    border: 2px solid #ffb900;
    padding: .3em 1em;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Ropa Sans', sans-serif;
}

.contact-form input[type="submit"]:hover {
    background: none;
    color: #FFFFFF;
}

/* contact */

/* footer */

.footer {
    background: #1f1e1e;
}

.footer h4 {
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.p1 {
    margin: 1em 0 .4em;
    font-size: 1.2em;
    color: #bebebe;
}

.footer-grid2 p {
    color: #bebebe;
}

.footer-grid4 a {
    text-transform: capitalize;
    color: #bebebe;
    line-height: 1.8em;
}

.footer-grid4 p {
    margin: .4em 0 0;
    color: #bebebe;
}

.footer-grid3 p {
    margin: .4em 0 0;
    color: #bebebe;
}

.footer-grid3 p a {
    color: #bebebe;
    text-transform: capitalize;
}

.footer-grid3 a:hover {
    color: #ffb900;
}

.footer-grid4 a:hover {
    color: #ffb900;
}

.agileits_copyright {
    background: #000;
    color: #ffffff;
    padding: 1em;
}

.agileits_copyright p {
    font-size: 1em;
}

a.w3_agile {
    color: #fff;
}

a.w3_agile:hover {
    color: #ffb900;
}

.logo1 a {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
}

.footer-grid1 p {
    margin: 1em 0 0;
    color: #bebebe;
    line-height: 1.8em;
}

iframe {
    border: none;
    width: 100%;
    height: 374px;
}

.map {
    margin: 1em 0;
}

/* //footer */

/* jarallax effect */

.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* //jarallax effect */

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url(../images/arrow.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

.agileits-w3layouts-info img {
    vertical-align: middle;
    width: 100%;
    margin-bottom: 1em;
}

.modal-title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    margin: .5em 0;
}

.span1 {
    color: #000;
}

.agileits-w3layouts-info p {
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
}

.modal-content {
    border-radius: 0px;
}

/* responsive design */

@media (max-width: 1080px) {
    .banner-left h3 {
        font-size: 1.6em;
    }
    .banner-left input[type="submit"] {
        font-size: 1.1em;
    }
    .banner-right {
        padding: 3em;
    }
    .banner-right h4 {
        margin: 1em 0;
    }
    .team-grids,
    .payment-grids,
    .about-grids,
    .blog-grids,
    .contact-grids {
        margin-top: 3em;
    }
    .more {
        margin: 1.5em 0 0em;
    }
    .service-grid-text {
        padding: 2em 2em 1em;
    }
    .icon i.fa {
        font-size: 3em;
    }
    body .bar {
        width: 700px;
    }
    .about,
.services,
.testimonial-section,
.partner-section,
.Compare,
.skills,
.team,
.payment,
.blog,
.contact,
.footer {
        padding: 3em 0;
    }
    .social-content ul {
        bottom: 70px;
        left: 16px;
    }
}

@media (max-width: 1024px) {
    .services-heading h3,
    .team h4,
    .blog-heading h3,
    .about-heading h2,
    .skills-heading h3,
    .payments-heading h3,
    .contact-heading h3 {
        font-size: 3em;
    }
    .logo a {
        font-size: 2.5em;
    }
    .team-gds h4 {
        font-size: 23px;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    textarea {
        margin: .8em 0;
        padding: .8em 1em;
        font-size: 1em;
    }
    iframe {
        height: 294px;
    }
    .map {
        margin: .8em 0;
    }
    .footer h4 {
        font-weight: 700;
    }
    .banner-inner {
        margin: 1em 0;
    }
}

@media (max-width: 991px) {
    .banner-left {
        padding: 2em;
        width: 35%;
        float: left;
    }
    .banner-right {
        padding: 2em;
        float: left;
        width: 64%;
        margin-left: 1%;
    }
    .banner-left h3 {
        font-size: 1.2em;
        margin: 1em 0;
    }
    .banner-right h1 {
        font-size: 2.8em;
    }
    .banner-right p {
        width: 92%;
    }
    .banner-left input[type="text"],
    .banner-left input[type="email"],
    .banner-left input[type="tel"] {
        padding: .5em;
        margin: .8em 0;
    }
    .about-left {
        width: 50%;
        float: left;
    }
    .about-right {
        width: 50%;
        float: left;
    }
    .service-grid-1 {
        width: 33.33%;
        float: left;
        padding: 0 1em 0 0;
    }
    .service-grid-text {
        padding: 2em 1em 0em;
    }
    .career-growth {
        width: 10%;
        floaT: left;
    }
    body .bar {
        width: 590px;
        float: left;
    }
    .team-gds {
        width: 25%;
        float: left;
    }
    .social-content ul {
        bottom: 50px;
        left: 7px;
    }
    .social-content ul li a {
        width: 30px;
        height: 30px;
    }
    .team-gds h4 {
        font-size: 20px;
    }
    .team-gds p {
        font-size: 15px;
    }
    .payment-grid {
        width: 25%;
        float: left;
    }
    .blog-grid {
        width: 33.33%;
        float: left;
    }
    .contact-form,
    .map {
        width: 50%;
        float: left;
    }
    .footer-grid1,
    .footer-grid2,
    .footer-grid3,
    .footer-grid4 {
        width: 50%;
        float: left;
        margin-top: 2em;
    }
}

@media (max-width: 900px) {
    body .bar {
        padding: 0px;
    }
    .team-gds h4 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    i.fa.fa-cc-visa,
    i.fa.fa-cc-mastercard,
    i.fa.credit.fa-credit-card-alt,
    i.fa.fa-credit-card-alt {
        font-size: 6em;
    }
}

@media (max-width: 736px) {
    .form-control {
        width: 75%;
        float: left;
    }
    .navbar-form .form-group {
        margin-bottom: 0;
    }
    .navbar-form {
        padding: 0;
    }
    .navbar-nav>li {
        display: block;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .banner-right h1 {
        font-size: 2.7em;
    }
    .navbar-toggle {
        position: relative;
        float: none;
    }
    .navbar-header {
        text-align: center;
    }
    .social-content ul {
        bottom: 45px;
    }
    .team-gds h4 {
        margin: 23px 0px 5px;
        font-size: 20px;
    }
}

@media (max-width: 667px) {
    .banner-inner {
        margin: 0em 0;
    }
    .banner-left {
        width: 80%;
        float: none;
        margin: 0 auto 1em;
    }
    .banner-left h3 {
        font-size: 2em;
        text-align: center;
        margin: .5em 0;
    }
    .about-left {
        width: 100%;
        float: none;
        margin-bottom: 2em;
        padding: 0;
    }
    .about-right {
        width: 100%;
        float: none;
        padding: 0;
    }
    .team-grids,
    .payment-grids,
    .about-grids,
    .blog-grids,
    .contact-grids {
        margin-top: 2em;
    }
    .service-grid-1 {
        width: 50%;
        float: none;
        margin: 1em auto 0;
    }
    .service-grid-text {
        padding: 1em;
    }
    .service-grid-bottom,
    .service-grid-top {
        margin-top: 0em;
    }
    body .bar {
        width: 490px;
        float: left;
    }
    .team-gds {
        width: 50%;
        float: left;
        margin-bottom: 1em;
    }
    .social-content ul {
        bottom: 120px;
        left: 80px;
    }
    .social-content ul li a {
        width: 40px;
        height: 40px;
    }
    .social-content ul {
        bottom: 75px;
        left: 25px;
    }
    .team-gds {
        width: 40%;
        float: left;
        margin: 0 2em 2em 2em;
    }
    .payment-grid {
        width: 50%;
        float: left;
        margin-bottom: 2em;
    }
    .payment h5 {
        margin: 0;
    }
    .blog-grid {
        width: 80%;
        float: none;
        margin: 0 auto 2em;
    }
    .blog-grid p {
        margin: 0;
    }
    .team-gds h4 {
        font-size: 20px;
    }
    .banner-right {
        width: 80%;
        margin: 0px 61px;
    }
}

@media (max-width: 600px) {
    .services-heading h3,
    .team h4,
    .blog-heading h3,
    .about-heading h2,
    .skills-heading h3,
    .payments-heading h3,
    .contact-heading h3 {
        font-size: 2.5em;
    }
    .social-content ul {
        bottom: 85px;
        left: 38px;
    }
    .banner-left {
        width: 90%;
    }
    .team-gds {
        width: 50%;
        float: left;
        margin: 0 auto 2em;
    }
    .contact-form,
    .map {
        width: 100%;
        float: none;
        margin-bottom: 2em;
    }
    .about,
    .services,
    .testimonial-section,
    .partner-section,
    .Compare,
    .skills,
    .team,
    .payment,
    .blog,
    .contact,
    .footer {
        padding: 2em 0;
    }
    .banner-right {
        width: 90%;
        margin: 0 28px;
    }
    body .bar {
        width: 430px;
        float: left;
    }
    .team-gds h4 {
        font-size: 20px;
    }
}

@media (max-width: 568px) {
    ul.top-icons {
        margin-right: 2em;
    }
    .footer-grid1,
    .footer-grid2,
    .footer-grid3,
    .footer-grid4 {
        width: 100%;
    }
    .logo {
        margin: .5em 0;
    }
    .banner-right {
        width: 90%;
        margin: 0 25px;
    }
    .career-growth {
        width: 20%;
    }
    body .bar {
        width: 350px;
    }
    body .bar_group__bar.thin {
        margin: 2em 0;
    }
    .career-growth h4 {
        margin: .8em 0;
    }
    .team-gds {
        width: 50%;
        margin: 0 0 3em;
    }
    .social-content ul {
        bottom: 83px;
        left: 34px;
    }
}

@media (max-width: 480px) {
    .number {
        float: none;
        text-align: center;
    }
    .number h3 {
        margin: 0;
    }
    .banner-left {
        width: 95%;
    }
    .banner-right h1 {
        font-size: 2.5em;
    }
    .service-grid-1 {
        width: 70%;
    }
    body .bar {
        width: 320px;
    }
    .team-gds {
        width: 62%;
        margin: 0 6em 3em;
    }
    .banner-right {
        width: 95%;
        margin: 0 10px;
    }
}

@media (max-width: 414px) {
    .number h3 {
        margin: 0;
    }
    .number {
        float: none;
        text-align: center;
    }
    .social-icons {
        float: none;
        text-align: center;
    }
    ul.top-icons {
        margin-right: 0em;
        float: none;
    }
    .form-top {
        float: none;
        margin: .5em auto 1em;
        width: 50%;
        text-align: center;
    }
    .team-gds {
        width: 72%;
        margin: 0 3em 3em;
    }
    .number h3 {
        padding: 1em 0 0;
    }
    .social-icons ul {
        margin: 1em 0;
    }
    .navbar-form {
        padding: 0 .5em;
    }
    .navbar-left {
        float: none !important;
        border: 1px solid #fff;
    }
    .banner-left {
        width: 100%;
        margin: 0px;
    }
    .banner-right {
        width: 100%;
        margin: 10px 0px;
    }
    .banner-right h1 {
        font-size: 2em;
    }
    .service-grid-1 {
        width: 100%;
        padding: 0;
        margin: 1em auto 0;
    }
    .service-grid-text p {
        margin: 1em 0 0;
    }
    .career-growth h4 {
        margin: 1em 0;
        font-size: .98em;
    }
    body .bar {
        width: 265px;
        margin: 1em auto 0;
    }
    body .bar_group__bar.thin {
        margin: 1.6em 0;
        height: 5px;
    }
    .social-content ul {
        bottom: 90px;
        left: 50px;
    }
    i.fa.fa-cc-visa,
    i.fa.fa-cc-mastercard,
    i.fa.credit.fa-credit-card-alt,
    i.fa.fa-credit-card-alt {
        font-size: 4em;
    }
    .payment h5 {
        font-size: 1em;
    }
    .social-content ul li a {
        width: 30px;
        height: 30px;
    }
    .team-gds h4 {
        font-size: 18px;
        margin: 15px 0px 5px;
    }
    .team-gds p {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .blog-grid {
        width: 100%;
        float: none;
        margin: 0 0 2em;
    }
    .blog-grid h4 a {
        font-size: .8em;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    textarea {
        padding: .5em;
    }
    .contact-form input[type="submit"] {
        padding: .2em 1em;
        font-size: 1em;
        letter-spacing: 1px;
    }
    .footer-grid1,
    .footer-grid2,
    .footer-grid3 {
        width: 100%;
        float: none;
        margin: 0 0 3em;
    }
    .footer-grid4 {
        width: 100%;
        float: none;
        margin: 0 0 1.5em;
    }
    .logo a {
        font-size: 2em;
    }
    .navbar-toggle {
        margin: .5em;
    }
    .contact-form,
    .map {
        padding: 0;
    }
}

@media (max-width: 384px) {
    .form-control {
        width: 70%;
    }
    i.fa.fa-cc-visa,
    i.fa.fa-cc-mastercard,
    i.fa.credit.fa-credit-card-alt,
    i.fa.fa-credit-card-alt {
        font-size: 6em;
    }
    .navbar-nav>li>a {
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .banner-left h3 {
        font-size: 1.4em;
        margin: 0 0 1em;
        text-align: center;
    }
    .banner-right h4 {
        margin: .5em 0;
    }
    .team-gds {
        width: 100%;
        margin: 0 0 3em;
    }
    .social-content ul {
        bottom: 120px;
        left: 65px;
    }
    .social-content ul li a {
        width: 40px;
        height: 40px;
    }
    .payment-grid {
        width: 100%;
        float: none;
    }
}

@media (max-width: 375px) {
    .banner-right h1 {
        font-size: 1.9em;
    }
    .career-growth h4 {
        margin: 1.2em 0;
        font-size: .9em;
    }
    body .bar {
        width: 240px;
    }
}

@media (max-width: 320px) {
    .form-top {
        width: 67%;
    }
    .banner-left {
        width: 100%;
    }
    .banner-right {
        padding: 1.5em;
        margin-left: 0%;
    }
    .banner-right h1 {
        font-size: 1.64em;
    }
    .banner-right h4 {
        font-size: 1.2em;
    }
    .banner-right i.fa {
        font-size: 1em;
    }
    .modal-header {
        padding: 5px;
    }
    .modal-title {
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        margin: .5em;
    }
    body .bar {
        width: 210px;
    }
    .social-content ul {
        bottom: 90px;
        left: 35px;
    }
}
.services{
    background:#f1f1f1;
}
.serviceBox-container, .testimonial-container{
    margin-top:5em;
}
.serviceBox {
    padding: 15px 15px 25px;
    margin:40px auto 0;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background:#fff;
    border:1px solid #4CAF50;
    border-bottom-width:3px ;
    position:relative;
    min-height: 300px;
}
.serviceBox .service-icon{
    width:70px;
    height:70px;
    line-height:70px;
    border-radius:4px;
    border:1px solid #4CAF50;
    background:#fff;
    color:#4CAF50;
    margin:-48px auto 20px;
}
.serviceBox .service-icon i {
    display: inline-block;
    font-size:3em;
    line-height:70px;
}
.serviceBox:hover .service-icon{
    background:#4CAF50;
    color:#fff;
}
.serviceBox h3 {
    font-size: 20px;
    font-weight:normal;
    letter-spacing:0.7px;
    position: relative;
    margin:20px 0 10px 0;
    padding:10px 0;
    background:none;
    overflow:hidden;
    color:#555;
}
.serviceBox h3:before{
    content:"";
    background:#4CAF50;
    width:0;
    height:2px;
    position:absolute;
    bottom:0;
    left:50%;
}
.serviceBox h3:after{
    content:"";
    background:#4CAF50;
    width:0;
    height:2px;
    position:absolute;
    bottom:0;
    right:50%;
}
.serviceBox:hover h3:after,
.serviceBox:hover h3:before{
    width:100%;
}
.serviceBox,
.service-icon,
.serviceBox .service-icon i,
.serviceBox h3:before,
.serviceBox h3:after,
.serviceBox .read{
    transition: all 0.5s ease-in-out;
}
.serviceBox p {
    font-size: 14px;
    margin:0 0 15px;
}
.serviceBox .read{
    color:#4CAF50;
}
@media screen and (max-width: 990px){
    .serviceBox{
        margin:60px auto 0;
    }
}
.testimonial-section{
    background: #f1f1f1;
}
.testimonial{
    border: 1px solid #c9ced3;
    border-top: 3px solid #c9ced3;
    padding: 70px 25px 100px;
    margin-bottom: 30px;
    position: relative;
}
.testimonial:after{
    content: "\f10d";
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 30px;
    color: #4CAF50;
    position: absolute;
    top: 20px;
    left: 25px;
}
.testimonial .description{
    font-size: 14px;
    color: #666;
    line-height:26px;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -30px;
    left: 25px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .testimonial-title{
    font-size: 20px;
    color: #000;
    position: absolute;
    bottom: 20px;
    left: 150px;
}
.testimonial .testimonial-title small{
    display: block;
    font-size: 14px;
    color: #666;
    margin-top: 7px;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #4CAF50;
}
.partners-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.partners-list-item {
    border: 1px dashed #8e8e8ef0;
    padding: 5px;
    margin: 10px 5px;
}
.partners-list-item img{
    width: 185px;
    height: 80px;
    object-fit: contain;
    background: #fff;
}
.partners-list-item img:hover {
   transform: scale(0.9);
  }
  .Compare .about-grids{
      margin-top:1em;
  }
.Compare .container{
    background: #efefef;
    padding: 2em 1em;
    box-shadow: 0px 4px 3px #5651518a;
}
#copyright_wrapper{
    background: #000;
    padding-top: 5px;
    margin-bottom: -20px;
    padding-bottom: 5px;
    color: #727272;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.625em; 
}


.footer-bottom .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}      

.footer p {
    margin: 0;
}
.pull-left img{
    background: white;
}
.footer-bottom {
    background: white;
    color:grey;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom .pull-left {
    padding-top: 6px;
}
.footer-bottom span{
    color: #4CAF50;
}
.footer-bottom span i{
    margin-right:5px; 
}
.footer-bottom a {
    color: #4CAF50!important;
    font-weight: bold;
}
.copyright-devider{
    padding-right:5px;
    padding-left:10px;
}
.container a{
    color:grey;
}
.mobile{
    display: none;
}
.mobile-title{
    font-size: 2.5em;
    text-align: center;
    margin: .5em 0;
    color: #fff;
    text-transform: uppercase;
}
.help-block{
    color: #ffffff;
    margin-top: -10px;
    margin-bottom: 5px;
    background: #fb2727;
    padding: 0 8px;
}
@media screen and (max-width: 767px){
    .footer-bottom .container{
        display: block;
        text-align: center;
    }
    .footer-bottom .pull-left{
        display: block;
        width: 100%;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}

.maxl{
    background: #fff;
    padding: 0 10px;
    margin: 1em 0;
  }
  .maxl1{
    margin: 1em 0 2em;
  }
  .inline{
    display: inline-block;
  }
  .inline + .inline{
    margin-left:10px;
  }
  .radio{
    color:#999;
    font-size:15px;
    position:relative;
  }
  .radio span{
    position:relative;
     padding-left:20px;
     color: inherit;
  }
  .radio span:after{
    content:'';
    width:15px;
    height:15px;
    border:3px solid;
    position:absolute;
    left:0;
    top:3px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .radio input[type="radio"]{
     cursor: pointer; 
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  .radio input[type="radio"]:checked + span{
    color:#000;  
  }
  .radio input[type="radio"]:checked + span:before{
      content:'';
    width:5px;
    height:5px;
    position:absolute;
    background:#000;
    left:5px;
    top:8px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
  }

  .banner-inner .banner-right .form-sucess-message{
    text-align: center;
    font-size: 2em;
    margin: 0px 0 2em;
    background: #fff;
    color: #4CAF50;
}