body{
    overflow-x: hidden;
    font-family: "CircularStd-Medium";
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

$color-background: #eaecfa; 
$color-loader: #28a745;
.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "CircularStd-Medium";
    text-transform: uppercase;
    font-weight: 900;
    color: $color-loader;
    letter-spacing: 0.2em;
    
    &::before, &::after {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: $color-loader;
      position: absolute;
      animation: load .7s infinite alternate ease-in-out;
    }
    
    &::before {
      top: 0;
    }
    
    &::after {
      bottom: 0;
    }
  }
  
  @keyframes load {
    0% { left: 0; height: 30px; width: 15px }
    50% { height: 8px; width: 40px }
    100% { left: 235px; height: 30px; width: 15px}
  }

  .indicator {
    position: absolute;
    top: 50%;
    left: 56.5%;
    transform: translate(-50%, -50%) scale(2);
    @media only screen and (max-width: 768px) {
      left: 70.5%;
    }
  }
  .indicator svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .indicator svg polyline#back {
    stroke: #28a745;
  }
  .indicator svg polyline#front {
    stroke: #3bd3ab;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    animation: dash 1s linear infinite;
  }
  .cta {
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: #222;
    font-weight: bold;
  }
  @-moz-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @-o-keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    62.5% {
      opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  