.cart-page {
    .container,
    .mobile-container {
        @media only screen and (max-width: 768px) {
            max-width: 350px;
            margin: 0 auto;
        }
    }
    header,
    footer {
        background: #0e1326;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18px 0;
            .logo {
                width: 200px;
                @media only screen and (max-width: 768px) {
                    margin: 0 auto;
                }
                img {
                    width: 100%
                }
            }
            .navbar {
                .nav-list {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin-bottom: 0;
                    .nav-list_item {
                        margin: 0 15px;
                        a {
                            color: #fff;
                        }
                    }
                }
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .cart-block {
        display: grid;
        grid-template-columns: 60% 40%;
        @media only screen and (max-width: 768px) {
            grid-template-columns: 100%;
        }
        .block-title {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            justify-content: space-between;
            @media only screen and (max-width: 768px) {
                margin-bottom: 20px;
            }
            button {
                background: transparent;
                border: none;
                font-size: 20px;
                display: none;
                &:focus{
                    outline: none;
                }
                @media only screen and (max-width: 768px) {
                    display: block;
                }
                .fa {
                    display: block;
                    transform: rotate(180deg);
                    
                }
                &.collapsed {
                    .fa {                      
                        transform: rotate(0deg);
                    }
                }
            }
            h5 {
                font-size: 24px;
                margin-bottom: 0;
            }
        }
        .shipping-address-block {
            background: #f1f5f8;
            padding: 40px 50px;
            @media only screen and (max-width: 768px) {
                padding: 20px 15px;
            }
            .form-details {
                margin: 20px 0;
                .group {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media only screen and (max-width: 768px) {
                        display: block;
                    }
                    .form-group {
                        .form-control {
                            &:focus {
                                color: #495057;
                                background-color: #fff;
                                border-color: #6c757d;
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                        &.two-coloumn {
                            width: 48%;
                        }
                        &.single-coloumn {
                            width: 100%;
                        }
                        &.three-coloumn {
                            width: 30%;
                        }
                        @media only screen and (max-width: 768px) {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
        .cart-details-block {
            background: #f4faf6;
            padding: 40px 50px;
            @media only screen and (max-width: 768px) {
                padding: 20px 15px;
            }
            .cart-product-block {
                margin: 20px 0;
                display: flex;
                align-items: center;
                background: #fff;
                padding: 10px;
                border-radius: 5px;
                .image-block {
                    img {
                        width: 82px;
                        height: 82px;
                        object-fit: contain;
                    }
                }
                .product-name {
                    h5 {
                        font-family: "CircularStd-Bold";
                        font-size: 22px;
                    }
                }
            }
            .cart-calculation-block {
                margin: 25px 0;
                hr {
                    border-top: 2px solid rgb(154, 154, 154);
                }
                .flex-box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 15px 0;
                    font-size: 16px;
                    span.box-value {
                        font-family: "CircularStd-Bold";
                        font-size: 18px;
                    }
                }
                .qty-block {
                    display: flex;
                    align-items: center;
                    button {
                        font-size: 16px;
                        background: #6c757d;
                        color: #ffffff;
                        padding: 5px 14px;
                        cursor: pointer;
                        height: 34px;
                        border: 1px solid #6c757d;
                        &:focus {
                            outline: 0;
                        }
                    }
                    input {
                        width: 45px;
                        height: 34px;
                        padding: 0px 1px;
                        font-size: 18px;
                        border-color: #6c757d;
                        border-width: 1px;
                        color: #6c757d;
                        text-align: center;
                        &:focus {
                            outline: 0;
                        }
                    }
                }
            }
            .options-box {
                margin: 25px 0;
                .form-group {
                    margin-bottom: 0rem;
                }
                &.custom-checkbox {
                    [type="checkbox"]:checked,
                    [type="checkbox"]:not(:checked) {
                        position: absolute;
                        left: -9999px;
                    }
                    label {
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                    [type="checkbox"]+label span {
                        position: relative;
                        padding-left: 22px;
                        cursor: pointer;
                        line-height: 20px;
                        display: inline-block;
                        font-size: 14px;
                        color: #949494;
                    }
                    [type="checkbox"]:checked+label:before,
                    [type="checkbox"]:not(:checked)+label:before {
                        content: '';
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        border: 2px solid #949494;
                        background: transparent;
                    }
                    [type="checkbox"]:checked+label:after,
                    [type="checkbox"]:not(:checked)+label:after {
                        content: '';
                        width: 6px;
                        height: 6px;
                        background: #949494;
                        position: absolute;
                        left: 4px;
                        transition: all 0.2s ease;
                    }
                    [type="checkbox"]:not(:checked)+label:after {
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }
                    [type="checkbox"]:checked+label:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                    [type="checkbox"]:checked+label span {
                        color: #6c757d;
                    }
                }
            }
            .button-block {
                .btn-green {
                    margin: 5px 0;
                    background: #00b52c;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 20px;
                    padding: 10px 20px;
                    width: 100%;
                }
            }
        }
    }
}