.quiz-block-list {
    height: 100vh;
    .step {
        height: 100%;
        .option-info {
            font-family: "CircularStd-Bold";
            font-size: 20px;
            font-weight: 600;
            color: #dc3545;
            margin: 20px 0 15px;
            display: none;
            
        }
        &.step-incomplete{
            .option-info {
                display: block;
            }
        }
    }
    &_item {
        display: grid;
        grid-template-columns: 38% 60%;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .page-title {
            font-family: "CircularStd-Black";
            font-size: 36px;
            color: #00316b;
            margin-bottom: 50px;
            span {
                color: #04c163;
            }
        }
        .image-block {
            img {
                width: 100%;
            }
        }
        .question-block {
            background-repeat: no-repeat;
            background-image: url(../images/bg.png);
            background-size: 100% 100%;
            height: 100%;
            padding: 100px 70px;
            position: relative;
            display: flex; // align-items: center;
            flex-direction: column;
            justify-content: center;
            .options {
                margin: 30px 0;
                .option-title {
                    font-family: "CircularStd-Bold";
                    font-size: 22px;
                    color: #00316b;
                    margin-bottom: 15px;
                    @media only screen and (max-width: 768px) {
                        text-align: center;
                    }
                }
                
                .option-list {
                    display: flex;
                    align-items: center;
                    margin: 5px 0;
                    @media only screen and (max-width: 768px) {
                        justify-content: center;
                    }
                    .option-item {
                        [type="radio"]:checked,
                        [type="radio"]:not(:checked) {
                            visibility: hidden;
                            display: none;
                        }
                        label {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background: #ffffff;
                            padding: 10px 12px;
                            margin-bottom: 0;
                            margin-right: 15px;
                            box-shadow: 0px 3px 20px 0px #b0b9bf4f;
                            border-radius: 5px;
                            width: 120px;
                            height: 120px;
                            @media only screen and (max-width: 768px) {
                                margin: 0 5px;
                            }
                            cursor: pointer;
                            .text {
                                color: #04c163;
                                display: block;
                                font-family: "CircularStd-Book";
                                font-size: 16px;
                            }
                            .icon {
                                i {
                                    color: #04c163;
                                    font-size: 32px;
                                }
                            }
                            .value {
                                background: #04c163;
                                color: #fff;
                                padding: 3px 10px;
                                text-align: center;
                                font-family: "CircularStd-Bold";
                                font-size: 18px;
                            }
                            .text+.value {
                                margin-top: 8px;
                            }
                        }
                        [type="radio"]:checked+label {
                            background: #04c163;
                            .text {
                                color: #fff;
                            }
                            .icon {
                                i {
                                    color: #fff;
                                }
                            }
                            .value {
                                background: #fff;
                                color: #04c163;
                            }
                        }
                        &.bg-red {
                            label {
                                .text {
                                    color: #ff0bdf;
                                }
                                .icon {
                                    i {
                                        color: #ff0bdf;
                                    }
                                }
                            }
                            [type="radio"]:checked+label {
                                background: #ff0bdf;
                                .text {
                                    color: #fff;
                                }
                                .icon {
                                    i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        &.bg-blue {
                            label {
                                .text {
                                    color: #0278fa;
                                }
                                .icon {
                                    i {
                                        color: #0278fa;
                                    }
                                }
                            }
                            [type="radio"]:checked+label {
                                background: #0278fa;
                                .text {
                                    color: #fff;
                                }
                                .icon {
                                    i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    .input-item {
                        .form-control {
                            width: 80px;
                            height: auto;
                            border: 2px solid #00316b;
                            border-radius: 4px;
                            margin: 5px 0 20px;
                            font-size: 22px;
                            text-align: center;
                            padding: 2px 2px;
                            &:focus {
                                border-color: #0276f9;
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                        &.flex-box {
                            display: flex;
                            align-items: center;
                            @media only screen and (max-width: 768px) {
                                justify-content: center;
                            }
                            span {
                                padding: 0 14px;
                                height: 41px;
                                margin: 5px 0 20px;
                                margin-left: -2px;
                                background: #00316b;
                                color: #fff;
                                border: none;
                                display: flex;
                                align-items: center;
                                line-height: 0;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                            }
                        }
                    }
                    .input-range {
                        width: 400px;
                        margin: 25px 0;
                        .rangeslider--horizontal {
                            background: url(../images/scale.png);
                            background-size: contain;
                            height: 42px;
                        }
                        .rangeslider__fill {
                            background: transparent;
                            box-shadow: none;
                        }
                        .rangeslider__handle {
                            background-image: url(../images/pointer.png);
                            background-color: transparent;
                            width: 28px;
                            border-radius: 0;
                            box-shadow: none;
                            border: none;
                            &::after {
                                display: none;
                            }
                        }
                    }
                    &.form-details {
                        .input-item {
                            .form-control {
                                width: 250px;
                                height: auto;
                                font-family: "CircularStd-Book";
                                border: 1px solid #e8edf1;
                                border-radius: 4px;
                                margin: 5px 0 10px;
                                font-size: 16px;
                                text-align: left;
                                padding: 5px 10px;
                                color: #1a2c42;
                            }
                            .btn {
                                width: 250px;
                                background: #ffc107;
                                color: #155724;
                                @media only screen and (max-width: 768px) {
                                    width: 100%;
                                }
                                &:focus {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
            .button-block {
                text-align: right;
                position: absolute;
                right: 90px;
                bottom: 90px;
                .btn-icon {
                    background: #423e72;
                    color: #fff;
                    &:focus {
                        box-shadow: none;
                    }
                    &:hover {
                        background: #dc3545;
                    }
                    &.disabled {
                        pointer-events: none;
                        opacity: 0.2;
                        &:hover {
                            background: #423e72;
                        }
                    }
                }
            }
        }
        &.based-on-gender {
            .image-block {
                img {
                    display: none;
                    width: 30%;
                    margin: 0 auto;
                }
            }
            &.gender-male {
                .image-block {
                    img.male-img {
                        display: block;
                    }
                }
            }
            &.gender-female {
                .image-block {
                    img.female-img {
                        display: block;
                    }
                }
            }
        }
    }
    &.quiz-block-list-mobile-view {
        height: auto;
        .quiz-block-list_item {
            grid-template-columns: 100%;
            .question-block {
                padding: 0;
            }
            .options {
                margin: 10px 0;
                .option-title {
                    font-size: 18px;
                }
                .option-list {
                    .input-range {
                        width: 272px;
                        margin: 12px 0;
                        .rangeslider--horizontal {
                            height: 29px;
                        }
                    }
                }
            }
            .button-block {
                position: initial;
            }
            .age-list {
                display: block;
                align-items: center;
                margin: 5px 0;
                .option-item {
                    label {
                        flex-direction: row;
                        width: 100%;
                        height: auto;
                        padding: 5px 12px;
                        margin-bottom: 5px;
                        margin-right: 0;
                        justify-content: start;
                        .text {
                            width: 40%;
                        }
                        .value {
                            width: 100%;
                        }
                        .text+.value {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

.mobile {
    background: #f2f7fb;
    .banner {
        // max-width: 320px;
        width: 100%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .based-on-gender {
        img{
            display: none;
        }
        &.gender-male {
            .male-img{
                display: block;
            }
        }
        &.gender-female {
           .female-img{
            display: block;
           }
        }
    }
}

@media only screen and (max-width: 768px) {
    .page-title {
        font-family: "CircularStd-Black";
        font-size: 26px;
        color: #00316b;
        margin-top: 10px;
        text-align: center;
    }
}

.mobile-content {
    background: #f2f7fb;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 22px 20px;
    .form-elements {
        .form-group {
            label {
                display: block;
            }
            .form-control {
                font-size: 16px;
                padding: 5px 10px;
                height: 32px;
                border-radius: 0;
                font-family: "CircularStd-Book";
                color: #848080;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
            span {
                font-size: 14px;
                color: #a7a7a7;
                font-family: "CircularStd-Book";
            }
            .btn {
                width: 100%;
                background: #ffc107;
                color: #155724;
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

.quiz-2{
    background:url('../images/quiz-2-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 0;
    
    .quiz-2-container{
        //max-width: 400px;
        width:90%;
        margin: 0 auto;
        padding: 20px 40px;
        background: #f3f3f2d6;
        border-radius: 10px;
        border: 2px solid #15572447;
        .logo{
            width: 220px;  
            margin: 10px auto 25px;
            img{
                width: 100%;
            }
        }
        form{
            .form-group {
                label{
                    margin-bottom: 0;
                    color: #323d48;
                    font-family: "CircularStd-Book";
                }
                .form-control {
                    height: 35px;
                    font-family: "CircularStd-Book";
                    border: 1px solid #e8edf1;
                    border-radius: 4px;
                    margin: 5px 0 10px;
                    font-size: 16px;
                    text-align: left;
                    padding: 5px 10px;
                    color: #1a2c42;
                    &:focus {
                        border-color: #0276f9;
                        outline: 0;
                        box-shadow: none;
                    }
                }
                .flex-box {
                    display: flex;
                    align-items: center;
                    @media only screen and (max-width: 768px) {
                        justify-content: center;
                    }
                    span {

                        height: 35px;
                        padding: 0px 15px;
                        margin: 5px 0 10px;
                        margin-left: -2px;
                        background: #155724;
                        color: #fff;
                        border: none;
                        display: flex;
                        align-items: center;
                        line-height: 0;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
            .btn {
                width: 100%;
                background: #0b9a11;
                color: #ffffff;
                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

.quiz-3{
    background:url('../images/quiz-2-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 0;
    
    .quiz-3-container{
        //max-width: 400px;
        width:90%;
        margin: 0 auto;
        padding: 20px 40px;
        background: #ffffff;
        border-radius: 10px;
        border: 2px solid #15572447;
        .logo{
            width: 220px;  
            margin: 10px auto 25px;
            img{
                width: 100%;
            }
        }
        .grid{
            display: grid;
            grid-template-columns: 48% 48%;
            justify-content: space-between;
            @media only screen and (max-width: 768px) {
                grid-template-columns: 100%;
            }
        }
        .side-img{
            img{
                width:100%;
            }
            &.desktop-only{
                display: block;
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
            &.mobile-only{
                display: none;
                @media only screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
        form{
            .group{
                display: grid;
                grid-template-columns: 48% 48%;
                justify-content: space-between;
                @media only screen and (max-width: 768px) {
                    grid-template-columns: 100%;
                }
            }
            .form-group {
                label{
                    margin-bottom: 0;
                    color: #323d48;
                    font-family: "CircularStd-Book";
                    font-weight: 600;
                }
                .error{color:red}
                .form-control {
                    height: 35px;
                    font-family: "CircularStd-Book";
                    border: 1px solid #e8edf1;
                    border-radius: 4px;
                    margin: 5px 0 10px;
                    font-size: 16px;
                    text-align: left;
                    padding: 5px 10px;
                    color: #1a2c42;
                    &:focus {
                        border-color: #0276f9;
                        outline: 0;
                        box-shadow: none;
                    }
                }
                .flex-box {
                    display: flex;
                    align-items: center;
                    @media only screen and (max-width: 768px) {
                        justify-content: center;
                    }
                    span {

                        height: 35px;
                        padding: 0px 15px;
                        margin: 5px 0 10px;
                        margin-left: -2px;
                        background: #155724;
                        color: #fff;
                        border: none;
                        display: flex;
                        align-items: center;
                        line-height: 0;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
            .btn {
                width: 100%;
                background: #0b9a11;
                color: #ffffff;
                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}