.result-page {
    .container {
        @media only screen and (max-width: 768px) {
            max-width: 350px;
            margin: 0 auto;
        }
    }
    .add-banner img {
        @media only screen and (max-width: 768px) {
            max-width: 320px;
        }
    }
    header,
    footer {
        background: #0e1326;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18px 0;
            .logo {
                width: 200px;
                @media only screen and (max-width: 768px) {
                    margin: 0 auto;
                }
                img {
                    width: 100%
                }
            }
            .navbar {
                .nav-list {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin-bottom: 0;
                    .nav-list_item {
                        margin: 0 15px;
                        a {
                            color: #fff;
                        }
                    }
                }
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .user-list {
        padding: 25px 0;
        text-align: center;
        p {
            margin-bottom: 0;
            color: #535353;
            font-size: 18px;
            .highlight {
                display: block;
                color: #ff1644;
                font-size: 24px;
                span {
                    font-family: "CircularStd-Black";
                }
                #user_score {
                    background: red;
                    color: #fff;
                    padding: 5px 8px;
                    border-radius: 50px;
                }
            }
            @media only screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
    .result-card {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        align-items: center;
        background: #f8f8f8;
        padding: 0 20px;
        border-radius: 5px;
        @media only screen and (max-width: 768px) {
            grid-template-columns: 100%;
        }
        .chart {
            text-align: center;
            #gauge {
                width: 400px;
                height: 240px;
                margin: 0 auto;
                @media only screen and (max-width: 768px) {
                    width: 280px;
                    height: 280px;
                }
            }
        }
        .details {
            width: 65%;
            margin: 0 auto;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            span.flex-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0;
                padding: 3px 5px;
                span.title {
                    width: 30%;
                    font-size: 16px;
                    @media only screen and (max-width: 768px) {
                        width: auto;
                    }
                }
                .details {
                    font-size: 16px;
                    text-align: right;
                }
                &.heading-block {
                    span.title {
                        font-size: 20px;
                    }
                    .details {
                        font-size: 20px;
                    }
                }
                &.content-block {
                    &.low-weight {
                        &.active {
                            background: #EBE733;
                        }
                    }
                    &.normal-weight {
                        &.active {
                            background: #00AC2E;
                        }
                    }
                    &.over-weight {
                        &.active {
                            background: #ff9900;
                        }
                    }
                    &.class-one {
                        &.active {
                            background: #EB392C;
                        }
                    }
                    &.class-two {
                        &.active {
                            background: #B91E00;
                        }
                    }
                    &.class-three {
                        &.active {
                            background: #B91E00;
                        }
                    }
                }
            }
        }
    }
    .main-product-block {
        margin: 40px 0 40px;
        @media only screen and (max-width: 768px) {
            margin: 0px 0 40px;
        }
        .row {
            align-items: center;
            @media only screen and (max-width: 768px) {
                display: grid;
                grid-template-columns: 100%;
            }
            .col-5,
            .col-7 {
                @media only screen and (max-width: 768px) {
                    max-width: 100%;
                }
            }
        }
        .product-image {
            img {
                width: 90%;
                @media only screen and (max-width: 768px) {
                    width: 70%;
                }
            }
        }
        .product-details {
            padding-left: 45px;
            @media only screen and (max-width: 768px) {
                padding-left: 0;
            }
            .title {
                font-family: "CircularStd-Black";
                @media only screen and (max-width: 768px) {
                    font-size: 20px;
                    margin: 20px 0 0;
                    text-align: center;
                }
            }
            .price-block {
                .actual-price {
                    color: #13181c;
                    font-style: italic;
                    font-size: 16px;
                    margin-right: 12px;
                }
                .discount-price {
                    color: #039b22;
                    font-size: 28px;
                    font-family: "CircularStd-Black";
                    small {
                        font-size: 60%;
                    }
                }
                @media only screen and (max-width: 768px) {
                    border: 1px dashed green;
                    text-align: center;
                    padding: 11px 0;
                    margin: 12px 0 0;
                    .actual-price {
                        display: block;
                        text-decoration: line-through;
                    }
                }
            }
            .review {
                color: orange;
                margin: 20px 0;
                font-size: 16px;
                @media only screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }
            .offer-description {
                margin: 30px 0;
                .offer-title {
                    font-family: "CircularStd-Bold";
                    margin-bottom: 0;
                    letter-spacing: 1px;
                    font-size: 20px;
                }
                .offer-list {
                    padding: 0;
                    list-style: none;
                    margin: 5px 0;
                    li {
                        font-size: 14px;
                        color: #9a9898;
                        padding: 2px 0;
                    }
                }
            }
            .button-block {
                @media only screen and (max-width: 768px) {
                    text-align: center;
                }
                span {
                    display: block;
                    font-size: 17px;
                    &.green {
                        color: #00b52c;
                    }
                    &.red {
                        color: #ff2d6d;
                    }
                }
                .btn-green {
                    margin: 5px 0;
                    background: #00b52c;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 20px;
                    padding: 10px 20px;
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }
        }
    }
    .doctor-section {
        background: #f2f7fb;
        padding: 40px 0;
        .row {
            @media only screen and (max-width: 768px) {
                display: grid;
                grid-template-columns: 100%;
                grid-row-gap: 20px;
            }
            .col-3,
            .col-9 {
                @media only screen and (max-width: 768px) {
                    max-width: 100%;
                }
            }
        }
        .doctor-image {
            img {
                width: 78%;
                margin: 0 auto;
                display: block;
            }
        }
        .doctor-description {
            text-align: center;
            p {
                color: #6d7276;
                font-family: "CircularStd-Book";
                font-size: 16px;
            }
        }
    }
    .related-products {
        margin: 50px 0;
        .title-block h5 {
            font-family: "CircularStd-Black";
            text-align: center;
            font-size: 30px;
            margin-bottom: 40px;
        }
        .product-block {
            display: grid;
            grid-template-columns: 32% 32% 32%;
            justify-content: space-between;
            @media only screen and (max-width: 768px) {
                grid-template-columns: 100%;
            }
            .product-item {
                border: 1px solid #f1f1f1;
                padding: 20px 0;
                .image-block {
                    height: 225px;
                    width: 225px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .button-block {
                    text-align: center;
                    .btn-green {
                        margin: 5px 0;
                        background: #e67402;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 20px;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
    .testimonial {
        margin: 50px 0 0;
        padding: 50px 0;
        background: url(../images/testimonial-background.jpg);
        .title-block h5 {
            font-family: "CircularStd-Black";
            text-align: center;
            font-size: 30px;
            margin-bottom: 40px;
            color: #fff;
        }
        .testimonial-list {
            display: grid;
            grid-template-columns: 32% 32% 32%;
            justify-content: space-between;
            grid-row-gap: 30px;
            @media only screen and (max-width: 768px) {
                grid-template-columns: 100%;
            }
        }
        figure.snip1232 {
            position: relative;
            float: left;
            overflow: hidden;
            margin: 10px 0;
            min-width: 220px; // max-width: 310px;
            width: 100%;
            color: #333;
            text-align: left;
            box-shadow: none !important;
        }
        figure.snip1232 * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        figure.snip1232 img {
            max-width: 100%;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            margin-right: 5px;
            display: block;
            z-index: 1;
            position: absolute;
            right: 60%;
            object-fit: cover;
        }
        figure.snip1232 blockquote {
            margin: 0;
            display: block;
            border-radius: 8px;
            position: relative;
            background-color: #fafafa;
            padding: 65px 50px 35px 50px;
            font-size: 0.8em;
            font-weight: 500;
            margin: -40px 0 0;
            line-height: 1.6em;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        figure.snip1232 blockquote:before,
        figure.snip1232 blockquote:after {
            font-family: 'FontAwesome';
            content: "\201C";
            position: absolute;
            font-size: 50px;
            opacity: 0.3;
            font-style: normal;
        }
        figure.snip1232 blockquote:before {
            top: 55px;
            left: 20px;
        }
        figure.snip1232 blockquote:after {
            content: "\201D";
            right: 20px;
            bottom: 5px;
        }
        figure.snip1232 .author {
            margin: 0;
            height: 80px;
            display: block;
            text-align: left;
            padding: 0 35px;
            position: relative;
            z-index: 1;
        }
        figure.snip1232 .author h5,
        figure.snip1232 .author span {
            left: 42%;
            position: absolute;
            opacity: 0.8;
            padding: 3px 5px;
        }
        figure.snip1232 .author h5 {
            text-transform: uppercase;
            bottom: 50%;
            margin: 0;
            font-weight: 600;
            color: #fafafa;
            font-size: 16px;
            opacity: 1;
        }
        figure.snip1232 .author span {
            font-size: 0.8em;
            color: #000000;
            top: 50%;
            font-weight: 600;
        }
    }
}