@charset "utf-8";
/* CSS Document */
body{
	padding: 0px;
	margin: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background: #eee;
	overflow-x: hidden
}

.space{
	height: 1em;
	width: 100%
}

.bg{
	background-color: #b12537;
	padding: 0px;
}

.offer{
	background-color: aliceblue;
	border-radius: 6px;
	font-weight: 600;
	color: #b12537;
}

.form_bg{
background: #b12537;
padding: 3em;
height: 100%;
}

.button{
	width: 100%;
	background-color: #fed000;
	padding: 12px;
	font: 20px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
	color: #b12537;
}

.cell{
-webkit-box-flex: 0;
-ms-flex: 0 0 auto;
flex: 0 0 auto;
min-height: 0px;
min-width: 0px;
width: 100%;	
width: calc(100% - 1.875rem);
margin-left: .9375rem;
margin-right: .9375rem;
border: none;
padding: 9px;
color: aliceblue;
}

.input{
	background: transparent;
	color: aliceblue;
	border: none;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 24px;
}

.rightBlock textarea {
    border: none;	 
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    outline: none;
    -webkit-appearance: none;
    border-bottom: 1px solid #d58b94;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FEFEFE;
    font-size: 0.813em;
    padding: 0;
    margin-bottom: 1.250em;	
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 2.4375rem;
	margin: 0 0 1rem;
}

.head-text{
	font-size: 48px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	text-transform: uppercase
}

.projectConfigurations{
	font-size: 16px;	
}

.text-area{
	margin: auto;
	padding-top: 20px;
}

ul{
	line-height: 22px;
	padding: 0px 20px;
	margin: 0px;
}

.bgred {
	background: #fff;  }
.form{
	padding:40px 50px 0px 30px;   
}
.form-group {
    margin-bottom: 20px;
}
.form .userinfo {
    color: #ffe145;
    height: 30px;
}

.btn-default {
    color: #b12537;
    background-color: #fed000;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
	padding: 12px;
}

.btn-default-2 {
    color: #fed000;
    background-color: #b12537 ;
    width: 100%;
}

.heading-h2{
	color: #fff;
    font-weight: bold;
    font-size: 23px;
}
.modal-bg{
	padding: 30px;
}


/* custom css */

.carousal-project-detail{display: inline; position: absolute; text-align: center; background: #0000005e; width: 100%; bottom: 0px; padding: 10px 0px 0px 0px}
.carousal-project-detail .p_name{ color: #fff; width: 37%; float: left;    min-height: 110px;}
.carousal-project-detail .p_name h5{color: #fff; width: 100%; text-align: right; margin: 0px; padding:0px;    font-weight: 100;}
.carousal-project-detail .p_name h1{color: #fff; width: 100%; text-align: right; margin: 0px; padding:0px; text-shadow: 1px 3px 5px #000000;}
.carousal-project-detail .p_name .p_flats{background: #b12537;padding: 0px 6px 2px;text-align: right;float: right;margin-top: 5px;}
.carousal-project-detail .p_offer{background: #fed000; padding: 0px 6px 2px; text-align: left; float: left; display: block; color: #791421;margin-left: 3%;width: 60%; }
.carousal-project-detail .p_cote{color: #fff;  float: left; text-align: left;margin-left: 3%;width: 40%;    font-size: 12px; margin-top: 5px }
.rera_numebr{color: #b12537; margin: 10px 0px;font-weight: 700;font-size: 12px;  word-break: break-all;}
.footer_form{margin:0% 25%}
/* floating box style */
.floating-form { max-width: 300px;z-index: 3;background: #F9F9F9;right: 10px;position: fixed;} 
.contact-opener { position: absolute; left: -85px; transform: rotate(-90deg); top: 100px;background-color:#a92243; padding: 9px; color: #fff; cursor: pointer; 
border-radius: 5px 5px 0px 0px; letter-spacing: 1px; font-weight: bold; }  
 

@media (max-width:768px){
.carousal-project-detail{display: inline; position: absolute; text-align: center; width: 100%; bottom: 0px; padding: 10px 0px 0px 0px;  background: #00000000;}
.carousal-project-detail .p_name{ color: #fff; width: 100%; text-align: center; min-height: 40px;}
.carousal-project-detail .p_name h5{color: #fff; width: 100%; text-align: center; margin: 0px; padding:0px;    font-weight: 100; display: none!important;}
.carousal-project-detail .p_name h1{color: #fff; width: 100%; text-align: center; margin: 0px; padding:0px; font-size: 20px;}
.carousal-project-detail .p_name .p_flats{background: #b12537;padding: 0px 6px 2px;text-align: center; margin-top: 5px; float: none;    font-size: 12px;}
.carousal-project-detail .p_offer{background: #fed000; padding: 0px 6px 2px; text-align: center; float: left; display: block; color: #791421;margin-left: 0%;width: 100%; font-size: 12px;}
.carousal-project-detail .p_cote{display: none!important}
.form {padding: 20px 10px 20px 10px;text-align: center;}
.modal-dialog{margin:20% 5% 5% 5%;}
.footer_form{margin:0px}
}



      
.footer { 
	margin-top: 6em;    background: #fff;
}
			
.feature {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 8em;
}

	.feature:last-child {
		margin-bottom: 2em;
	}

	.feature.left {
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.feature.right {
		-moz-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.feature .image {
		width: 48%;
	}

		.feature .image img {
			max-width: 100%;
		}

	.feature .content {
		padding: 2em 3em 0.1em 3em;
		width: 52%;
	}

	@media screen and (max-width: 1280px) {

		.feature {
			margin-bottom: 2em;
		}

			.feature .content {
				padding: 1em 2em 0.1em 2em;
			}

	}

	@media screen and (max-width: 980px) {

		.feature.left, .feature.right {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}

		.feature .image {
			width: 100%;
		}

			.feature .image img {
				width: 100%;
			}

		.feature .content {
			padding: 2em 2em 0.1em 2em;
			width: 100%;
		}

	}

	@media screen and (max-width: 736px) {

		.feature {
			margin-bottom: 2em;
		}

			.feature .content {
				padding: 2em 1em 1em 1em;
			}

	}

.feature {
	background-color: rgba(144, 144, 144, 0.075);
}

/* Image Grid */

.image-grid {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 4em;
}

	.image-grid .image {
		margin: 0;
		width: 25%;
	}

		.image-grid .image img {
			width: 100%;
		}

	@media screen and (max-width: 980px) {

		.image-grid {
			margin-bottom: 3em;
		}

			.image-grid .image {
				width: 50%;
			}

	}

	@media screen and (max-width: 480px) {

		.image-grid {
			margin-bottom: 2em;
		}

			.image-grid .image {
				width: 100%;
			}

	}

/* Wrapper */

.wrapper {
	padding: 0em;
	position: relative;
}

	.wrapper > .inner {
		margin: 0 auto;
		width: 70em;
	}

	.wrapper.style1 {
		background-color: #EEE;
		color: #777;
	}

		.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
			color: #555;
		}

		.wrapper.style1 a {
			color: #51BAA4;
		}

		.wrapper.style1 strong, .wrapper.style1 b {
			color: #555;
		}

		.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
			color: #555;
		}

		.wrapper.style1 blockquote {
			border-left-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 code {
			background: #fff;
			border-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 hr {
			border-bottom-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 header p {
			color: #555;
		}

		.wrapper.style1 .feature {
			background-color: #fff;
		}

		.wrapper.style1 label {
			color: #555;
		}

		.wrapper.style1 input[type="text"],
		.wrapper.style1 input[type="password"],
		.wrapper.style1 input[type="email"],
		.wrapper.style1 select,
		.wrapper.style1 textarea {
			background-color: #fff;
			border-color: rgba(144, 144, 144, 0.25);
			color: inherit;
		}

			.wrapper.style1 input[type="text"]:focus,
			.wrapper.style1 input[type="password"]:focus,
			.wrapper.style1 input[type="email"]:focus,
			.wrapper.style1 select:focus,
			.wrapper.style1 textarea:focus {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

		.wrapper.style1 .select-wrapper:before {
			color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 input[type="checkbox"] + label,
		.wrapper.style1 input[type="radio"] + label {
			color: #777;
		}

			.wrapper.style1 input[type="checkbox"] + label:before,
			.wrapper.style1 input[type="radio"] + label:before {
				background-color: #fff;
				border-color: rgba(144, 144, 144, 0.25);
			}

		.wrapper.style1 input[type="checkbox"]:checked + label:before,
		.wrapper.style1 input[type="radio"]:checked + label:before {
			background-color: #fff;
			border-color: #51BAA4;
			color: #555;
		}

		.wrapper.style1 input[type="checkbox"]:focus + label:before,
		.wrapper.style1 input[type="radio"]:focus + label:before {
			border-color: #51BAA4;
			box-shadow: 0 0 0 1px #51BAA4;
		}

		.wrapper.style1 ::-webkit-input-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 :-moz-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 ::-moz-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 :-ms-input-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 .formerize-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 form.alt input[type="text"],
		.wrapper.style1 form.alt input[type="password"],
		.wrapper.style1 form.alt input[type="email"],
		.wrapper.style1 form.alt select,
		.wrapper.style1 form.alt textarea {
			background-color: transparent;
		}

		.wrapper.style1 ul.alt > li {
			border-top-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 table tbody tr {
			border-color: rgba(144, 144, 144, 0.25);
		}

			.wrapper.style1 table tbody tr:nth-child(2n + 1) {
				background-color: #fff;
			}

		.wrapper.style1 table th {
			color: #555;
		}

		.wrapper.style1 table thead {
			border-bottom-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 table tfoot {
			border-top-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 table.alt tbody tr td {
			border-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 input[type="submit"],
		.wrapper.style1 input[type="reset"],
		.wrapper.style1 input[type="button"],
		.wrapper.style1 button,
		.wrapper.style1 .button {
			background-color: #b12537;
			box-shadow: none;
			color: #fff !important;
			cursor: pointer
		}

			.wrapper.style1 input[type="submit"].icon:before,
			.wrapper.style1 input[type="reset"].icon:before,
			.wrapper.style1 input[type="button"].icon:before,
			.wrapper.style1 button.icon:before,
			.wrapper.style1 .button.icon:before {
				color: #0F1D3A;
			}

			.wrapper.style1 input[type="submit"]:hover,
			.wrapper.style1 input[type="reset"]:hover,
			.wrapper.style1 input[type="button"]:hover,
			.wrapper.style1 button:hover,
			.wrapper.style1 .button:hover {
				background-color: #626262;
			}

			.wrapper.style1 input[type="submit"]:active,
			.wrapper.style1 input[type="reset"]:active,
			.wrapper.style1 input[type="button"]:active,
			.wrapper.style1 button:active,
			.wrapper.style1 .button:active {
				background-color: #0F1D3A;
			}

			.wrapper.style1 input[type="submit"].special,
			.wrapper.style1 input[type="reset"].special,
			.wrapper.style1 input[type="button"].special,
			.wrapper.style1 button.special,
			.wrapper.style1 .button.special {
				background-color: #51BAA4;
				box-shadow: none;
				color: #fff !important;
			}

				.wrapper.style1 input[type="submit"].special:hover,
				.wrapper.style1 input[type="reset"].special:hover,
				.wrapper.style1 input[type="button"].special:hover,
				.wrapper.style1 button.special:hover,
				.wrapper.style1 .button.special:hover {
					background-color: #63c1ae;
				}

				.wrapper.style1 input[type="submit"].special:active,
				.wrapper.style1 input[type="reset"].special:active,
				.wrapper.style1 input[type="button"].special:active,
				.wrapper.style1 button.special:active,
				.wrapper.style1 .button.special:active {
					background-color: #45ad97;
				}

			.wrapper.style1 input[type="submit"].alt,
			.wrapper.style1 input[type="reset"].alt,
			.wrapper.style1 input[type="button"].alt,
			.wrapper.style1 button.alt,
			.wrapper.style1 .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #51BAA4;
				color: #51BAA4 !important;
			}

				.wrapper.style1 input[type="submit"].alt:hover,
				.wrapper.style1 input[type="reset"].alt:hover,
				.wrapper.style1 input[type="button"].alt:hover,
				.wrapper.style1 button.alt:hover,
				.wrapper.style1 .button.alt:hover {
					background-color: #fff;
				}

				.wrapper.style1 input[type="submit"].alt:active,
				.wrapper.style1 input[type="reset"].alt:active,
				.wrapper.style1 input[type="button"].alt:active,
				.wrapper.style1 button.alt:active,
				.wrapper.style1 .button.alt:active {
					background-color: rgba(144, 144, 144, 0.2);
				}

	.wrapper.style2 {
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
	}

		.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
			color: #fff;
		}

		.wrapper.style2 a {
			color: #51BAA4;
		}

		.wrapper.style2 strong, .wrapper.style2 b {
			color: #fff;
		}

		.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
			color: #fff;
		}

		.wrapper.style2 blockquote {
			border-left-color: transparent;
		}

		.wrapper.style2 code {
			background: rgba(255, 255, 255, 0.05);
			border-color: transparent;
		}

		.wrapper.style2 hr {
			border-bottom-color: transparent;
		}

		.wrapper.style2 header p {
			color: #fff;
		}

		.wrapper.style2 .feature {
			background-color: rgba(255, 255, 255, 0.05);
		}

		.wrapper.style2 label {
			color: #fff;
		}

		.wrapper.style2 input[type="text"],
		.wrapper.style2 input[type="password"],
		.wrapper.style2 input[type="email"],
		.wrapper.style2 select,
		.wrapper.style2 textarea {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: transparent;
			color: inherit;
		}

			.wrapper.style2 input[type="text"]:focus,
			.wrapper.style2 input[type="password"]:focus,
			.wrapper.style2 input[type="email"]:focus,
			.wrapper.style2 select:focus,
			.wrapper.style2 textarea:focus {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

		.wrapper.style2 .select-wrapper:before {
			color: transparent;
		}

		.wrapper.style2 input[type="checkbox"] + label,
		.wrapper.style2 input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style2 input[type="checkbox"] + label:before,
			.wrapper.style2 input[type="radio"] + label:before {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: transparent;
			}

		.wrapper.style2 input[type="checkbox"]:checked + label:before,
		.wrapper.style2 input[type="radio"]:checked + label:before {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: #51BAA4;
			color: #fff;
		}

		.wrapper.style2 input[type="checkbox"]:focus + label:before,
		.wrapper.style2 input[type="radio"]:focus + label:before {
			border-color: #51BAA4;
			box-shadow: 0 0 0 1px #51BAA4;
		}

		.wrapper.style2 ::-webkit-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 :-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 ::-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 :-ms-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 .formerize-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 form.alt input[type="text"],
		.wrapper.style2 form.alt input[type="password"],
		.wrapper.style2 form.alt input[type="email"],
		.wrapper.style2 form.alt select,
		.wrapper.style2 form.alt textarea {
			background-color: transparent;
		}

		.wrapper.style2 ul.alt > li {
			border-top-color: transparent;
		}

		.wrapper.style2 table tbody tr {
			border-color: transparent;
		}

			.wrapper.style2 table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.05);
			}

		.wrapper.style2 table th {
			color: #fff;
		}

		.wrapper.style2 table thead {
			border-bottom-color: transparent;
		}

		.wrapper.style2 table tfoot {
			border-top-color: transparent;
		}

		.wrapper.style2 table.alt tbody tr td {
			border-color: transparent;
		}

		.wrapper.style2 input[type="submit"],
		.wrapper.style2 input[type="reset"],
		.wrapper.style2 input[type="button"],
		.wrapper.style2 button,
		.wrapper.style2 .button {
			background-color: #fff;
			box-shadow: none;
			color: #1E2832 !important;
		}

			.wrapper.style2 input[type="submit"].icon:before,
			.wrapper.style2 input[type="reset"].icon:before,
			.wrapper.style2 input[type="button"].icon:before,
			.wrapper.style2 button.icon:before,
			.wrapper.style2 .button.icon:before {
				color: #a5a9ad;
			}

			.wrapper.style2 input[type="submit"]:hover,
			.wrapper.style2 input[type="reset"]:hover,
			.wrapper.style2 input[type="button"]:hover,
			.wrapper.style2 button:hover,
			.wrapper.style2 .button:hover {
				background-color: white;
			}

			.wrapper.style2 input[type="submit"]:active,
			.wrapper.style2 input[type="reset"]:active,
			.wrapper.style2 input[type="button"]:active,
			.wrapper.style2 button:active,
			.wrapper.style2 .button:active {
				background-color: #f2f2f2;
			}

			.wrapper.style2 input[type="submit"].special,
			.wrapper.style2 input[type="reset"].special,
			.wrapper.style2 input[type="button"].special,
			.wrapper.style2 button.special,
			.wrapper.style2 .button.special {
				background-color: #51BAA4;
				box-shadow: none;
				color: #fff !important;
			}

				.wrapper.style2 input[type="submit"].special:hover,
				.wrapper.style2 input[type="reset"].special:hover,
				.wrapper.style2 input[type="button"].special:hover,
				.wrapper.style2 button.special:hover,
				.wrapper.style2 .button.special:hover {
					background-color: #63c1ae;
				}

				.wrapper.style2 input[type="submit"].special:active,
				.wrapper.style2 input[type="reset"].special:active,
				.wrapper.style2 input[type="button"].special:active,
				.wrapper.style2 button.special:active,
				.wrapper.style2 .button.special:active {
					background-color: #45ad97;
				}

			.wrapper.style2 input[type="submit"].alt,
			.wrapper.style2 input[type="reset"].alt,
			.wrapper.style2 input[type="button"].alt,
			.wrapper.style2 button.alt,
			.wrapper.style2 .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #fff !important;
			}

				.wrapper.style2 input[type="submit"].alt:hover,
				.wrapper.style2 input[type="reset"].alt:hover,
				.wrapper.style2 input[type="button"].alt:hover,
				.wrapper.style2 button.alt:hover,
				.wrapper.style2 .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.05);
				}

				.wrapper.style2 input[type="submit"].alt:active,
				.wrapper.style2 input[type="reset"].alt:active,
				.wrapper.style2 input[type="button"].alt:active,
				.wrapper.style2 button.alt:active,
				.wrapper.style2 .button.alt:active {
					background-color: rgba(255, 255, 255, 0.1);
				}

	.wrapper.style3 {
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
		background-attachment: fixed;
		background-image: url("images/overlay.png"), url("../../images/pic11.jpg");
		background-size: cover;
	}

		.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
			color: #fff;
		}

		.wrapper.style3 a {
			color: #51BAA4;
		}

		.wrapper.style3 strong, .wrapper.style3 b {
			color: #fff;
		}

		.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
			color: #fff;
		}

		.wrapper.style3 blockquote {
			border-left-color: transparent;
		}

		.wrapper.style3 code {
			background: rgba(255, 255, 255, 0.05);
			border-color: transparent;
		}

		.wrapper.style3 hr {
			border-bottom-color: transparent;
		}

		.wrapper.style3 header p {
			color: #fff;
		}

		.wrapper.style3 .feature {
			background-color: rgba(255, 255, 255, 0.05);
		}

		.wrapper.style3 label {
			color: #fff;
		}

		.wrapper.style3 input[type="text"],
		.wrapper.style3 input[type="password"],
		.wrapper.style3 input[type="email"],
		.wrapper.style3 select,
		.wrapper.style3 textarea {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: transparent;
			color: inherit;
		}

			.wrapper.style3 input[type="text"]:focus,
			.wrapper.style3 input[type="password"]:focus,
			.wrapper.style3 input[type="email"]:focus,
			.wrapper.style3 select:focus,
			.wrapper.style3 textarea:focus {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

		.wrapper.style3 .select-wrapper:before {
			color: transparent;
		}

		.wrapper.style3 input[type="checkbox"] + label,
		.wrapper.style3 input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style3 input[type="checkbox"] + label:before,
			.wrapper.style3 input[type="radio"] + label:before {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: transparent;
			}

		.wrapper.style3 input[type="checkbox"]:checked + label:before,
		.wrapper.style3 input[type="radio"]:checked + label:before {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: #51BAA4;
			color: #fff;
		}

		.wrapper.style3 input[type="checkbox"]:focus + label:before,
		.wrapper.style3 input[type="radio"]:focus + label:before {
			border-color: #51BAA4;
			box-shadow: 0 0 0 1px #51BAA4;
		}

		.wrapper.style3 ::-webkit-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 :-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 ::-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 :-ms-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 .formerize-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 form.alt input[type="text"],
		.wrapper.style3 form.alt input[type="password"],
		.wrapper.style3 form.alt input[type="email"],
		.wrapper.style3 form.alt select,
		.wrapper.style3 form.alt textarea {
			background-color: transparent;
		}

		.wrapper.style3 ul.alt > li {
			border-top-color: transparent;
		}

		.wrapper.style3 table tbody tr {
			border-color: transparent;
		}

			.wrapper.style3 table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.05);
			}

		.wrapper.style3 table th {
			color: #fff;
		}

		.wrapper.style3 table thead {
			border-bottom-color: transparent;
		}

		.wrapper.style3 table tfoot {
			border-top-color: transparent;
		}

		.wrapper.style3 table.alt tbody tr td {
			border-color: transparent;
		}

		.wrapper.style3 input[type="submit"],
		.wrapper.style3 input[type="reset"],
		.wrapper.style3 input[type="button"],
		.wrapper.style3 button,
		.wrapper.style3 .button {
			background-color: #fff;
			box-shadow: none;
			color: #1E2832 !important;
		}

			.wrapper.style3 input[type="submit"].icon:before,
			.wrapper.style3 input[type="reset"].icon:before,
			.wrapper.style3 input[type="button"].icon:before,
			.wrapper.style3 button.icon:before,
			.wrapper.style3 .button.icon:before {
				color: #a5a9ad;
			}

			.wrapper.style3 input[type="submit"]:hover,
			.wrapper.style3 input[type="reset"]:hover,
			.wrapper.style3 input[type="button"]:hover,
			.wrapper.style3 button:hover,
			.wrapper.style3 .button:hover {
				background-color: white;
			}

			.wrapper.style3 input[type="submit"]:active,
			.wrapper.style3 input[type="reset"]:active,
			.wrapper.style3 input[type="button"]:active,
			.wrapper.style3 button:active,
			.wrapper.style3 .button:active {
				background-color: #f2f2f2;
			}

			.wrapper.style3 input[type="submit"].special,
			.wrapper.style3 input[type="reset"].special,
			.wrapper.style3 input[type="button"].special,
			.wrapper.style3 button.special,
			.wrapper.style3 .button.special {
				background-color: #51BAA4;
				box-shadow: none;
				color: #fff !important;
			}

				.wrapper.style3 input[type="submit"].special:hover,
				.wrapper.style3 input[type="reset"].special:hover,
				.wrapper.style3 input[type="button"].special:hover,
				.wrapper.style3 button.special:hover,
				.wrapper.style3 .button.special:hover {
					background-color: #63c1ae;
				}

				.wrapper.style3 input[type="submit"].special:active,
				.wrapper.style3 input[type="reset"].special:active,
				.wrapper.style3 input[type="button"].special:active,
				.wrapper.style3 button.special:active,
				.wrapper.style3 .button.special:active {
					background-color: #45ad97;
				}

			.wrapper.style3 input[type="submit"].alt,
			.wrapper.style3 input[type="reset"].alt,
			.wrapper.style3 input[type="button"].alt,
			.wrapper.style3 button.alt,
			.wrapper.style3 .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #fff !important;
			}

				.wrapper.style3 input[type="submit"].alt:hover,
				.wrapper.style3 input[type="reset"].alt:hover,
				.wrapper.style3 input[type="button"].alt:hover,
				.wrapper.style3 button.alt:hover,
				.wrapper.style3 .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.05);
				}

				.wrapper.style3 input[type="submit"].alt:active,
				.wrapper.style3 input[type="reset"].alt:active,
				.wrapper.style3 input[type="button"].alt:active,
				.wrapper.style3 button.alt:active,
				.wrapper.style3 .button.alt:active {
					background-color: rgba(255, 255, 255, 0.1);
				}

	@media screen and (max-width: 1280px) {

		.wrapper {
			padding: 	0;
		}

			.wrapper > .inner {
				width: 65em;
			}

	}

	@media screen and (max-width: 980px) {

		.wrapper {
			padding: 5em 3em 3em 3em;
		}

			.wrapper > .inner {
				width: 100%;
			}

	}

	@media screen and (max-width: 736px) {

		.wrapper {
			padding: 0em;
		}

	}

	@media screen and (max-width: 480px) {

		.wrapper {
			padding: 0em;
		}

	}

/* Header */

body {
	padding-top: 0;
}

	body.landing {
		padding-top: 0;
	}

	@media screen and (max-width: 980px) {

		body {
			padding-top: 0px;
		}

	}

#header {
	background: #07090c;
	color: rgba(255, 255, 255, 0.75);
	cursor: default;
	height: 3.25em;
	left: 0;
	line-height: 3.25em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 10001;
}

	#header > h1 {
		color: #fff;
		display: inline-block;
		height: inherit;
		left: 1.25em;
		line-height: inherit;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
	}

		#header > h1 a {
			font-size: 1.25em;
		}

	#header a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		color: #fff;
		display: inline-block;
		margin-right: 1.25em;
		text-decoration: none;
	}

		#header a[href="#nav"] {
			text-decoration: none;
			-webkit-tap-highlight-color: transparent;
		}

			#header a[href="#nav"]:before {
				content: "";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header a[href="#nav"]:before {
				margin: 0 0.5em 0 0;
			}

		#header a + a[href="#nav"]:last-child {
			border-left: solid 1px transparent;
			padding-left: 1.25em;
			margin-left: 0.5em;
		}

	#header.alt {
		background-color: transparent;
		font-size: 1.25em;
		padding: 1em 2em;
		position: absolute;
	}

		#header.alt > h1 {
			color: inherit;
			position: static;
			float: left;
		}

		#header.alt a[href="#nav"] {
			margin-right: 0;
		}

@media screen and (max-width: 980px) {

	body {
		padding-top: 0px;
	}

	#header {
		height: 44px;
		line-height: 44px;
	}

		#header > h1 {
			left: 1em;
		}

			#header > h1 a {
				font-size: 1em;
			}

		#header.alt {
			font-size: 1em;
		}

}

@media screen and (max-width: 480px) {

	#header {
		min-width: 320px;
	}

		#header > h1 {
			left: 1em;
		}

		#header.alt {
			padding: 0.5em 1em;
		}

}

/* Nav */

#nav {
	-moz-transform: translateX(20em);
	-webkit-transform: translateX(20em);
	-ms-transform: translateX(20em);
	transform: translateX(20em);
	-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-overflow-scrolling: touch;
	background: #07090c;
	box-shadow: none;
	color: #fff;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	padding: 3em 2em;
	position: fixed;
	right: 0;
	text-transform: uppercase;
	top: 0;
	visibility: hidden;
	width: 20em;
	z-index: 10002;
}

	#nav > ul {
		margin: 0 0 1em 0;
	}

		#nav > ul.links {
			list-style: none;
			padding: 0;
		}

			#nav > ul.links > li {
				padding: 0;
			}

				#nav > ul.links > li > a:not(.button) {
					border: 0;
					border-top: solid 1px transparent;
					color: inherit;
					display: block;
					line-height: 3.5em;
					text-decoration: none;
				}

				#nav > ul.links > li > .button {
					display: block;
					margin: 0.5em 0 0 0;
				}

				#nav > ul.links > li:first-child > a:not(.button) {
					border-top: 0 !important;
				}

	#nav .close {
		text-decoration: none;
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		-webkit-tap-highlight-color: transparent;
		border: 0;
		color: #a5a9ad;
		cursor: pointer;
		display: block;
		height: 3.25em;
		line-height: 3.25em;
		padding-right: 1.25em;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
		vertical-align: middle;
		width: 7em;
	}

		#nav .close:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#nav .close:before {
			font-size: 1.25em;
		}

		#nav .close:hover {
			color: #fff;
		}

		@media screen and (max-width: 736px) {

			#nav .close {
				height: 4em;
				line-height: 4em;
			}

		}

	#nav.visible {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
		visibility: visible;
	}

	@media screen and (max-width: 736px) {

		#nav {
			padding: 2.5em 1.75em;
		}

	} 
	.rounded {
		border-radius: .25rem!important;
		width: 150px;
		margin-bottom: 15px;
	}
	.help-block{ 
	    font-weight:400;
	    display: block;
		margin-top: 0px;
	    margin-bottom: 0px;
		color: #FFEB3B;
		font-size: 12px;
		background:#b12537;
		padding: 0px 5px;
	} 
	.success_box{background: #fff;
		text-align: center;
		padding: 40px;
		font-size: 16px;
		line-height: 22px;
	}
}