
*,
*:after,
*:before {
  box-sizing: border-box;
  
}

h1, h2, h3,h4,h5,h6{
    margin-top:0;
}
body {
  
  background-size: cover;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
    outline: 0px auto -webkit-focus-ring-color;
}

#banner{
    background-image: url(../images/banner.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    padding: 0 20px;
}

.navbar{
    min-height: 100px;
}

.container-fluid{
  padding: 0;
}

header{
  background-color: #fff;
}

.headerImage img{
  height: 112px;
  margin-left: 8em;
  padding: 0.5em 0;
}

.bodyContainer{
  background-color: #F5F5F5;
  padding-top: 2em;
}

.containerClass{
  background-color: #fff;
}

.marginTop5em{
  margin-top: 5em;
}

.thankYouImageSec{
  margin-top: 3em;
}

.fontWeight600{
  font-weight: 600;
}

.topHeader{
  margin: 1em 0;
  font-size: 40px;
}

.bottomPadding2em{
  padding-bottom: 2em;
}

.bottomPadding5em{
  padding-bottom: 5em;
}

.bigContent{
  font-size: 20px;
  margin: 1em 0;
}

.btn-primary{
  background-color: #FFCC00 !important;
  border-color: #FFCC00 !important;
}

.firstContainerButton{
  width: 50% !important;
    border-radius: 25px !important;
    font-size: 25px !important;
    color: #000 !important;
    margin: 0 auto !important;
    float: none !important;
    display: inherit !important;
}

.btn-primary:active:focus{
  outline: 0;
}

.content{
    margin-top: 60px;
}

.content h1{
    font-weight: 700;
}
.content .description{
    font-size: 22px;
    margin-top: 18px;
}

.howWework{
    background-color: #00a59b;
    padding: 20px;
    color: #fff;
    margin-top: 30px;
}

.howWework img{
    padding-right: 10px;
}

.work>.col-md-12, .col-md-8{
    padding: 0;
}



.panel {
  max-width: 457px;
  background: #000; 
  margin: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  position: absolute; 
  right: 0px;
  overflow: hidden;
  border-radius: 0;
}
.panel h1 {
  font-size: 42px;
  margin: 25px 0 15px;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #00A59B;
  
}
.panel h4 {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 5px;
  color: #FFF;
  border-bottom: 1px solid #fff;
}

.btn {  
  padding: 10px;  
  width: 100%;
  margin-top: 15px;
  background: #FF7043;
  border-radius: 0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.log-form {
  color: #fff;
  font-weight: 100;
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 0;
  border-radius: 25px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  left: 0;
  top: 0;
  position: relative;
  transition: 0s;
}

.log-form .close {
  position: absolute;
  top: 100%;
  right: 15px;
  font-size: 22px;
  opacity: 0;
}

.log-form .caption {
  font-weight: 100;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  min-height: 40px;
  padding-top: 13px;
  margin: 0;
  position: relative;
  margin-right: 15px;
  text-align: center;
}

.log-form .formset,
.log-form p {
  opacity: 0;
  position: relative;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -moz-transition: -moz-transform 0.5s 1s, opacity 1s 1s;
  -o-transition: -o-transform 0.5s 1s, opacity 1s 1s;
  -webkit-transition: -webkit-transform 0.5s, opacity 1s;
  
  transition: opacity 1s 1s, -webkit-transform 0.5s 1s;
  transition: transform 0.5s 1s, opacity 1s 1s;
  transition: transform 0.5s 1s, opacity 1s 1s, -webkit-transform 0.5s 1s;
}

.log-form p {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.log-form .form-group {
  border-color: #fff;
}

.log-form .form-group:after {
  background: #fff;
}

.log-form .form-group .form-label,
.log-form .form-group .form-control {
  color: #fff;
}
.log-form .form-group.focus:after {
  background: #fff;
}
.log-form .form-group.focus .form-label, .log-form .form-group.filled .form-label {
  color: #fff;
}
.log-form .btn {
  background: #fff;
  border-color: #eee;
}

.log-form.open {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  cursor: inherit;
  z-index: 50;
  border-radius: 0;
  -moz-transition: width 0.3s 0.4s, height 0.3s 0.8s, border-radius 1.5s;
  -o-transition: width 0.3s 0.4s, height 0.3s 0.8s, border-radius 1.5s;
  -webkit-transition: width 0.3s, height 0.3s, border-radius 1.5s;
 
  transition: width 0.3s 0.4s, height 0.3s 0.8s, border-radius 1.5s;
}
.log-form.open .close {
  top: 10px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 4;
}
.log-form.open .close:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 26px;
  right: 12px;
  top: 8px;
}
.log-form.open .caption {
  font-size: 50px;
  margin: 50px auto 15px;
}
.log-form.open .formset,
.log-form.open p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


.formset {
  padding: 25px;  
  margin: auto;
}

.form-group {
  border-bottom: 1px solid #fff;
  position: relative;
  margin-top: 35px;
}
.form-group:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #fff;
  width: 0px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -2px;
  opacity: 0;
  transition: 0.3s;
}
.form-group .form-control {
    border: none;
    height: 35px;
    position: relative;
    z-index: 2;
    padding: 5px;
    padding-bottom: 9px;
    background: none;
    color: #fff;
    width: 100%;
}

.form-group .form-control:focus, .form-group .form-control:active {
  box-shadow: none;
  outline: none;
}

.form-group .form-label {
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    min-height: 17px;
    text-align: left;
    position: absolute;    
    left: 0px;
    right: 0;
    transition: 0.3s;
    z-index: 1;
}

.form-group.focus:after {
  opacity: 1;
  width: 100%;
  background: #00A59B;
}

.form-group.focus .form-label, .form-group.filled .form-label {
  top: -20px;
  font-size: 12px;
  color: #00A59B;
}


.checkbox{
    position: relative;
    display: block;
    margin-top: 18px;
    margin-bottom: 18px;
}

.checkbox label, .policy{
    font-size: 12px;
    text-align: left;        
    color: #7B7B7B;
}

.policy{
    margin-top: 30px;
}
.policy a{
    color: #00A59B;
}

#questions .form-group .form-label{
    color: #000;
}

#questions .form-group .form-control {
    border: 1PX solid black;
    height: 50px;
    color: #000;
    font-weight: 600;
    border-radius: 0;
}

.questionInputSec{
  margin-top: 2em;
}

.questionInputSec label{
  margin-bottom: 1em;
}

.questionButton{
  width: 18%;
  background-color: #00A59B;
  margin: 0 auto;
  display: inherit;
}

.marginTop3em{
  margin-top: 3em;
}

.thankYouMessage{
  background-color: #00A59B;
    color: #fff;
    padding: 1em 2em;
}

.adverSec{
  text-align: center;
}

#thankyou{
  height: 100vh;
  background-image: url(../images/thank_you_background.png);
  background-size: cover;
}

#questions .form-group{
  border-bottom: 0;
}


@media (max-width: 600px){

    .topHeader {
        margin: 1em 0;
        font-size: 24px;
        line-height: 1.3em;
    }

    .headerImage img {
        height: 85px;
        margin-left: 1em;
        padding: 0.5em 0;
    }

    .bigContent {
      font-size: 14px;
      margin: 1em 0;
      text-align: justify;
      line-height: 1.5em;
    }

    .firstContainerButton {
        width: 92% !important;
        border-radius: 25px !important;
        font-size: 18px !important;
        color: #000 !important;
        margin: 0 auto !important;
        float: none !important;
        display: inherit !important;
    }

    #banner{
        padding: 0 5px;
        background: none;
        
    } 

    .content h1 {
        font-size: 30px;
    }

    .content .description {
        font-size: 16px
    }

    .panel{
        position: unset;
        margin-top: 3em;
    }

    .panel h1 {
        font-size: 22px;
    }  
    
    .btn{
        font-size: 13px;
    }

    .formset{
      padding: 10px;
    }

    .policy {
        margin-top: 40px;
    }

    .mobilePaddingZero{
      padding: 0;
    }

    #thankyou{
      background-image: url(../images/thank_you_mobile_bg.png);
      background-repeat: no-repeat;
      background-position: bottom;
      height: 640px;
    }

}



