
@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-Medium.woff);
  }
  

body{
    font-family: montserrat;
}

.paddingZero{
    padding: 0px;
}

.firstContainer{
    width: 1000px;
}

.secondContainer{
    width: 800px;
    margin-top: 3em;
}

header{
    padding: 10px;
}

header img{
    height: 80px;
}

.rightLogo{
    float: right;
}

.headerContent{
    background-color: #000;
    height: 75px;
    text-align: center;
}
.headerContent p{
    color: #0defda;
    margin: 0;
}

.fistPara{
    padding-top: 18px;
}

.formSection h3{
    font-size: 20px;
    font-weight: 600;
}

.addressIconInput{
    background: none;
}

.mobileIconInput{
    background: none;
    font-size: 18px;
}

.addressInput{
    border-left: 0;
}

.mobileInput{
    border-left: 0;
}

.otpInput{
    border-left: 0;
}

#agree{
    position: relative;
    top: -8px;
}

.formError{
    font-size: 15px;
    color: red;
    font-weight: 600;
}

label {
    display: inline-block;
    max-width: 89%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 9px;
    margin-left: 6px;
}

.input-group{
    margin: 1.5em 0;
    box-shadow: 1px 5px 5px -5px rgba(0, 0, 0, 0.38);
}

.selectCity select{
    width: 100%;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
}

.btn-primary {
    color: #000;
    background-color: #0defda;
    border-color: #0defda;
    font-weight: 600;
    padding: 10px 20px;
    width: 100%;
}

.btn-primary:hover {
    color: rgb(255, 255, 255);
    background-color: #62ac48;
    border-color: #0defda;
}

.btn-primary.active, .btn-primary:active, .btn-primary:active:hover{
    color: #000;
    background-color: #0defda;
    border-color: #0defda;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.btn-primary.focus, .btn-primary:focus{
    color: #000;
    background-color: #0defda;
    border-color: #0defda;
    outline: none;
}

.submitOtp{
    background-color: #0defda;
    color: #000;
    border: 0;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 3px;
}

.resendOtp{
    background-color: #f3b561;
    color: #000;
    border: 0;
    padding: 2px 5px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 11px;
}

.otpInputContain{
    width: 65%;
    float: left;
}

.submitbtncontainer{
    display: inline-block;
    float: left;
    margin: 1.5em 0 1.5em 0.5em;
    font-size: 12px;
}

.disclaimer{
    font-size: 12px;
}

.cityHead{
    font-size: 12px;
    margin-top: 1.5em;
}

.cities{
    font-size: 10px;
}

.pageFooter{
    text-align: center;
}

.pageFooter img{
    width: 55%;
}


@media only screen and (max-width: 600px) {

    header{
        text-align: center;
    }

    .leftLogo{
        height: 65px;
        margin: 10px;
    }

    .rightLogo{
        height: 65px;
        margin: 10px;
        float: none;
    }

    .firstContainer{
        width: auto;
    }
    
    .secondContainer{
        width: auto;
    }

    .headerContent {
        background-color: #000;
        height: 80px;
        text-align: center;
        padding: 2px;
    }

    .headerContent p{
        font-size: 11px;
        line-height: 2;
        font-weight: 500;
    }

    .widthTwo{
        margin-top: 2em;
    }

    .pageFooter img {
        width: 100%;
    }

    form{
        text-align: center;
    }

    .otpInputContain {
        width: 73%;
        float: left;
    }

    .cityHead{
        font-size: 14px;
        margin-top: 1.5em;
        text-align: center;
    }

    .cities {
        font-size: 12px;
        text-align: center;
    }
}

