
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'ABeeZee', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Convergence', sans-serif;
}	
p{
	margin:0;
	font-family: 'ABeeZee', sans-serif;
	letter-spacing:1px;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- banner --*/
.banner{
	background:url(../images/vitalcare_desk.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
    -ms-background-size:cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}
.banner-2{
	background:url(../images/bg1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:365px;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-nav > li > a {
    padding: 10px 15px 10px;
    font-size: 1.1em;
    letter-spacing: 1px;
}
.navbar-header {
    float: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: none;
	background:transparent;
}

nav ul {
	list-style: none;
	text-align: center;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}
nav ul li a:hover {
	color: #555;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background:#1a237e;
	height: 1px;
}
nav.stroke ul li.active a:after,
nav.fill ul li.active a:after {
	display:none;
}
nav.stroke ul li a:hover:after {
	width: 100%;
}
nav.fill ul li a {
	transition: all 2s;
}
nav.fill ul li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}
nav.fill ul li a:hover {
	color: #fff;
	z-index: 1;
}
nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    border-bottom: 1px solid #1a237e;
    background: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#fff;
}
.navbar-nav > li {
    float: none;
    display: block !important;
}

.logo {
    text-align: left;
}
.logo a{
    width:120px;
    display: block;
    padding: 12px 0;
    margin: 0 auto;
    
}
.baner-contents {
	background: rgba(255, 255, 255, 0.47058823529411764);
    padding: 25px 20px;
    width: 90%;
}
.form-group i.fa{
    color: #032668;    
    font-size: 1.2em;
    font-weight: 600;
}
.input-group .form-control, .select2-selection__rendered{
    color: #032668!important;
    font-size: 1.2em;
    font-weight: 600;
}
.input-group .form-control::placeholder {
    color: #032668;
  }
.logo a img{
    width:100%;
}
.logo-w3l {
    font-size: 3em;
	color:#fff;
}
.logo h1 a {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Convergence', sans-serif;
}
.logo h1 a span {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-top: 0.5em;
}
.banner-content-block{
    display: flex;
    width: 100%;
    align-items: center;
}
.banner-content-block .title{
    color: #0158a9;
}
.banner-content-block .description{
    color: #0158a9;
    margin: 15px 0;
}
.ph-agile {
    text-align: center;
}
.ph-agile i {
    font-size: 1.5em;
    color: #fff;
	padding-top: 10px;
}
.ph-agile p span {
    font-size: 1.1em;
    color: #fff;
    margin-left: 0.5em;
	letter-spacing: 0px;
}
.ph-agile p{
	background: #1a237e;
    width: 170px;
    height: 46px;
    line-height: 2.5;
	display: inline-block;
}
/*-- banner-text --*/ 
.header-w3layouts{
    position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 3em;
    margin: 0;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 700;
}
.agileits-banner-info h3 span{
	    background: #2529d8;
    padding: 0 15px;
}
.agileits-banner-info {
    text-align: center;
	padding-top: 1em;
}
.agileits-banner-info p {
    color: #cac8c9;
    font-size: 1em;
    line-height: 1.9em;
    letter-spacing: 7px;
    margin: 2em auto;
    font-weight: 500;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	color:#fff;
}
.agileits_w3layouts_more a:before, .agileits_w3layouts_more a:after {
    content: '';
    background: #fff;
    width: 45%;
    height: 2px;
    position: absolute;
    left: 25%;
    top: 181%;
}
.agileits_w3layouts_more a:after{
	-webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
	-webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.agileits_w3layouts_more a:hover::before, .agileits_w3layouts_more a:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.agileits_w3layouts_more a::after {
    background:#f39c12;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background: url(../images/right.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background: url(../images/left.png) no-repeat 0px 0px;
    left: -58px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display:block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 106%;
    left: 46%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li {
    display:inline-block;
    margin: 0px 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:16px;
    width:16px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
       background: #1a237e;
}
/*-- //slider --*/
/*-- //banner-text --*/
/*-- Appointment-form --*/
.app-w3 {
    background: rgba(255, 255, 255, 0.54);
    margin: 2em 0;
    padding-bottom: 4em;
	border: 2px dashed #1a237e;
	left: 5%;
}
.package-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
a.package-btn {
    background: #0158a9;
    color: #fff;
    padding: 10px 15px;
    margin: 12px 8px;
    font-size: 1.2em;
}
#frm-sbmtbtn{
    color: #fff;
    background-color: #1A237E;
    width: 40%;
    margin: 0 auto;
    display: block;
    border:none;
}
.app-sub-w3 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 1.5em 1em 2.5em;
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.19);
    margin-top: 1em;
}
.app-sub-w3 input[type="text"], .ag-w3 {
    width: 19%;
    outline: none;
    font-size: 0.9em;
    padding: 13px 10px;
    border: none;
    color: #abaaaa;
    font-weight: 100;
    -webkit-appearance: none;
    background: #fff;
    display: inline-block;
    text-align: left;
}
input#timepicker {
    display: inline-block;
    border-radius: 0px !important;
	padding: 13px 10px;
    height: inherit;
}
.app-sub-w3 form input[type="submit"] {
    text-transform: uppercase;
    background: #1a237e;
    color: #FFFFFF;
    padding: .75em 0em;
    border: 1px solid #ee4f4f;
    font-size: 1em;
    outline: none;
	width: 18%;
	letter-spacing:1px;
    font-weight: 600;
    margin-top:1em;
	margin-left:2em;
	cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.app-sub-w3 form input[type="submit"]:hover{
	background:#ee4f4f;
	border:1px solid #1a237e;
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.app-w3 h4 {
    font-size: 1.8em;
    text-align: center;
    padding: 0em 0em 0.8em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.agile1, .ph-agile {
    padding-top: 3em;
}
li.dropdown.menu__item {
    list-style: none;
}
a.dropdown-toggle.menu__link {
    color: #abaaaa;
    font-size: 1em;
}
.caret {
    float: right;
    margin-top: 9px;
}
.dropdown-menu {
    top: 125% !important;
    left: -10px !important;
}
.dropdown-menu {
    min-width: 140px !important;
}
.ag-w3 .dropdown-menu {
    top: 153% !important;
}
.ag-w3 .dropdown-menu {
    min-width: 235px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #1a237e !important;
}
/*-- //Appointment-form --*/
/*-- //banner --*/

/*-- About --*/
.welcome-img {
    overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px 0px #656060;
	-moz-box-shadow: 0px 0px 10px 0px #656060; 
    box-shadow: 0px 0px 10px 0px #656060;
}
.welcome-left .img-responsive {
    width: 100%; 
}
.welcome-left-grids {
    padding: 0;
    margin-top: 3em;
}
.welcome-left-grids:nth-child(2) {
    padding-right: 0.5em;
}
.welcome-left-grids:nth-child(3) {
    padding-left: 0.5em;
}
.welcome-left p {
    font-size: 1em;
    color: #777;
    line-height: 1.9em;
    margin-top: 2em;
}
.open-hours-row {
    background: #83d6ff;
    border:2px dotted #1a237e;
}
.open-hours-left {
    padding: 4.06em 0;
    text-align: center;
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
    transition: .5s all;
	background: #ee4f4f
}
.open-hours-left:nth-child(1) {
    background: #1a237e;
    padding: 3em 0;
}
.open-hours-left:nth-child(3) {
    border-left: 2px dashed #1a237e;
    border-right: 2px dashed #1a237e;
}
.open-hours-left h4 {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.8em;
}
.open-hours-left h6 {
    font-size: 1em;
    color: #f1efef; 
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
	transition: .5s all;
}
.open-hours-left:hover h6{
    color: #fff;
}
.open-hours-left h5 {
    font-size: 1.3em;
    color: #000;
    margin-top: 0.5em;
    font-weight: 700;
}
.open-hours-left:hover {
    background: #1a237e;
}
img.zoom-img{
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
}
img.zoom-img:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	overflow: hidden;
}
/*-- //about --*/

/*-- Services --*/
.feature-w3l, .tips.w3agile, .welcome, .team, #review, .events, .blog, .codes, .typo, #gallery, .mail {
    padding: 5em 0;
	text-align:center;
}
.codes{
	text-align:left;
}
.feature-grid:hover h4 {
    color: #1a237e;
}
.feature-grid h4 {
    font-size: 1.73em;
	margin-top: 0.5em;
	color: #ee4f4f;
}
.feature-grid p {
    font-size: 1em;
    line-height: 1.9em;
    color: #777;
}
.feature-grid span {
    width: 15%;
    display: block;
    background: #1a237e;
    height: 2px;
    margin: 1.3em auto;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.feature-grid:hover span {
    width: 35%;
	background: #ee4f4f;
}
.feature-grid:hover div.icons i {
    background: #ee4f4f;
}
.what-left {
    float: left;
    width: 15%;
    text-align: center;
}
.what-right {
    float: left;
    width: 85%;
}
.what-grid1 h4 {
    font-size: 1.8em;
    color: #007ea3;
}
.what-grid1 p {
    font-size: 1em;
    line-height: 1.8em;
    padding-top: 0.8em;
}
.what-grid1 i {
    height: 60px;
    width: 60px;
    margin: 3px;
    font-size: 1.3em;
    border-radius: 15%;
    line-height: 60px;
    text-align: center;
    background: #f47721;
    color: #fff;
}
/*-- effect-7 css --*/
.text-desc{
	position: absolute; 
	left: 0; 
	top: 0; 
	background: #ee4f4f;
	height: 100%; 
	opacity: 0; 
	width: 100%; 
	padding: 20px;
}
.port-7{ 
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.9);
    overflow: hidden;
    box-shadow: 0px 0px 12px 0px #969696;
}
.port-7 .text-desc{
	opacity: 0; 
	transition: 0.5s; 
	color: #000;
}
.port-7.effect-2 img{
	transition: 0.5s; 
	position: relative; 
	width: 100%; 
	top: 0;
}
.port-7.effect-2:hover img{
	top: 50%;
}
.port-7.effect-2 .text-desc{
	transform: perspective(600px) rotateX(90deg);
	transform-origin: top center 0; 
	width: 100%; 
	position: absolute; 
	left: 0; 
	top: 0; 
	height: 50%; 
	padding:32px 10px 0;
}
.port-7.effect-2:hover .text-desc{
	opacity: 1; 
	transform: perspective(600px) rotateX(0deg);
	z-index: 99;
}
.text-desc h4 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}
.text-desc p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
}
h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
    font-size: 3em;
    color: #333;
    text-align: center;
    text-transform: uppercase;
	margin-bottom:1.3em;
}
h3.tittle span, h3.tittle-one span, .agile-title h3 span, h4.tittle-two span, .team-heading h3 span, .team-w3l h3 span, h3.w3l-sing span, h3.tittle-agw3 span, h3.tittle-agilew3 span, h3.w3l_head span, h3.mail-w3 span{
    display: block;
    width: 86px;
    height: 2px;
    background: #1a237e;
    margin: 13px auto 0;
}
.icons-w3 i {
    height: 180px;
    width: 180px;
    margin: 3px;
    font-size: 4em;
    border-radius: 100%;
    line-height: 172px;
    text-align: center;
    background: #1a237e;
    color: #fff;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.icons-w3 i:hover {
    background: #ee4f4f;
	 -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
/*-- //Services --*/

/*-- What-we-do --*/
.tips.w3agile {
    background: #eee;
}
.tip-grid img{
	width:100%;
}
.tip-grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
/* Common style */
.tip-grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.tip-grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.tip-grid figure figcaption {
    padding: 2px 25px 0px 25px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tip-grid figure figcaption,
.tip-grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tip-grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.tip-grid figure h4,
.grid figure p {
	margin: 0;
}

.tip-grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/***** Julia *****/

figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	max-width: none;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


figure.effect-julia h4 {
    color: #ee4f4f;
    font-size: 2em;
    position: relative;
    padding: 0.5em 0;
    font-weight: 500;
	margin-bottom: 2em;
}

figure.effect-julia p {
    display: block;
    margin: 0.4em auto;
    padding: 7px 0px;
    background: rgba(0, 0, 0, 0.76);
    color: #fff;
    text-transform: none;
    font-size: 14px;
    text-align: center;
    width: 93%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-500px,0,0);
    transform: translate3d(-500px,0,0);
}
figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //What-we-do --*/

/*-- Testimonials --*/
#review {
    background: url("../images/tes.jpg") no-repeat 0px 0px;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    min-height: 540px;
}
h3.title {
	  color:#333;
	  font-size:3em;
	  text-align:center;
}
h3.tittle-two{
	  color:#fff;
}
.test-monials h5{
    font-size: 2em;
    color: #ee4f4f;
    text-transform: none;
    margin-top: 0.7em;
	
}
.test-review p {
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
    margin: 2em 1em;
	color:#fff;
}
.test-review img{
	 border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	    box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -o-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
    -ms-box-shadow:0 10px 20px rgba(0, 0, 0, 0.41);
}
.test-review p img {
    margin: 0 10px!important;
	box-shadow:none;
}
.test-review img {
    margin: 0 auto;
}
.test-monials {
    text-align: center;
}
.test-left-img{
	background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:700px;
}
/*-- //Testimonials --*/

/*-- Footer --*/
.footer {
    padding: 2em 0em;
    background: #1a237e;
    position: relative;
    color: #fff;
    text-align: center;
}
.ftr-grid h3, .services-grids h3{
    color: #1a237e;
    font-size: 1.6em;
	letter-spacing:1px;
	margin-bottom: 0.5em;
}
.ftr-grid p {
    font-size: 1em;
    color: #999;
    line-height: 2;
    margin-top: 5%;
}
.ftr-grid.fg1 a {
    color: #fff;
    margin-top: 0.5em;
    display: inline-block;
    font-size: 1em;
}
.ftr-text p a {
    color: #999;
}
.ftr-text p a:hover {
    color: #fff;
	transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.ftr-grid ul {
    padding: 0em;
    list-style: none;
}
.ftr-grid ul li {
    font-size: 0.95em;
    color: #fff;
    line-height: 1.8em;
}
.local {
    float: left;
    width: 13%;
}
.ftr-text {
    float: right;
    width: 86%;
}
.local i {
    font-size: 1.5em;
    color: #fff;
    margin-top: 41%;
}
.logo-fo {
    text-align: center;
}
.logo-fo h2 a {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Convergence', sans-serif;
}
.logo-fo h2 a span {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-top: 0.5em;
}
.right-w3l.fotw3 {
    width: 100%;
    margin-top: 11%;
    text-align: left;
}
ul.top-links li {
    display: inline-block;
    margin-left: 12px;
}
.right-w3l ul.top-links li a i.fa {
    color: #fff;
    background-color: #1a237e;
    width: 35px;
    height: 35px;
    font-size: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    line-height: 35px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.right-w3l ul.top-links li a i.fa:hover {
    background-color: #ee4f4f;
}
.right-w3-2 {
    float: right;
    width: 82%;
}
.right-w3-2 ul.text-w3 li a {
    color: #999;
    font-size: 1.1em;
    margin: 16px 0px 4px;
    display: inline-block;
    letter-spacing: 1px;
    vertical-align: top;
}
.fotw3 ul.top-links li a i.fa:hover , .fotw33 ul.top-links li a i.fa:hover {
    background-color: #478bca;
}
.services-grids ul {
    list-style: none;
    margin-top: 2em;
    padding: 0;
}
.services-grids ul li:nth-child(1) {
  margin: 0;
}
.services-grids ul li {
    padding-bottom: 1em;
}
.services-grids ul li a {
    color: #999;
    font-size: 1em;
    padding-left: 10px;
    font-weight: 300;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
i.fa.fa-angle-double-right {
    font-size: 1em;
    color: #ee4f4f;
}
.services-grids ul li a:hover{
	color:#ee4f4f;
	padding-left: 1em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
li.get-w3 a {
    color: #fff;
    font-size: 1.1em;
}
li.get-w3 {
    background: #ee4f4f;
    padding: 0.5em 1em;
    margin-right: 11em;
}
li.get-w3 a i {
    margin-right: 0.8em;
}
.right-w3l {
    position: absolute;
    top: -7%;
    right: 26%;
}

.copyrights {
    text-align: center;
    padding-top: 2em;
}
.copyrights p {
    color: #fff;
    letter-spacing: 2px;
    font-size: 1em;
}
.copyrights p a {
    color: #1a237e;
}
.copyrights p  a:hover{
    color: #fff;
}
/*-- //Footer --*/

/*-- Inner-Pages --*/
/*-- team --*/

.team{
	
    background-size:cover;
    
}
.team .container{
    background-color: rgba(26, 35, 126, 0.14901960784313725);
    padding: 25px 0;
}
.fittness{
    background:url(../images/fitnesscare-tab.jpg) no-repeat 0px 0px;
}
.evergreen{
    background:url(../images/evergreencare_desk.jpg) no-repeat 0px 0px;
}
.completecare{
    background:url(../images/completecaresm.jpg) no-repeat 0px 0px;
}
.vitalcare{
    background:url(../images/vitalcare_desk.jpg) no-repeat 0px 0px;
}
.activecare{
    background:url(../images/activecare.jpg) no-repeat 0px 0px;
}
.jarallax {
    margin: 24px 0 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.team-heading h3{
    color:#fff;
    margin-bottom: 13px;
}
.team-heading p{
    color: #fff;
    font-size: 1.5em;
    margin: 0em auto 0;
}
.agileits-team-grids {
    margin: 4em 0 0 0;
}
.team-info{
    position: relative;
    overflow: hidden;	
}
.team-info img{
	width:100%;
	border:solid 2px #333333;
}
.team-caption h4{
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 600;
    margin: .5em 0 0 0;
}
.team-caption p {
    color: #000;
    font-size: .9em;
    margin-top: 0.4em;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
	color: #333;
    text-align: center;
}
.team-caption ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-twitter:hover{
	background: #33ccff;
}
.team-caption ul li a i.fa.fa-google-plus{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-google-plus:hover{
	background: #DD4B39;
}
.team-caption {
    background: #1a237e;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 154px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- //team --*/

/*-- News --*/
.w3l-event-grid a{
	display:block;
}
.w3l-event-grid a img{
	width:100%;
}
.news-grid-info {
    margin-top: 1em;
}
.news-grid-info a {
    font-size: 1.3em;
    color: #ee4f4f;
    text-decoration: none;
    font-weight: 600;
	text-transform: capitalize;
}
.news-grid-info a:hover{
	color:#1a237e;
}
.news-grid-info h5 {
    color: #000;
    font-size: 1.1em;
    margin: 1em 0;
}
.news-grid-info p {
    color: #777;
    font-size: 1em;
    margin: 1em 0 0 0;
    line-height: 1.9em;
}
a.re-w3 {
    border: 1px solid #000;
    width: 29%;
    margin: 1em auto;
    padding: 0.6em 0em;
    font-size: 1em;
    letter-spacing: 1px;
    color: #1a237e;
}
a.re-w3:hover {
    color:#ee4f4f;
}
/*-- //News --*/

/*-- Single-Page --*/
.response {
    margin: 1em 0 4em;
}
.response h3 {
    color: #000000;
    font-size: 1.5em;
    margin: 0 0 .5em 0;
    font-weight: 800;
    line-height: 1.4em;
}
.media.response-info {
    margin-top: 3em;
}
.media-left.response-text-left {
    width: 13%;
    float: left;
}
.media-left.response-text-left a img {
    width: 100%;
}
.media-left.response-text-left h5 a {
    color: #1a237e;
}
.media-left.response-text-left h5 a:hover {
    color: #3b3b3b;
	text-decoration:none;
}
.response-text-left h5 {
    font-size: 1em;
    margin: 1em 0 0 0;
}
.response-text-right p {
    color: #999999;
    font-size: .9em;
    margin: 0em 0 2em 0;
    line-height: 1.8em;
}
.response-text-right ul {
    padding: 0;
    text-align: right;
}
.response-text-right ul li {
	display: inline-block;
    color: #b7b7b7;
    font-size: .9em;
    margin-right: 1em;
}
.response-text-right ul li a {
    color: #1a237e;
    text-decoration: none;
}
.response-text-right ul li a:hover {
    color: #3b3b3b;
}
.media.response-info {
    margin-top: 1em;
}
.opinion h3{
    color: #000000;
    font-size: 1.5em;
    margin: 0 0 .5em 0;
    font-weight: 800;
    line-height: 1.4em;
}
.opinion form{
    margin: 1em 0 0 0;	
}
.opinion form input[type="text"], .opinion form input[type="email"] {
    width: 100%;
    color: #999999;
    outline: none;
    font-size: .9em;
    padding: .5em;
    margin: 0 .5em 1em 0;
    border: solid 1px #999999;
    -webkit-appearance: none;
    background: none;
}
.opinion form textarea {
    resize: none;
    width: 100%;
    color: #999999;
    font-size: .9em;
    outline: none;
    resize: none;
    padding: .5em;
    border: solid 1px #999999;
    min-height: 125px;
	background: none;
}
.opinion form input[type="submit"] {
    color: #1a237e;
    font-size: 1em;
    padding: .5em 0em;
    border: solid 2px #1a237e;
    text-align: center;
    text-decoration: none;
    width: 22%;
    margin: 1em 0 0 0;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin: 1em auto;
    display: inherit;
}
.opinion form input[type="submit"]:hover {
	background: #1a237e;
    color: #FFFFFF;
}
/*-- blog --*/
.blog{
	text-align:left;
}
.agile-blog-grid-left-img a img{
	width: 100%;
    margin-bottom: 1em;
}
.blog-left-left{
    float: left;
    width: 100px;
    height: 100px;
    background: #1a237e;
    text-align: center;
    padding: 1.6em 0 0 0;
}
i.fa.fa-pencil{
	color:#FFFFFF;
	font-size:2.5em;
}
.blog-left-right {
    float: left;
    width: 83%;
    margin-left: 1em;
}
.blog-left-right-top h4{
    color: #000000;
    font-size: 1.4em;
    margin: 0 0 .5em 0;
    font-weight: 800;
    line-height: 1.4em;
}
.blog-left-right-top h4 a{
	text-decoration:none;
    color: #000000;
}
.blog-left-right-top h4 a:hover{
	color:#1a237e;
}
.blog-left-right-top p {
    margin: 0 0 1em;
    font-size: .9em;
    font-weight: 500;
    color: #333333;
}
.blog-left-right-top p a {
    color: #1a237e;
    text-decoration: none;
}
.blog-left-right-top p a:hover{
	color:#000000;
}
.blog-left-right-bottom p{
    color: #999999;
    font-size: .9em;
    margin: 1em 0 2em 0;
    line-height: 1.8em;	
}
.blog-left-right-bottom p span{
	display:block;
	margin:1em 0 0 0;
}
.blog-left-right-bottom a {
    color: #1a237e;
    font-size: 1em;
    padding: .5em 1em;
    border: solid 2px #1a237e;
    text-align: center;
    text-decoration: none;
    margin: 2em auto 0;
    background: none;
}
.blog-left-right-bottom a:hover {
    background: #1a237e;
    color: #FFFFFF;
}
.agile-blog-grid:nth-child(2){
	margin:2em 0;
}
.categories h3 {
    color: #000000;
    font-size: 1.5em;
    margin: 0 0 .5em 0;
    font-weight: 800;
    line-height: 1.4em;
}
.categories ul {
    margin: 1em 0 0 0;
    padding: 0;
}
.categories ul li {
    display: block;
    background: url(../images/arrow.png) no-repeat 0px 2px;
    margin-bottom: 1em;
}
.categories ul li a {
    font-size: .9em;
    margin: 0;
    color: #999999;
    padding-left: 2em;;
}
.categories ul li a:hover {
    color: #ee4f4f;
    text-decoration: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.categories:nth-child(2) {
    margin: 1em 0 0 0;
}
.pagination {
    margin: 4em 0 0 0;
}
.pagination > li > a, .pagination > li > span {
    color: #999999;
}
/*-- //blog --*/
/*-- //Single-Page --*/

/*-- Short-codes --*/
.code-banner{
    padding: 1em 0 2em;	
}
.codes-heading {
    text-align: center;
}
h3.hdg {
    font-size: 2.5em;
	color:#1a237e !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 1.2em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 5px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
.grid_4 {
    margin-top: 30px;
}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*-- //Shortcodes --*/

/*-- icons --*/
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons li .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.icons a {
    color: #999;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
/*-- //icons --*/

/*-- Gallery --*/
.agileits_portfolio_grids {
    margin: 2em 0 0 0;
}
.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  margin-bottom: 7px;
}

.hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
}

 .hovereffect h4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    background-color: rgba(0, 0, 0, 0.68);
    color: #ee4f4f;
    padding: 0.5em 0em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    letter-spacing: 2px;
    margin-top: 3.5em;
}

.hovereffect p{
	color: #FFF;
    line-height: 1.8em;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect:hover p, .hovereffect:hover h4 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.agileits_portfolio_grid {
    padding: 0 4px;
}
/*-- //Gallery --*/

/*-- Mail --*/
.w3agile_mail_grid input[type="text"], .w3agile_mail_grid input[type="email"], .w3agile_mail_grids textarea {
    outline: none;
    border: 2px solid #000;
    font-size: 14px;
    color: #898484;
    padding: 10px;
    width: 47%;
    background: #fff;
}
.w3agile_mail_grid input[type="email"],.w3agile_mail_grid input[type="text"]:nth-child(2){
	margin:1em 0 2em;
}
.w3agile_mail_grid input[type="text"] {
    margin-right: 2.1em;
}
.w3agile_mail_grids textarea {
    resize: none;
    min-height: 18em;
    margin: 0 auto;
    width: 97.3% !important;
}
.w3agile_mail_grids input[type="submit"] {
    outline: none;
    border: none;
    font-size: 1em;
    color: #fff;
    padding: 0.8em 0em;
    width: 21%;
    background: #ee4f4f;
    margin: 2em auto 0em;
    text-transform: uppercase;
}
.w3agile_mail_grids input[type="submit"]:hover{
	background:#1a237e;
}
.faq li {
    margin-top: 0.5em;
}
.faq li:nth-child(1) {
    margin: 0;
}
.faq li a {
    padding: 1.2em;
    width: 100%;
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    background: #1a237e;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.faq li a:hover,.faq li a.active{
	color: #fff;
	background:#ee4f4f;
}
.faq span.glyphicon {
    margin-left: 1em;
    vertical-align: middle;
    font-size: 1.1em;
    top: 0;
}
.faq li a.active span.glyphicon {
	-webkit-transform: rotatex(180deg);
	transform: rotatex(180deg);
	-moz-transform: rotatex(180deg);
	-o-transform: rotatex(180deg);
	-ms-transform: rotatex(180deg);
}
.faq iframe {
    width: 100%;
    min-height: 25em;
    border: none;
	margin:0 0 -6px;
}
/*-- //Mail --*/
/*-- //Inner-Pages --*/


	/*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){
	.test-review p {
		margin: 2em 0em;
	}
	.right-w3l {
		right: 23%;
	}
	.app-sub-w3 {
		width: 86%;
	}
	.ag-w3 .dropdown-menu {
		min-width: 227px !important;
	}
}
@media(max-width: 1366px){
	.agileits-banner-info h3 {
		font-size: 2.8em;
	}
	.banner {
		min-height:100vh;
	}
	.app-w3 {
		margin-top: 2em;
		padding-bottom: 3em;
	}
	.app-sub-w3 {
		margin-top: 0.3em;
	}
	.app-sub-w3 {
		width: 90%;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 2.8em;
	}
	.feature-w3l, .tips.w3agile, .welcome, .team, #review, .events, .blog, .codes, .typo, #gallery, .mail {
		padding: 4.5em 0;
	}
	.test-review p {
		letter-spacing: 0px;
	}
	.right-w3l {
		right: 22%;
	}
	.banner-2 {
		min-height: 340px;
	}
}
@media(max-width: 1280px){
	.logo h1 a, .logo-fo h2 a {
		font-size: 1.1em;
	}
	.agileits-banner-info h3 {
		font-size: 2.6em;
		letter-spacing: 5px;
	}
	.app-w3 {
		margin-top: 9em;
	}
	.banner {
		min-height: 761px;
	}
	.app-w3 h4 {
		font-size: 1.7em;
	}
	.app-sub-w3 {
		width: 92%;
	}
	.ag-w3 .dropdown-menu {
		min-width: 214px !important;
	}
	.right-w3l {
		right: 19.5%;
	}
}
@media(max-width: 1080px){
	.logo h1 a, .logo-fo h2 a {
		font-size: 1em;
	}
	.agileits-banner-info h3 {
		font-size: 2.4em;
		letter-spacing: 4px;
	}
	.agileits-banner-info p {
		margin: 1.5em auto;
	}
	.callbacks_tabs {
		left: 44.5%;
	}
	.app-w3 {
		margin-top: 8em;
	}
	.banner {
		min-height: 700px;
	}
	.agileits-banner-info {
		padding-top: 0em;
	}
	.app-w3 h4 {
		font-size: 1.55em;
	}
	.app-sub-w3 {
		width: 94%;
	}
	.app-sub-w3 form input[type="submit"] {
		letter-spacing: 0px;
		margin-left: 1em;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 2.5em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 183px !important;
		font-size: 13px;
	}
	.feature-w3l, .tips.w3agile, .welcome, .team, #review, .events, .blog, .codes, .typo, #gallery, .mail {
		padding: 4em 0;
	}
	.open-hours-left h4 {
		font-size: 1.3em;
	}
	.open-hours-left:nth-child(1) {
		padding: 3.35em 0;
	}
	.open-hours-left h5 {
		font-size: 1.1em;
	}
	.open-hours-left h6 {
		font-size: 0.95em;
	}
	.open-hours-left {
		padding: 4.3em 0;
	}
	.welcome-left p {
		margin-top: 1.5em;
	}
	figure.effect-julia h4 {
		font-size: 1.8em;
	}
	.tip-grid figure p {
		letter-spacing: 0px;
	}
	figure.effect-julia h4 {
		margin-bottom: 1.5em;
	}
	.feature-grid h4 {
		font-size: 1.39em;
	}
	p {
		letter-spacing: 0px;
	}
	li.get-w3 {
		margin-right: 9em;
	}
	.right-w3l {
		right: 17%;
	}
	.services-grids {
		padding: 0 !important;
	}
	.footer {
		padding: 4em 0em 3em;
	}
	.team-caption h4 {
		font-size: 1.3em;
	}
	.team-caption p {
		font-size: .85em;
	}
	.team-caption {
		height: 142px;
	}
	.blog-left-left {
		width: 80px;
		height: 80px;
	}
	.blog-left-right-top h4 {
		font-size: 1.2em;
	}
	.hovereffect h4 {
		font-size: 1.3em;
		letter-spacing: 1px;
		margin-top: 3.6em;
	}
	.banner-2 {
		min-height: 320px;
	}
}
@media(max-width: 1050px){
	figure.effect-julia p {
		font-size: 13px;
	}
	.hovereffect h4 {
		margin-top: 3.8em;
	}
	.right-w3l {
		right: 15%;
	}
}
@media(max-width: 1024px){
	.agileits-banner-info h3 {
		font-size: 2.25em;
	}
	.navbar-nav > li > a {
		padding: 8px 15px 8px;
		font-size: 1em;
	}
	.app-w3 h4 {
		font-size: 1.4em;
	}
	.banner {
		min-height: 672px;
	}
	.ag-w3 .dropdown-menu {
		min-width: 174px !important;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 2.4em;
	}
	.test-review p {
		font-size: 0.95em;
	}
	.test-review p {
		font-size: 0.95em;
	}
	li.get-w3 {
		margin-right: 8em;
	}
	.hovereffect h4 {
		margin-top: 3.6em;
	}
}
@media(max-width: 991px){
	.agile1{
		float: left;
		width: 33%;
	}
	
	.ph-agile {
		float:right;
		width:21%;
	}
	.logo h1 a, .logo-fo h2 a {
		font-size: 0.9em;
		letter-spacing: 1px;
	}
	.ph-agile p span {
		font-size: 1em;
	}
	.ph-agile p{
		width: 155px;
	}
	.logo h1 a span, .logo-fo h2 a span {
		font-size: 13px;
	}
	.agileits-banner-info h3 {
		font-size: 2.1em;
	}
	.agileits-banner-info p {
		margin: 1.3em auto;
		letter-spacing: 6px;
	}
	.callbacks_tabs a:after {
		height: 15px;
		width: 15px;
	}
	.app-w3 h4 {
		font-size: 1.3em;
	}
	.callbacks_tabs {
		left: 42.7%;
	}
	.navbar {
		margin-bottom: 8px !important;
	}
	.app-w3 {
		margin-top: 7em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 168px !important;
	}
	.app-sub-w3 form input[type="submit"] {
		font-size: 0.95em;
	}
	.banner {
		min-height: 630px;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 2.35em;
	}
	.welcome-left {
		float: left;
		width: 50%;
	}
	.welcome-right {
		float: right;
		width: 50%;
	}
	.open-hours-left {
		float: left;
		width: 25%;
	}
	.welcome-left-grids {
		float: left;
		width: 50%;
	}
	.open-hours-left h4 {
		font-size: 1.1em;
	}
	.open-hours-left:nth-child(1) {
		padding: 4.3em 0;
	}
	.open-hours-left h5 {
		font-size: 0.9em;
	}
	.open-hours-left h6 {
		font-size: 0.8em;
	}
	.open-hours-left {
		padding: 5.1em 0;
	}
	.tip-grid {
		float: left;
		width: 50%;
	}
	figure.effect-julia h4 {
		margin-bottom: 1em;
		font-size: 1.5em;
	}
	.feature-grid {
		float: left;
		width: 25%;
	}
	.icons-w3 i {
		height: 150px;
		width: 150px;
		font-size: 3em;
		line-height: 145px;
	}
	.feature-grid h4 {
		font-size: 1.02em;
	}
	.test-review p {
		font-size: 0.9em;
	}
	.test-monials h5 {
		font-size: 1.8em;
	}
	.services-grids, .ftr-grid{
		float: left;
		width: 33%;
	}
	.services-grids ul li a {
		font-size: 0.81em;
	}
	.ftr-grid p {
		font-size: 0.85em;
	}
	.right-w3l {
		right: 17%;
	}
	li.get-w3 {
		margin-right: 6em;
	}
	.agileits-team-grid {
		float: left;
		width: 25%;
		padding: 0px 8px;
	}
	.team-caption h4 {
		font-size: 1em;
	}
	.team-caption p {
		font-size: .8em;
	}
	.team-caption ul li a i {
		height: 20px;
		width: 20px;
		line-height: 27px;
		font-size: 0.8em;
	}
	.team-caption {
		height: 110px;
	}
	.w3l-event-grid {
		float: left;
		width: 50%;
	}
	.agileits_portfolio_grid {
		float: left;
		width: 33%;
	}
	.hovereffect h4 {
		margin-top: 3.2em;
		font-size: 1.1em;
	}
	.w3agile_mail_grid input[type="text"] {
		margin-right: 1.2em;
	}
	.w3agile_mail_grids textarea {
		min-height: 16em;
	}
	.agile-blog-grid-left {
		float: left;
		width: 60%;
	}
	.blog-left-left {
		width: 54px;
		height: 54px;
		padding: 1.2em 0 0 0;
		font-size: 0.8em;
	}
	.agile-blog-grid-right {
		float: right;
		width: 40%;
	}
	.blog-left-right-top h4 {
		font-size: 1.1em;
	}
	.categories ul li a {
		font-size: .82em;
	}
	.banner-2 {
		min-height: 300px;
	}
}

.service{
    padding: 40px 0;
}
.serviceBox{
    text-align: center;
    position: relative;
}
.serviceBox .service-icon{
    width: 140px;
    height: 140px;
    line-height: 90px;
    border-radius: 50%;
    
    
    color: #fff;
    margin: 0 auto 30px;
    position: relative;
    transition: all 500ms ease 0s;
}
.serviceBox .service-icon img{
    width:100%;
}
.serviceBox:hover .service-icon{
    transform: scale(0.8, 0.8);
}
.serviceBox .service-icon:after{
    content: "";
    width: 151px;
    height: 151px;
    border-radius: 50%;
    border: 4px solid #123a4e;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0;
    transform: scale(0.8, 0.8);
    transition: all 500ms ease 0s;
}
.serviceBox:hover .service-icon:after{
    opacity: 1;
    transform: scale(1, 1);
}
.serviceBox .number{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #1a237e;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.serviceBox .title{
    font-size: 1.8em;
    color: #123a06;
    margin: 0 0 10px 0;
}
.serviceBox .description{
    
    color: #828282;
    line-height: 25px;
    margin: 0;
}
@media only screen and (max-width: 990px){
    .serviceBox{ margin-bottom: 30px; }
}
#accordion{
    padding-left: 76px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#accordion:before{
    content: "";
    width: 2px;
    height: 90%;
    background: #1a237e;
    position: absolute;
    top: 0;
    left: 28px;
    z-index: -1;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
}
#accordion .panel-heading{
    padding: 0;
    border-radius: 0;
    border: none;
}
.panel-title{
    font-size: 1.5em;
}
#accordion .panel-title a{
    font-weight: bold;
    color: #1a237e;
    padding: 10px 24px;
    background: #fff;
    position: relative;
    transition: all 0.5s ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
#accordion .panel-title a .price{
    background: #1a237e;
    color: #fff;
    padding: 5px 12px;
    letter-spacing: 1.5px;
}
#accordion .panel-title a:before{
    content: "\f05b";
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background: #1a237e;
    border: 1px solid #1a237e;
    position: absolute;
    top: 0;
    left: -74px;
}
#accordion .panel-title a.collapsed:before{
    color: #1a237e;
    background: #fff;
}
#accordion .panel-body{   
    padding: 5px 15px;
    border: none;
}
.panel-body p{
    text-align: left;
    margin: 10px 0;
    font-size: 1.2em;
    color: #000;
}

.accordian-conainer{
    margin: 0 auto;
    width: 60%;
}
.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

@media(max-width: 800px){
    .banner-content-block .col-sm-8{
        padding: 0;
    }
    .baner-contents{
        width: 100%;
        padding: 5px 10px;
    }
    .banner-content-block .description{
        font-size: 1.2em;
        text-align: center;
    }
    .banner-content-block .title{
        font-size: 1.8em;
    }
    a.package-btn{
        width: 220px;
        text-align: center;
    }
    .serviceBox .title{
        font-size: 1.5em;
    }

	.ph-agile {
		float: right;
		width: 26%;
	}
	.agile1, .ph-agile {
		padding-top: 2em;
	}
	.navbar {
		margin-bottom: 0px !important;
	}
	.navbar-nav > li > a {
		padding: 7px 15px 7px;
	}
	.agileits-banner-info p {
		margin: 1em auto;
	}
	.app-w3 {
		margin-top: 6.5em;
		padding-bottom: 2.5em;
	}
	.app-w3 h4 {
		font-size: 1.2em;
	}
	.app-sub-w3 {
		width: 97%;
		padding: 1em 0.5em 2em;
	}
	.banner {
		min-height: 562px;
	}
	.ag-w3 .dropdown-menu {
		min-width: 140px !important;
	}
	.app-sub-w3 form input[type="submit"] {
		font-size: 0.8em;
		padding: 1em 0em;
	}
	.feature-w3l, .tips.w3agile, .welcome, .team, #review, .events, .blog, .codes, .typo, #gallery, .mail {
		padding: 3.5em 0;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 2.2em;
	}
	.right-w3l {
		right: 10%;
	}
	.banner-2 {
		min-height: 270px;
	}
	.media-left.response-text-left {
		width: 20%;
	}
}
@media(max-width: 768px){
	.agile1 {
		float: left;
		width: 32%;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 2.1em;
	}
	li.get-w3 {
		margin-right: 5em;
	}
	.right-w3l {
		right: 8%;
	}
	a.re-w3 {
		width: 36%;
	}
	.news-grid-info a {
		font-size: 1.2em;
	}
	.test-review p {
		font-size: 0.85em;
	}
}
@media(max-width: 767px){
	.navbar-toggle {
		float: left !important;
	}
	.icon-bar {
		background-color: #ee4f4f !important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #1a237e !important;
	}
	.navbar-nav {
		margin: 18.5px -15px !important;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #1a237e !important;
		background: rgba(238, 79, 79, 0.5);
	}
	.navbar-nav > li > a {
		padding: 9px 15px 9px;
	}
	.agileits-banner-info {
		padding-top: 5.5em;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff !important;
	}
}
@media screen and (max-width: 767px){
    .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
        white-space: unset;
    }
    .team .container{
        background-color: transparent;
        padding: 0 15px;
	}
	.app-w3{
		left:0;
	}
}
@media(max-width: 736px){
    .accordian-conainer{
        width: 95%;
    }
    #accordion:before{
        display: none;
    }
    #accordion .panel-title a:before{
        display: none;
    }
    #accordion{
        padding-left: 0;
    }
    #accordion .panel-title a{
        flex-direction: column; 
        padding: 10px 5px;
    }
    #accordion .panel-title a .price{
        margin: 10px 0;
    }
	.ph-agile p span {
		font-size: 0.95em;
	}
	.agileits-banner-info h3 {
		font-size: 1.8em;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
	}
	.agileits-banner-info {
		padding-top: 4em;
	}
	.callbacks_tabs a:after {
		height: 14px;
		width: 14px;
	}
	.callbacks_tabs {
		left: 41%;
	}
	.app-w3 h4 {
		font-size: 1.15em;
	}
	.app-sub-w3 input[type="text"], .ag-w3 {
		font-size: 0.85em;
		padding: 11px 10px;
	}
	input#timepicker {
		padding: 11px 10px;
	}
	.app-sub-w3 form input[type="submit"] {
		font-size: 0.75em;
	}
	.banner {
		min-height: 510px;
	}
	.ag-w3 .dropdown-menu {
		min-width: 120px !important;
	}
	.dropdown-menu > li > a {
		padding: 3px 15px;
	}
	.feature-w3l, .tips.w3agile, .welcome, .team, #review, .events, .blog, .codes, .typo, #gallery, .mail {
		padding: 3em 0;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 2em;
		margin-bottom: 1em;
	}
	.open-hours-left h5 {
		font-size: 0.85em;
	}
	.welcome-left p {
		font-size: 0.95em;
	}
	figure.effect-julia h4 {
		margin-bottom: 0.5em;
	}
	.feature-grid {
		width: 50%;
	}
	.feature-grid:nth-child(3), .feature-grid:nth-child(4)  {
		margin-top: 1.5em;
	}
	.feature-grid h4 {
		font-size: 1.4em;
	}
	.icons-w3 i {
		height: 180px;
		width: 180px;
		margin: 3px;
		font-size: 4em;
		line-height: 172px;
	}
	.test-monials h5 {
		font-size: 1.7em;
	}
	.services-grids ul li a {
		font-size: 0.77em;
	}
	.right-w3l {
		right: 7%;
	}
	.news-grid-info p {
		font-size: 0.95em;
	}
	a.re-w3 {
		font-size: 1em;
		letter-spacing: 0px;
	}
	.banner-2 {
		min-height: 220px;
	}
	.blog-left-right-top p {
		font-size: .8em;
	}
	.categories ul li a {
		font-size: .78em;
	}
	.hovereffect h4 {
		margin-top: 3em;
	}
	.ph-agile {
		float: right;
		width: 27%;
	}
	.blog-left-right {
		width: 86%;
		margin-left: 0em;
		margin-top: 1em;
	}
	.media-left.response-text-left {
		width: 24%;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		text-align: center;
	}
}
@media(max-width: 667px){
    .banner-content-block{
        flex-direction: column-reverse;
    }
    .logo a{
        position: inherit;
    }
	.ph-agile p span {
		font-size: 0.9em;
	}
	.ph-agile p {
		width: 139px;
		height: 41px;
	}
	.logo h1 a, .logo-fo h2 a {
		font-size: 0.85em;
		letter-spacing: 0px;
	}
	.ph-agile i {
		font-size: 1.3em;
	}
	.navbar-toggle {
		margin-top: 0px;
	}
	.agileits-banner-info h3 {
		font-size: 1.7em;
	}
	.agileits-banner-info h3 {
		font-size: 1.7em;
	}
	.agileits-banner-info {
		padding-top: 3.5em;
	}
	.app-w3 h4 {
		font-size: 1.1em;
	}
	.app-sub-w3 form input[type="submit"] {
		font-size: 0.7em;
		padding: 1.2em 0em;
		margin-left: 0.5em;
	}
	.app-w3 {
		margin-top: 5.5em;
		padding-bottom: 2.2em;
	}
	.banner {
		min-height: 480px;
	}
	.welcome-left {
		width: 100%;
	}
	.welcome-right {
		width: 100%;
		margin-top: 2.5em;
	}
	.open-hours-left h4 {
		font-size: 1.4em;
	}
	.open-hours-left h6 {
		font-size: 1.1em;
	}
	.open-hours-left h5 {
		font-size: 1.2em;
	}
	.open-hours-left {
		padding: 5.3em 0;
	}
	.welcome-left p {
		margin-top: 2em;
	}
	.tip-grid {
		width: 100%;
	}
	.tip-grid:nth-child(2) {
		margin-top: 3em;
	}
	figure.effect-julia h4 {
		margin-bottom: 2.4em;
		font-size: 1.8em;
	}
	figure.effect-julia p {
		width: 87%;
	}
	.open-hours-left:nth-child(1) {
		padding: 4.32em 0;
	}
	figure.effect-julia p {
		width: 87%;
		margin: 1em auto;
		padding: 9px 0px;
		font-size: 14px;
	}
	.test-review p {
		font-size: 0.8em;
	}
	.test-monials h5 {
		font-size: 1.6em;
	}
	.services-grids, .ftr-grid {
		float: left;
		width: 50%;
	}
	.ftr-grid.fg2 {
		float: left;
		width: 100%;
		margin-top:1em;
	}
	.services-grids ul li a {
		font-size: 0.9em;
	}
	.ftr-grid p {
		font-size: 0.9em;
		margin-top: 3%;
	}
	.local {
		width: 7%;
	}
	.ftr-text {
		width: 93%;
	}
	.copyrights p {
		letter-spacing: 1px;
	}
	.footer {
		padding: 3em 0em;
	}
	li.get-w3 a {
		font-size: 1em;
	}
	li.get-w3 {
		padding: 0.4em 0.8em;
	}
	li.get-w3 {
		margin-right: 4em;
	}
	.right-w3l {
		top: -5%;
	}
	.agileits-team-grid {
		width: 50%;
		padding: 0px 25px;
	}
	.agileits-team-grid:nth-child(3), .agileits-team-grid:nth-child(4) {
		margin-top: 2.5em;
	}
	.team-caption h4 {
		font-size: 1.4em;
	}
	.team-caption p {
		font-size: .9em;
	}
	.team-caption {
		height: 148px;
	}
	.news-grid-info p {
		font-size: 0.9em;
	}
	.news-grid-info a {
		font-size: 1.1em;
	}
	.news-grid-info h5 {
		font-size: 1em;
	}
	a.re-w3 {
		font-size: 0.95em;
		width: 38%;
	}
	.agile-blog-grid-left {
		width: 100%;
	}
	.agile-blog-grid-right {
		width: 100%;
	}
	.hovereffect h4 {
		margin-top: 2.8em;
		font-size: 1em;
	}
	.w3agile_mail_grid input[type="email"], .w3agile_mail_grid input[type="text"]:nth-child(2) {
		margin: 1em 0 1.5em;
	}
	.w3agile_mail_grid input[type="text"] {
		margin-right: 1em;
	}
	.w3agile_mail_grid input[type="text"], .w3agile_mail_grid input[type="email"], .w3agile_mail_grids textarea {
		font-size: 13px;
	}
	.w3agile_mail_grids input[type="submit"] {
		margin: 1em auto 1em;
	}
	.navbar-nav > li > a {
		padding: 8px 15px 8px;
		letter-spacing: 0px;
	}
	.agile1 {
		float: left;
		width: 30%;
	}
	.callbacks_tabs {
		left: 39%;
	}
	.services-grids {
		padding: 0 15px !important;
	}
	.dropdown-menu > li > a {
		font-size: 0.9em;
	}
}
@media(max-width: 640px){
	.app-sub-w3 form input[type="submit"] {
		font-size: 0.8em;
		padding: 1em 0em;
		margin-top: 1.5em;
		width: 27%;
	}
	.app-sub-w3 input[type="text"], .ag-w3 {
		width: 23%;
	}
	.app-sub-w3 {
		width: 93%;
		padding: 1em 0.5em 1em;
	}
	.open-hours-left h5 {
		font-size: 1.1em;
	}
	.open-hours-left h6 {
		font-size: 1em;
	}
	.open-hours-left h4 {
		font-size: 1.3em;
	}
	.open-hours-left:nth-child(1) {
		padding: 4.38em 0;
	}
	figure.effect-julia p {
		font-size: 13px;
	}
	li.get-w3 {
		margin-right: 3em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 130px !important;
	}
}
@media(max-width: 600px){
	.logo h1 a, .logo-fo h2 a {
		font-size: 0.8em;
	}
	.logo {
		float: left;
		width: 40%;
	}
	.agileits-banner-info h3 {
		font-size: 1.5em;
	}
	.callbacks_tabs {
		top: 102%;
	}
	.app-w3 {
		margin-top: 5em;
		padding-bottom: 2em;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 1.9em;
	}
	.navbar-nav > li > a {
		font-size: 0.9em;
	}
	li.get-w3 {
		margin-right: 2em;
	}
	.team-caption h4 {
		font-size: 1.2em;
	}
	.hovereffect h4 {
		font-size: 0.95em;
	}
	.services-grids ul li a {
		font-size: 0.84em;
	}
	.dropdown-menu {
		min-width: 100px !important;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 0.9em;
	}
	.app-sub-w3 input[type="text"], .ag-w3 {
		width: 24%;
	}
}
@media(max-width: 568px){
	.logo h1 a, .logo-fo h2 a {
		font-size: .75em;
	}
	.ph-agile  p span {
		font-size: 0.85em;
		margin-left: 0.3em;
	}
	.ph-agile i {
		font-size: 1.2em;
	}
	.ph-agile p{
		width: 124px;
	}
	.logo-w3l {
		font-size: 2.5em;
	}
	.agileits-banner-info h3 {
		font-size: 1.4em;
	}
	.app-w3 h4 {
		font-size: 1.05em;
	}
	.app-w3 {
		margin-top: 4.5em;
	}
	.agileits-banner-info p {
		font-size: 0.85em;
	}
	.app-sub-w3 form input[type="submit"] {
		font-size: 0.75em;
	}
	.feature-w3l, .tips.w3agile, .welcome, .team, #review, .events, .blog, .codes, .typo, #gallery, .mail {
		padding: 2.5em 0;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 1.8em;
	}
	h3.tittle span, h3.tittle-one span, .agile-title h3 span, h4.tittle-two span, .team-heading h3 span, .team-w3l h3 span, h3.w3l-sing span, h3.tittle-agw3 span, h3.tittle-agilew3 span, h3.w3l_head span, h3.mail-w3 span {
		width: 58px;
		margin: 9px auto 0;
	}
	.banner-2 {
		min-height: 200px;
	}
	.team-caption h4 {
		font-size: 1.1em;
	}
	.team-caption {
		height: 134px;
	}
	.agileits_portfolio_grid {
		float: left;
		width: 100%;
	}
	.hovereffect img {
		margin-bottom: 18px;
	}
	.hovereffect .overlay {
		height: 75%;
	}
	.hovereffect h4 {
		font-size: 1.6em;
		letter-spacing: 2px;
		margin-top: 5em;
	}
	.w3agile_mail_grids textarea {
		min-height: 15em;
	}
	.w3agile_mail_grids input[type="submit"] {
		font-size: 0.9em;
		width: 22%;
	}
	.faq li a {
		font-size: 1em;
	}
	.w3agile_mail_grid input[type="text"] {
		margin-right: 0.8em;
	}
	.services-grids ul li a {
		font-size: 0.78em;
	}
	a.re-w3 {
		font-size: 0.85em;
		width: 41%;
	}
	.test-review p {
		font-size: 0.75em;
	}
	.navbar-toggle {
		padding: 8px 9px !important;
	}
	.navbar-toggle .icon-bar {
		width: 20px !important;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 16px;
	}
	.ag-w3 .dropdown-menu {
		min-width: 120px !important;
	}
}
@media(max-width: 480px){
	.logo h1 a, .logo-fo h2 a {
		font-size: .7em;
	}
	.agile1 {
		width: 28%;
	}
	.logo {
		padding: 0 !important;
		width: 40%;
	}
	.ph-agile p span {
		font-size: 0.75em;
		margin-left: 0.4em;
	}
	.ph-agile p {
		width: 114px;
		height: 40px;
	}
	.ph-agile {
		width: 31%;
	}
	.agileits-banner-info h3 {
		font-size: 1.25em;
	}
	.agileits-banner-info p {
		font-size: 0.75em;
		letter-spacing: 5px;
	}
	.callbacks_tabs a:after {
		height: 13px;
		width: 13px;
	}
	.callbacks_tabs li {
		margin: 0px 5px;
	}
	.callbacks_tabs {
		top: 101%;
		left: 37%;
	}
	.agileits-banner-info {
		padding-top: 3em;
	}
	.app-sub-w3 input[type="text"], .ag-w3 {
		width: 32%;
		font-size: 0.8em;
		padding: 9px 8px;
	}
	.agileits-banner-info {
		padding-top: 2.5em;
	}
	.app-sub-w3 form input[type="submit"] {
		width: 32%;
		padding: 0.95em 0em;
	}
	input#timepicker {
		padding: 10px 8px;
	}
	.banner {
		min-height: 455px;
	}
	.agile1, .ph-agile {
		padding-top: 1.5em;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 1.75em;
	}
	h3.tittle span, h3.tittle-one span, .agile-title h3 span, h4.tittle-two span, .team-heading h3 span, .team-w3l h3 span, h3.w3l-sing span, h3.tittle-agw3 span, h3.tittle-agilew3 span, h3.w3l_head span, h3.mail-w3 span {
		width: 48px;
	}
	.app-w3 h4 {
		font-size: 1em;
	}
	.welcome-left p {
		font-size: 0.9em;
	}
	.open-hours-left h4 {
		font-size: 1.15em;
	}
	.open-hours-left h6 {
		font-size: 0.9em;
	}
	.open-hours-left h5 {
		font-size: 1em;
	}
	.open-hours-left:nth-child(1) {
		padding: 4.55em 0;
	}
	.welcome-left-grids {
		margin-top: 2.5em;
	}
	figure.effect-julia h4 {
		margin-bottom: 1.5em;
		font-size: 1.5em;
	}
	figure.effect-julia p {
		margin: 0.7em auto;
		padding: 8px 0px;
	}
	.feature-grid {
		width: 100%;
	}
	.feature-grid:hover span {
		width: 24%;
	}
	.services-grids, .ftr-grid {
		width: 100%;
	}
	.services-grids ul li a {
		font-size: 0.85em;
	}
	.logo-fo {
		margin:0.5em 0em 0.5em;
	}
	.local i {
		font-size: 1.3em;
	}
	.ftr-text {
		width: 90%;
	}
	.ftr-grid h3, .services-grids h3 {
		font-size: 1.35em;
		letter-spacing: 0px;
		margin-bottom: 0.5em;
	}
	.services-grids ul {
		margin-top: 1.3em;
	}
	.copyrights p {
		font-size: 0.9em;
		line-height: 2em;
	}
	.footer {
		padding: 3em 0em 2em;
	}
	.agile1 {
		padding: 1.5em 0.5em 0em 0em;
	}
	.navbar-nav > li > a {
		font-size: 0.85em;
	}
	li.get-w3 a {
		font-size: 0.95em;
	}
	.right-w3l ul.top-links li a i.fa {
		width: 33px;
		height: 33px;
		font-size: 13px;
		line-height: 34px;
	}
	li.get-w3 {
		padding: 0.35em 0.8em;
	}
	li.get-w3 {
		margin-right: 7em;
	}
	.right-w3l {
		top: -4%;
		right: 6%;
	}
	.agileits-team-grid {
		padding: 0px 10px;
	}
	.agileits-team-grid:nth-child(3), .agileits-team-grid:nth-child(4) {
		margin-top: 1.5em;
	}
	.team-caption h4 {
		font-size: 1em;
	}
	.news-grid-info a {
		font-size: 0.95em;
	}
	.news-grid-info h5 {
		font-size: 0.9em;
		margin: 0.8em 0;
	}
	.news-grid-info p {
		font-size: 0.8em;
	}
	a.re-w3 {
		font-size: 0.75em;
		width: 47%;
		padding: 0.7em 0em;
	}
	.blog-left-right-top h4 {
		font-size: 0.95em;
	}
	.blog-left-right-bottom p {
		font-size: .85em;
	}
	.response-text-right p {
		font-size: .85em;
	}
	.response-text-right ul li {
		font-size: .85em;
	}
	.response-text-left h5 {
		font-size: 0.9em;
	}
	.opinion h3 {
		font-size: 1.25em;
	}
	.opinion form textarea {
		font-size: .85em;
	}
	.opinion form input[type="text"] {
		font-size: .85em;
	}
	.opinion form input[type="submit"] {
		font-size: 0.9em;
		width: 25%;
	}
	.categories h3 {
		color: #000000;
		font-size: 1.25em;
	}
	.hovereffect h4 {
		font-size: 1.5em;
		margin-top: 4.5em;
	}
	.faq iframe {
		min-height: 20em;
	}
	.w3agile_mail_grid input[type="text"] {
		margin-right: 0em;
		padding: 9px;
		width: 97%;
	}
	.w3agile_mail_grids textarea {
		min-height: 14em;
	}
	.w3agile_mail_grids input[type="submit"] {
		width: 27%;
	}
	.w3agile_mail_grid input[type="text"], .w3agile_mail_grid input[type="email"], .w3agile_mail_grids textarea {
		width: 97%;
	}
	.feature-grid:nth-child(2), .feature-grid:nth-child(3), .feature-grid:nth-child(4) {
		margin-top: 1.5em;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 0.85em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 136px !important;
	}
}
@media(max-width: 414px){
	.agile1 {
		width: 100%;
		padding: 1.3em 1em 0em;
	}
	.logo {
		width: 50%;
	}
	.ph-agile {
		width: 50%;
		padding-top: 3em;
	}
	.agileits-banner-info p {
		letter-spacing: 4px;
	}
	.ph-agile p {
		width: 126px;
	}
	.ph-agile p span {
		font-size: 0.8em;
	}
	.app-sub-w3 form input[type="submit"] {
		width: 35%;
		font-size: 0.7em;
	}
	.agileits-banner-info h3 {
		letter-spacing: 3px;
	}
	.agileits-banner-info {
		padding-top: 2em;
	}
	.callbacks_tabs {
		top: 94%;
		left: 35%;
	}
	.app-w3 {
		margin-top: 4em;
	}
	.navbar {
		min-height: 38px!important;
	}
	.navbar-toggle .icon-bar {
		width: 19px !important;
	}
	.navbar-toggle {
		padding: 7px 8px !important;
	}
	.callbacks_tabs a:after {
		height: 12px;
		width: 12px;
	}
	.welcome-left p {
		font-size: 0.85em;
	}
	.open-hours-left h4 {
		font-size: 1em;
	}
	.open-hours-left h6 {
		font-size: 0.85em;
	}
	.open-hours-left h5 {
		font-size: 0.9em;
	}
	.open-hours-left:nth-child(1) {
		padding: 4.67em 0;
	}
	.welcome-right {
		margin-top: 2em;
	}
	.welcome-left-grids {
		width: 100%;
	}
	.welcome-left-grids {
		margin-top: 2em;
	}
	figure.effect-julia p {
		width: 98%;
	}
	figure.effect-julia h4 {
		margin-bottom: 0.9em;
		font-size: 1.4em;
	}
	.tip-grid:nth-child(2) {
		margin-top: 2em;
	}
	.test-review p {
		font-size: 0.7em;
	}
	li.get-w3 {
		margin-right: 4em;
	}
	.ftr-grid h3, .services-grids h3 {
		font-size: 1.3em;
	}
	.team-caption {
		height: 123px;
	}
	.w3l-event-grid {
		width: 100%;
	}
	.w3l-event-grid:nth-child(2) {
		margin-top: 1.5em;
	}
	.hovereffect h4 {
		font-size: 1.3em;
	}
	.w3agile_mail_grids textarea {
		min-height: 12em;
	}
	.dropdown-menu > li > a {
		font-size: 0.85em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 118px !important;
	}
}
@media(max-width: 384px){
	.agileits-banner-info h3 {
		letter-spacing: 2px;
		font-size: 1.2em;
	}
	.agileits-banner-info p {
		letter-spacing: 3px;
	}
	.app-w3 h4 {
		font-size: 0.95em;
		letter-spacing:0px;
	}
	.app-w3 {
		margin-top: 3em;
	}
	.app-sub-w3 input[type="text"], .ag-w3 {
		width: 47%;
		font-size: 0.75em;
		margin-top: 11px;
	}
	.app-sub-w3 {
		padding: 0em 0.5em 0.9em;
	}
	.app-sub-w3 form input[type="submit"] {
		width: 45%;
		font-size: 0.75em;
		padding: 0.85em 0em;
	}
	.app-w3 {
		padding-bottom: 1.5em;
	}
	.callbacks_tabs {
		top: 89%;
	}
	.welcome-left p {
		font-size: 0.8em;
	}
	.open-hours-left h5 {
		font-size: 0.8em;
	}
	.open-hours-left {
		padding: 5.35em 0;
	}
	figure.effect-julia p {
		width: 100%;
		margin: 0.5em auto;
	}
	.feature-grid:nth-child(2), .feature-grid:nth-child(3), .feature-grid:nth-child(4) {
		margin-top: 1em;
	}
	.hovereffect h4 {
		margin-top: 4em;
	}
	li.get-w3 {
		margin-right: 2em;
	}
	.ph-agile {
		width: 44%;
	}
	.test-monials h5 {
		font-size: 1.4em;
	}
	.feature-grid span {
		margin: 1em auto;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 1.7em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 156px !important;
	}
}
@media(max-width: 375px){
	ul.top-links li {
		margin-left: 7px;
	}
	.hovereffect h4 {
		margin-top: 3.9em;
	}
	.copyrights p {
		font-size: 0.85em;
	}
	.w3agile_mail_grids textarea {
		min-height: 11em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 152px !important;
	}
}
@media(max-width: 320px){
	.logo {
		width: 100%;
	}
	.ph-agile {
		width: 100%;
		padding-top: 1.1em;
	}
	.ph-agile  p span {
		font-size: 0.7em;
	}
	.ph-agile i {
		font-size: 1.1em;
		padding-top: 2px;
	}
	.ph-agile p {
		width: 114px;
		height: 36px;
	}
	.agileits-banner-info h3 {
		font-size: 1.1em;
	}
	.agileits-banner-info p {
		letter-spacing: 1px;
		font-size: 0.7em;
	}
	.callbacks_tabs a:after {
		height: 11px;
		width: 11px;
	}
	.callbacks_tabs {
		left: 33.5%;
	}
	.agileits-banner-info {
		padding-top: 1.5em;
	}
	.app-w3 h4 {
		font-size: 0.85em;
	}
	.app-sub-w3 input[type="text"], .ag-w3 {
		font-size: 0.7em;
	}
	.app-sub-w3 form input[type="submit"] {
		width: 46%;
		font-size: 0.7em;
	}
	.feature-w3l, .tips.w3agile, .welcome, .team, #review, .events, .blog, .codes, .typo, #gallery, .mail {
		padding: 2em 0;
	}
	h3.tittle, h3.tittle-one, .agile-title h3, .team-heading h3, h3.tittle-two, .team-w3l h3, h3.w3l-sing, h3.tittle-agw3, h3.tittle-agilew3, h3.w3l_head, h3.mail-w3 {
		font-size: 1.6em;
	}
	.welcome-left p {
		font-size: 0.75em;
		margin-top: 1.5em;
	}
	.open-hours-left {
		width: 50%;
	}
	.open-hours-left:nth-child(3), .open-hours-left:nth-child(4) {
		border-top: 2px dashed #1a237e;
	}
	.open-hours-left h4 {
		font-size: 1.1em;
	}
	.open-hours-left:nth-child(1) {
		padding: 4.6em 0;
	}
	.open-hours-left h6 {
		font-size: 0.9em;
	}
	.open-hours-left h5 {
		font-size: 0.95em;
	}
	figure.effect-julia h4 {
		margin-bottom: 0.1em;
		font-size: 1.3em;
	}
	figure.effect-julia p {
		margin: 0.2em auto;
		padding: 2px 0px;
	}
	li.get-w3 {
		margin-right: 0em;
	}
	li.get-w3 a {
		font-size: 0.85em;
	}
	.services-grids ul li a {
		font-size: 0.8em;
	}
	.local i {
		font-size: 1.2em;
	}
	.ftr-grid p {
		font-size: 0.8em;
	}
	.ftr-text {
		width: 86%;
	}
	.copyrights {
		padding-top: 1.5em;
	}
	.feature-grid p {
		font-size: 0.85em;
	}
	.navbar-nav > li > a {
		padding: 6px 90px 6px;
		font-size: 0.8em;
	}
	.copyrights p {
		font-size: 0.8em;
	}
	.footer {
		padding: 3em 0em 1.5em;
	}
	.logo-w3l {
		font-size: 2em;
	}
	.logo h1 a span, .logo-fo h2 a span {
		font-size: 12px;
	}
	.logo h1 a, .logo-fo h2 a {
		font-size: .6em;
	}
	.banner-2 {
		min-height: 222px;
	}
	.agileits-team-grid {
		width: 100%;
	}
	.team-caption h4 {
		font-size: 1.2em;
	}
	.agileits-team-grid:nth-child(2), .agileits-team-grid:nth-child(3), .agileits-team-grid:nth-child(4) {
		margin-top: 1.5em;
	}
	.team-caption {
		height: 141px;
	}
	.blog-left-right-top h4 {
		font-size: 0.85em;
	}
	.blog-left-right-bottom p {
		font-size: .75em;
	}
	.blog-left-right-top p {
		font-size: .7em;
	}
	.response-text-right p {
		font-size: .75em;
	}
	.response-text-left h5 {
		font-size: 0.8em;
	}
	.response-text-right ul li {
		font-size: .75em;
	}
	.opinion h3 {
		font-size: 1em;
	}
	.opinion form textarea {
		font-size: 0.75em;
		min-height: 104px;
	}
	.opinion form input[type="submit"] {
		font-size: 0.85em;
		width: 40%;
	}
	.categories ul li a {
		font-size: .75em;
	}
	.hovereffect h4 {
		font-size: 1.1em;
		letter-spacing: 1px;
	}
	.faq li a {
		font-size: 0.9em;
		letter-spacing: 0px;
		padding: 1em;
	}
	.w3agile_mail_grid input[type="email"], .w3agile_mail_grid input[type="text"]:nth-child(2) {
		margin: 1em 0 1em;
	}
	.w3agile_mail_grids textarea {
		min-height: 10em;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		font-size: 0.8em;
	}
	.ag-w3 .dropdown-menu {
		min-width: 129px !important;
	}
	input#timepicker {
		padding: 9px 10px;
	}
}
/*--//responsive--*/

.select2-container .select2-selection--single{
	border: 0px solid #fff;
    border-radius: 0;
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	background: #fff;
	height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 34px;
}
.help-block{
	color: #fffbfb;
    background: #ce0404;
    padding: 0 2px;
}
.banner-content-block-success{
	display: block;
}
.banner-content-block-success .baner-contents{
	width: 100%;
	margin-top: 5%;
	background: rgba(255, 255, 255, 0.96);
}
.banner-content-block-success .logo{
	float: none !important;
    margin: 0 auto;
}