/*-- Mixin & Fonts --*/
@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/CircularStd-Book.woff"); }

@font-face {
  font-family: "CircularStd-Medium";
  src: url("../fonts/CircularStd-Medium.woff"); }

@font-face {
  font-family: "CircularStd-Black";
  src: url("../fonts/CircularStd-Black.woff"); }

@font-face {
  font-family: "CircularStd-Bold";
  src: url("../fonts/CircularStd-Bold.woff"); }

/*-- Common --*/
body {
  overflow-x: hidden;
  font-family: "CircularStd-Medium"; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "CircularStd-Medium";
  text-transform: uppercase;
  font-weight: 900;
  color: #28a745;
  letter-spacing: 0.2em; }
  .loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #28a745;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out; }
  .loader::before {
    top: 0; }
  .loader::after {
    bottom: 0; }

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px; }
  50% {
    height: 8px;
    width: 40px; }
  100% {
    left: 235px;
    height: 30px;
    width: 15px; } }

.indicator {
  position: absolute;
  top: 50%;
  left: 56.5%;
  transform: translate(-50%, -50%) scale(2); }
  @media only screen and (max-width: 768px) {
    .indicator {
      left: 70.5%; } }

.indicator svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.indicator svg polyline#back {
  stroke: #28a745; }

.indicator svg polyline#front {
  stroke: #3bd3ab;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite; }

.cta {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #222;
  font-weight: bold; }

@-moz-keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

@-o-keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  62.5% {
    opacity: 0; }
  to {
    stroke-dashoffset: 0; } }

.header-logo {
  position: absolute;
  top: 28px;
  left: 65px; }
  .header-logo .logo {
    width: 220px; }
    .header-logo .logo img {
      width: 100%; }

/*-- Pages --*/
.quiz-block-list {
  }
  .quiz-block-list .step {
    height: 100%; }
    .quiz-block-list .step .option-info {
      font-family: "CircularStd-Bold";
      font-size: 20px;
      font-weight: 600;
      color: #dc3545;
      margin: 20px 0 15px;
      display: none; }
    .quiz-block-list .step.step-incomplete .option-info {
      display: block; }
  .quiz-block-list_item {
    display: grid;
    grid-template-columns: 38% 60%;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .quiz-block-list_item .page-title {
      font-family: "CircularStd-Black";
      font-size: 36px;
      color: #00316b;
      margin-bottom: 50px; }
      .quiz-block-list_item .page-title span {
        color: #04c163; }
    .quiz-block-list_item .image-block img {
      width: 100%; }
    .quiz-block-list_item .question-block {
      background-repeat: no-repeat;
      background-image: url(../images/bg.png);
      background-size: 100% 100%;
      height: 100%;
      padding: 100px 70px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .quiz-block-list_item .question-block .options {
        margin: 30px 0; }
        .quiz-block-list_item .question-block .options .option-title {
          font-family: "CircularStd-Bold";
          font-size: 22px;
          color: #00316b;
          margin-bottom: 15px; }
          @media only screen and (max-width: 768px) {
            .quiz-block-list_item .question-block .options .option-title {
              text-align: center; } }
        .quiz-block-list_item .question-block .options .option-list {
          display: flex;
          align-items: center;
          margin: 5px 0; }
          @media only screen and (max-width: 768px) {
            .quiz-block-list_item .question-block .options .option-list {
              justify-content: center; } }
          .quiz-block-list_item .question-block .options .option-list .option-item [type="radio"]:checked,
          .quiz-block-list_item .question-block .options .option-list .option-item [type="radio"]:not(:checked) {
            visibility: hidden;
            display: none; }
          .quiz-block-list_item .question-block .options .option-list .option-item label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            padding: 10px 12px;
            margin-bottom: 0;
            margin-right: 15px;
            box-shadow: 0px 3px 20px 0px #b0b9bf4f;
            border-radius: 5px;
            width: 120px;
            height: 120px;
            cursor: pointer; }
            @media only screen and (max-width: 768px) {
              .quiz-block-list_item .question-block .options .option-list .option-item label {
                margin: 0 5px; } }
            .quiz-block-list_item .question-block .options .option-list .option-item label .text {
              color: #04c163;
              display: block;
              font-family: "CircularStd-Book";
              font-size: 16px; }
            .quiz-block-list_item .question-block .options .option-list .option-item label .icon i {
              color: #04c163;
              font-size: 32px; }
            .quiz-block-list_item .question-block .options .option-list .option-item label .value {
              background: #04c163;
              color: #fff;
              padding: 3px 10px;
              text-align: center;
              font-family: "CircularStd-Bold";
              font-size: 18px; }
            .quiz-block-list_item .question-block .options .option-list .option-item label .text + .value {
              margin-top: 8px; }
          .quiz-block-list_item .question-block .options .option-list .option-item [type="radio"]:checked + label {
            background: #04c163; }
            .quiz-block-list_item .question-block .options .option-list .option-item [type="radio"]:checked + label .text {
              color: #fff; }
            .quiz-block-list_item .question-block .options .option-list .option-item [type="radio"]:checked + label .icon i {
              color: #fff; }
            .quiz-block-list_item .question-block .options .option-list .option-item [type="radio"]:checked + label .value {
              background: #fff;
              color: #04c163; }
          .quiz-block-list_item .question-block .options .option-list .option-item.bg-red label .text {
            color: #ff0bdf; }
          .quiz-block-list_item .question-block .options .option-list .option-item.bg-red label .icon i {
            color: #ff0bdf; }
          .quiz-block-list_item .question-block .options .option-list .option-item.bg-red [type="radio"]:checked + label {
            background: #ff0bdf; }
            .quiz-block-list_item .question-block .options .option-list .option-item.bg-red [type="radio"]:checked + label .text {
              color: #fff; }
            .quiz-block-list_item .question-block .options .option-list .option-item.bg-red [type="radio"]:checked + label .icon i {
              color: #fff; }
          .quiz-block-list_item .question-block .options .option-list .option-item.bg-blue label .text {
            color: #0278fa; }
          .quiz-block-list_item .question-block .options .option-list .option-item.bg-blue label .icon i {
            color: #0278fa; }
          .quiz-block-list_item .question-block .options .option-list .option-item.bg-blue [type="radio"]:checked + label {
            background: #0278fa; }
            .quiz-block-list_item .question-block .options .option-list .option-item.bg-blue [type="radio"]:checked + label .text {
              color: #fff; }
            .quiz-block-list_item .question-block .options .option-list .option-item.bg-blue [type="radio"]:checked + label .icon i {
              color: #fff; }
          .quiz-block-list_item .question-block .options .option-list .input-item .form-control {
            width: 80px;
            height: auto;
            border: 2px solid #00316b;
            border-radius: 4px;
            margin: 5px 0 20px;
            font-size: 22px;
            text-align: center;
            padding: 2px 2px; }
            .quiz-block-list_item .question-block .options .option-list .input-item .form-control:focus {
              border-color: #0276f9;
              outline: 0;
              box-shadow: none; }
          .quiz-block-list_item .question-block .options .option-list .input-item.flex-box {
            display: flex;
            align-items: center; }
            @media only screen and (max-width: 768px) {
              .quiz-block-list_item .question-block .options .option-list .input-item.flex-box {
                justify-content: center; } }
            .quiz-block-list_item .question-block .options .option-list .input-item.flex-box span {
              padding: 0 14px;
              height: 41px;
              margin: 5px 0 20px;
              margin-left: -2px;
              background: #00316b;
              color: #fff;
              border: none;
              display: flex;
              align-items: center;
              line-height: 0;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px; }
          .quiz-block-list_item .question-block .options .option-list .input-range {
            width: 400px;
            margin: 25px 0; }
            .quiz-block-list_item .question-block .options .option-list .input-range .rangeslider--horizontal {
              background: url(../images/scale.png);
              background-size: contain;
              height: 42px; }
            .quiz-block-list_item .question-block .options .option-list .input-range .rangeslider__fill {
              background: transparent;
              box-shadow: none; }
            .quiz-block-list_item .question-block .options .option-list .input-range .rangeslider__handle {
              background-image: url(../images/pointer.png);
              background-color: transparent;
              width: 28px;
              border-radius: 0;
              box-shadow: none;
              border: none; }
              .quiz-block-list_item .question-block .options .option-list .input-range .rangeslider__handle::after {
                display: none; }
          .quiz-block-list_item .question-block .options .option-list.form-details .input-item .form-control {
            width: 250px;
            height: auto;
            font-family: "CircularStd-Book";
            border: 1px solid #e8edf1;
            border-radius: 4px;
            margin: 5px 0 10px;
            font-size: 16px;
            text-align: left;
            padding: 5px 10px;
            color: #1a2c42; }
          .quiz-block-list_item .question-block .options .option-list.form-details .input-item .btn {
            width: 250px;
            background: #ffc107;
            color: #155724; }
            @media only screen and (max-width: 768px) {
              .quiz-block-list_item .question-block .options .option-list.form-details .input-item .btn {
                width: 100%; } }
            .quiz-block-list_item .question-block .options .option-list.form-details .input-item .btn:focus {
              box-shadow: none; }
      .quiz-block-list_item .question-block .button-block {
        text-align: right;
        position: absolute;
        right: 90px;
        bottom: 90px; }
        .quiz-block-list_item .question-block .button-block .btn-icon {
          background: #423e72;
          color: #fff; }
          .quiz-block-list_item .question-block .button-block .btn-icon:focus {
            box-shadow: none; }
          .quiz-block-list_item .question-block .button-block .btn-icon:hover {
            background: #dc3545; }
          .quiz-block-list_item .question-block .button-block .btn-icon.disabled {
            pointer-events: none;
            opacity: 0.2; }
            .quiz-block-list_item .question-block .button-block .btn-icon.disabled:hover {
              background: #423e72; }
    .quiz-block-list_item.based-on-gender .image-block img {
      display: none;
      width: 30%;
      margin: 0 auto; }
    .quiz-block-list_item.based-on-gender.male .image-block img.male-img {
      display: block; }
    .quiz-block-list_item.based-on-gender.female .image-block img.female-img {
      display: block; }
  .quiz-block-list.quiz-block-list-mobile-view {
    height: auto; }
    .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item {
      grid-template-columns: 100%; }
      .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .question-block {
        padding: 0; }
      .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .options {
        margin: 10px 0; }
        .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .options .option-title {
          font-size: 18px; }
        .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .options .option-list .input-range {
          width: 272px;
          margin: 12px 0; }
          .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .options .option-list .input-range .rangeslider--horizontal {
            height: 29px; }
      .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .button-block {
        position: initial; }
      .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .age-list {
        display: block;
        align-items: center;
        margin: 5px 0; }
        .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .age-list .option-item label {
          flex-direction: row;
          width: 100%;
          height: auto;
          padding: 5px 12px;
          margin-bottom: 5px;
          margin-right: 0;
          justify-content: start; }
          .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .age-list .option-item label .text {
            width: 40%; }
          .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .age-list .option-item label .value {
            width: 100%; }
          .quiz-block-list.quiz-block-list-mobile-view .quiz-block-list_item .age-list .option-item label .text + .value {
            margin-top: 0; }

.mobile {
  display: none; }

@media only screen and (max-width: 768px) {
  .mobile {
    display: block; }
  .desktop {
    display: none; } }

.mobile {
  background: #f2f7fb; }
  .mobile .banner {
    width: 100%;
    margin: 0 auto; }
    .mobile .banner img {
      width: 100%; }
  .mobile .based-on-gender img {
    display: none; }
  .mobile .based-on-gender.gender-male .male-img {
    display: block; }
  .mobile .based-on-gender.gender-female .female-img {
    display: block; }

@media only screen and (max-width: 768px) {
  .page-title {
    font-family: "CircularStd-Black";
    font-size: 26px;
    color: #00316b;
    margin-top: 10px;
    text-align: center; } }

.mobile-content {
  background: #f2f7fb;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 22px 20px; }
  .mobile-content .form-elements .form-group label {
    display: block; }
  .mobile-content .form-elements .form-group .form-control {
    font-size: 16px;
    padding: 5px 10px;
    height: 32px;
    border-radius: 0;
    font-family: "CircularStd-Book";
    color: #848080; }
    .mobile-content .form-elements .form-group .form-control:focus {
      outline: 0;
      box-shadow: none; }
  .mobile-content .form-elements .form-group span {
    font-size: 14px;
    color: #a7a7a7;
    font-family: "CircularStd-Book"; }
  .mobile-content .form-elements .form-group .btn {
    width: 100%;
    background: #ffc107;
    color: #155724; }
    .mobile-content .form-elements .form-group .btn:focus {
      box-shadow: none; }

.quiz-2 {
  background: url("../images/quiz-2-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px 0; }
  .quiz-2 .quiz-2-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 40px;
    background: #f3f3f2d6;
    border-radius: 10px;
    border: 2px solid #15572447; }
    .quiz-2 .quiz-2-container .logo {
      width: 220px;
      margin: 10px auto 25px; }
      .quiz-2 .quiz-2-container .logo img {
        width: 100%; }
    .quiz-2 .quiz-2-container form .form-group label {
      margin-bottom: 0;
      color: #323d48;
      font-family: "CircularStd-Book"; }
    .quiz-2 .quiz-2-container form .form-group .form-control {
      height: 35px;
      font-family: "CircularStd-Book";
      border: 1px solid #e8edf1;
      border-radius: 4px;
      margin: 5px 0 10px;
      font-size: 16px;
      text-align: left;
      padding: 5px 10px;
      color: #1a2c42; }
      .quiz-2 .quiz-2-container form .form-group .form-control:focus {
        border-color: #0276f9;
        outline: 0;
        box-shadow: none; }
    .quiz-2 .quiz-2-container form .form-group .flex-box {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        .quiz-2 .quiz-2-container form .form-group .flex-box {
          justify-content: center; } }
      .quiz-2 .quiz-2-container form .form-group .flex-box span {
        height: 35px;
        padding: 0px 15px;
        margin: 5px 0 10px;
        margin-left: -2px;
        background: #155724;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        line-height: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
    .quiz-2 .quiz-2-container form .btn {
      width: 100%;
      background: #0b9a11;
      color: #ffffff; }
      @media only screen and (max-width: 768px) {
        .quiz-2 .quiz-2-container form .btn {
          width: 100%; } }
      .quiz-2 .quiz-2-container form .btn:focus {
        box-shadow: none; }

.quiz-3 {
  background: url("../images/quiz-2-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px 0; }
  .quiz-3 .quiz-3-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 40px;
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #15572447; }
    .quiz-3 .quiz-3-container .logo {
      width: 220px;
      margin: 10px auto 25px; }
      .quiz-3 .quiz-3-container .logo img {
        width: 100%; }
    .quiz-3 .quiz-3-container .grid {
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: space-between; }
      @media only screen and (max-width: 768px) {
        .quiz-3 .quiz-3-container .grid {
          grid-template-columns: 100%; } }
    .quiz-3 .quiz-3-container .side-img img {
      width: 100%; }
    .quiz-3 .quiz-3-container .side-img.desktop-only {
      display: block; }
      @media only screen and (max-width: 768px) {
        .quiz-3 .quiz-3-container .side-img.desktop-only {
          display: none; } }
    .quiz-3 .quiz-3-container .side-img.mobile-only {
      display: none; }
      @media only screen and (max-width: 768px) {
        .quiz-3 .quiz-3-container .side-img.mobile-only {
          display: block; } }
    .quiz-3 .quiz-3-container form .group {
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: space-between; }
      @media only screen and (max-width: 768px) {
        .quiz-3 .quiz-3-container form .group {
          grid-template-columns: 100%; } }
    .quiz-3 .quiz-3-container form .form-group label {
      margin-bottom: 0;
      color: #323d48;
      font-family: "CircularStd-Book";
      font-weight: 600; }
    .quiz-3 .quiz-3-container form .form-group .error {
      color: red; }
    .quiz-3 .quiz-3-container form .form-group .form-control {
      height: 35px;
      font-family: "CircularStd-Book";
      border: 1px solid #e8edf1;
      border-radius: 4px;
      margin: 5px 0 10px;
      font-size: 16px;
      text-align: left;
      padding: 5px 10px;
      color: #1a2c42; }
      .quiz-3 .quiz-3-container form .form-group .form-control:focus {
        border-color: #0276f9;
        outline: 0;
        box-shadow: none; }
    .quiz-3 .quiz-3-container form .form-group .flex-box {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        .quiz-3 .quiz-3-container form .form-group .flex-box {
          justify-content: center; } }
      .quiz-3 .quiz-3-container form .form-group .flex-box span {
        height: 35px;
        padding: 0px 15px;
        margin: 5px 0 10px;
        margin-left: -2px;
        background: #155724;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        line-height: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
    .quiz-3 .quiz-3-container form .btn {
      width: 100%;
      background: #0b9a11;
      color: #ffffff; }
      @media only screen and (max-width: 768px) {
        .quiz-3 .quiz-3-container form .btn {
          width: 100%; } }
      .quiz-3 .quiz-3-container form .btn:focus {
        box-shadow: none; }

@media only screen and (max-width: 768px) {
  .result-page .container {
    max-width: 350px;
    margin: 0 auto; } }

@media only screen and (max-width: 768px) {
  .result-page .add-banner img {
    max-width: 320px; } }

.result-page header,
.result-page footer {
  background: #0e1326; }
  .result-page header .container,
  .result-page footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0; }
    .result-page header .container .logo,
    .result-page footer .container .logo {
      width: 200px; }
      @media only screen and (max-width: 768px) {
        .result-page header .container .logo,
        .result-page footer .container .logo {
          margin: 0 auto; } }
      .result-page header .container .logo img,
      .result-page footer .container .logo img {
        width: 100%; }
    .result-page header .container .navbar .nav-list,
    .result-page footer .container .navbar .nav-list {
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: 0; }
      .result-page header .container .navbar .nav-list .nav-list_item,
      .result-page footer .container .navbar .nav-list .nav-list_item {
        margin: 0 15px; }
        .result-page header .container .navbar .nav-list .nav-list_item a,
        .result-page footer .container .navbar .nav-list .nav-list_item a {
          color: #fff; }
    @media only screen and (max-width: 768px) {
      .result-page header .container .navbar,
      .result-page footer .container .navbar {
        display: none; } }

.result-page .user-list {
  padding: 25px 0;
  text-align: center; }
  .result-page .user-list p {
    margin-bottom: 0;
    color: #535353;
    font-size: 18px; }
    .result-page .user-list p .highlight {
      display: block;
      color: #ff1644;
      font-size: 24px; }
      .result-page .user-list p .highlight span {
        font-family: "CircularStd-Black"; }
      .result-page .user-list p .highlight #user_score {
        background: red;
        color: #fff;
        padding: 5px 8px;
        border-radius: 50px; }
    @media only screen and (max-width: 768px) {
      .result-page .user-list p .highlight {
        font-size: 18px;
      }
      .result-page .user-list p {
        font-size: 14px; } }

.result-page .result-card {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  padding: 0 20px;
  border-radius: 5px; }
  @media only screen and (max-width: 768px) {
    .result-page .result-card {
      grid-template-columns: 100%; } }
  .result-page .result-card .chart {
    text-align: center; }
    .result-page .result-card .chart #gauge {
      width: 400px;
      height: 240px;
      margin: 0 auto; }
      @media only screen and (max-width: 768px) {
        .result-page .result-card .chart #gauge {
          width: 280px;
          height: 280px; } }
  .result-page .result-card .details {
    width: 65%;
    margin: 0 auto; }
    @media only screen and (max-width: 768px) {
      .result-page .result-card .details {
        width: 100%; } }
    .result-page .result-card .details span.flex-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      padding: 3px 5px; }
      .result-page .result-card .details span.flex-box span.title {
        width: 30%;
        font-size: 16px; }
        @media only screen and (max-width: 768px) {
          .result-page .result-card .details span.flex-box span.title {
            width: auto; } }
      .result-page .result-card .details span.flex-box .details {
        font-size: 16px;
        text-align: right; }
      .result-page .result-card .details span.flex-box.heading-block span.title {
        font-size: 20px; }
      .result-page .result-card .details span.flex-box.heading-block .details {
        font-size: 20px; }
      .result-page .result-card .details span.flex-box.content-block.low-weight.active {
        background: #EBE733; }
      .result-page .result-card .details span.flex-box.content-block.normal-weight.active {
        background: #00AC2E; }
      .result-page .result-card .details span.flex-box.content-block.over-weight.active {
        background: #ff9900; }
      .result-page .result-card .details span.flex-box.content-block.class-one.active {
        background: #EB392C; }
      .result-page .result-card .details span.flex-box.content-block.class-two.active {
        background: #B91E00; }
      .result-page .result-card .details span.flex-box.content-block.class-three.active {
        background: #B91E00; }

.result-page .main-product-block {
  margin: 40px 0 40px; }
  @media only screen and (max-width: 768px) {
    .result-page .main-product-block {
      margin: 0px 0 40px; } }
  .result-page .main-product-block .row {
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .result-page .main-product-block .row {
        display: grid;
        grid-template-columns: 100%; } }
    @media only screen and (max-width: 768px) {
      .result-page .main-product-block .row .col-5,
      .result-page .main-product-block .row .col-7 {
        max-width: 100%; } }
  .result-page .main-product-block .product-image img {
    width: 90%; }
    @media only screen and (max-width: 768px) {
      .result-page .main-product-block .product-image img {
        width: 70%; } }
  .result-page .main-product-block .product-details {
    padding-left: 45px; }
    @media only screen and (max-width: 768px) {
      .result-page .main-product-block .product-details {
        padding-left: 0; } }
    .result-page .main-product-block .product-details .title {
      font-family: "CircularStd-Black"; }
      @media only screen and (max-width: 768px) {
        .result-page .main-product-block .product-details .title {
          font-size: 20px;
          margin: 20px 0 0;
          text-align: center; } }
    .result-page .main-product-block .product-details .price-block .actual-price {
      color: #13181c;
      font-style: italic;
      font-size: 16px;
      margin-right: 12px; 
      color: #FF5722;
      font-size: 28px;
      text-decoration: line-through;}
    .result-page .main-product-block .product-details .price-block .discount-price {
      color: #039b22;
      font-size: 28px;
      font-family: "CircularStd-Black"; }
      .result-page .main-product-block .product-details .price-block .discount-price small {
        font-size: 60%; }
    @media only screen and (max-width: 768px) {
      .result-page .main-product-block .product-details .price-block {
        border: 1px dashed green;
        text-align: center;
        padding: 11px 0;
        margin: 12px 0 0; }
        .result-page .main-product-block .product-details .price-block .actual-price {
          display: block;
          text-decoration: line-through; } }
    .result-page .main-product-block .product-details .review {
      color: orange;
      margin: 20px 0;
      font-size: 16px; }
      @media only screen and (max-width: 768px) {
        .result-page .main-product-block .product-details .review {
          font-size: 14px; } }
    .result-page .main-product-block .product-details .offer-description {
      margin: 30px 0; }
      .result-page .main-product-block .product-details .offer-description .offer-title {
        font-family: "CircularStd-Bold";
        margin-bottom: 0;
        letter-spacing: 1px;
        font-size: 20px; }
      .result-page .main-product-block .product-details .offer-description .offer-list {
        padding: 0;
        list-style: none;
        margin: 5px 0; }
        .result-page .main-product-block .product-details .offer-description .offer-list li {
          font-size: 14px;
          color: #9a9898;
          padding: 2px 0; }
    @media only screen and (max-width: 768px) {
      .result-page .main-product-block .product-details .button-block {
        text-align: center; } }
    .result-page .main-product-block .product-details .button-block span {
      display: block;
      font-size: 17px; }
      .result-page .main-product-block .product-details .button-block span.green {
        color: #00b52c; }
      .result-page .main-product-block .product-details .button-block span.red {
        color: #ff2d6d; }
    .result-page .main-product-block .product-details .button-block .btn-green {
      margin: 5px 0;
      background: #00b52c;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
      padding: 10px 20px; }
      @media only screen and (max-width: 768px) {
        .result-page .main-product-block .product-details .button-block .btn-green {
          width: 100%; } }

.result-page .doctor-section {
  background: #f2f7fb;
  padding: 40px 0; }
  @media only screen and (max-width: 768px) {
    .result-page .doctor-section .row {
      display: grid;
      grid-template-columns: 100%;
      grid-row-gap: 20px; } }
  @media only screen and (max-width: 768px) {
    .result-page .doctor-section .row .col-3,
    .result-page .doctor-section .row .col-9 {
      max-width: 100%; } }
  .result-page .doctor-section .doctor-image img {
    width: 78%;
    margin: 0 auto;
    display: block; }
  .result-page .doctor-section .doctor-description {
    text-align: center; }
    .result-page .doctor-section .doctor-description p {
      color: #6d7276;
      font-family: "CircularStd-Book";
      font-size: 16px; }

.result-page .related-products {
  margin: 50px 0; }
  .result-page .related-products .title-block h5 {
    font-family: "CircularStd-Black";
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px; }
  .result-page .related-products .product-block {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .result-page .related-products .product-block {
        grid-template-columns: 100%; } }
    .result-page .related-products .product-block .product-item {
      border: 1px solid #f1f1f1;
      padding: 20px 0; }
      .result-page .related-products .product-block .product-item .image-block {
        height: 225px;
        width: 225px;
        margin: 0 auto; }
        .result-page .related-products .product-block .product-item .image-block img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .result-page .related-products .product-block .product-item .button-block {
        text-align: center; }
        .result-page .related-products .product-block .product-item .button-block .btn-green {
          margin: 5px 0;
          background: #e67402;
          color: #fff;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 20px;
          padding: 10px 20px; }

.result-page .testimonial {
  margin: 50px 0 0;
  padding: 50px 0;
  background: url(../images/testimonial-background.jpg); }
  .result-page .testimonial .title-block h5 {
    font-family: "CircularStd-Black";
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    color: #fff; }
  .result-page .testimonial .testimonial-list {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    grid-row-gap: 30px; }
    @media only screen and (max-width: 768px) {
      .result-page .testimonial .testimonial-list {
        grid-template-columns: 100%; } }
  .result-page .testimonial figure.snip1232 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 0;
    min-width: 220px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important; }
  .result-page .testimonial figure.snip1232 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .result-page .testimonial figure.snip1232 img {
    max-width: 100%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 5px;
    display: block;
    z-index: 1;
    position: absolute;
    right: 60%;
    object-fit: cover; }
  .result-page .testimonial figure.snip1232 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 65px 50px 35px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: -40px 0 0;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .result-page .testimonial figure.snip1232 blockquote:before,
  .result-page .testimonial figure.snip1232 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal; }
  .result-page .testimonial figure.snip1232 blockquote:before {
    top: 55px;
    left: 20px; }
  .result-page .testimonial figure.snip1232 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 5px; }
  .result-page .testimonial figure.snip1232 .author {
    margin: 0;
    height: 80px;
    display: block;
    text-align: left;
    padding: 0 35px;
    position: relative;
    z-index: 1; }
  .result-page .testimonial figure.snip1232 .author h5,
  .result-page .testimonial figure.snip1232 .author span {
    left: 42%;
    position: absolute;
    opacity: 0.8;
    padding: 3px 5px; }
  .result-page .testimonial figure.snip1232 .author h5 {
    text-transform: uppercase;
    bottom: 50%;
    margin: 0;
    font-weight: 600;
    color: #fafafa;
    font-size: 16px;
    opacity: 1; }
  .result-page .testimonial figure.snip1232 .author span {
    font-size: 0.8em;
    color: #000000;
    top: 50%;
    font-weight: 600; }

@media only screen and (max-width: 768px) {
  .cart-page .container,
  .cart-page .mobile-container {
    max-width: 350px;
    margin: 0 auto; } }

.cart-page header,
.cart-page footer {
  background: #0e1326; }
  .cart-page header .container,
  .cart-page footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0; }
    .cart-page header .container .logo,
    .cart-page footer .container .logo {
      width: 200px; }
      @media only screen and (max-width: 768px) {
        .cart-page header .container .logo,
        .cart-page footer .container .logo {
          margin: 0 auto; } }
      .cart-page header .container .logo img,
      .cart-page footer .container .logo img {
        width: 100%; }
    .cart-page header .container .navbar .nav-list,
    .cart-page footer .container .navbar .nav-list {
      display: flex;
      align-items: center;
      list-style: none;
      margin-bottom: 0; }
      .cart-page header .container .navbar .nav-list .nav-list_item,
      .cart-page footer .container .navbar .nav-list .nav-list_item {
        margin: 0 15px; }
        .cart-page header .container .navbar .nav-list .nav-list_item a,
        .cart-page footer .container .navbar .nav-list .nav-list_item a {
          color: #fff; }
    @media only screen and (max-width: 768px) {
      .cart-page header .container .navbar,
      .cart-page footer .container .navbar {
        display: none; } }

.cart-page .cart-block {
  display: grid;
  grid-template-columns: 60% 40%; }
  @media only screen and (max-width: 768px) {
    .cart-page .cart-block {
      grid-template-columns: 100%; } }
  .cart-page .cart-block .block-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .cart-page .cart-block .block-title {
        margin-bottom: 20px; } }
    .cart-page .cart-block .block-title button {
      background: transparent;
      border: none;
      font-size: 20px;
      display: none; }
      .cart-page .cart-block .block-title button:focus {
        outline: none; }
      @media only screen and (max-width: 768px) {
        .cart-page .cart-block .block-title button {
          display: block; } }
      .cart-page .cart-block .block-title button .fa {
        display: block;
        transform: rotate(180deg); }
      .cart-page .cart-block .block-title button.collapsed .fa {
        transform: rotate(0deg); }
    .cart-page .cart-block .block-title h5 {
      font-size: 24px;
      margin-bottom: 0; }
  .cart-page .cart-block .shipping-address-block {
    background: #f1f5f8;
    padding: 40px 50px; }
    @media only screen and (max-width: 768px) {
      .cart-page .cart-block .shipping-address-block {
        padding: 20px 15px; } }
    .cart-page .cart-block .shipping-address-block .form-details {
      margin: 20px 0; }
      .cart-page .cart-block .shipping-address-block .form-details .group {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        @media only screen and (max-width: 768px) {
          .cart-page .cart-block .shipping-address-block .form-details .group {
            display: block; } }
        .cart-page .cart-block .shipping-address-block .form-details .group .form-group .form-control:focus {
          color: #495057;
          background-color: #fff;
          border-color: #6c757d;
          outline: 0;
          box-shadow: none; }
        .cart-page .cart-block .shipping-address-block .form-details .group .form-group.two-coloumn {
          width: 48%; }
        .cart-page .cart-block .shipping-address-block .form-details .group .form-group.single-coloumn {
          width: 100%; }
        .cart-page .cart-block .shipping-address-block .form-details .group .form-group.three-coloumn {
          width: 30%; }
        @media only screen and (max-width: 768px) {
          .cart-page .cart-block .shipping-address-block .form-details .group .form-group {
            width: 100% !important; } }
  .cart-page .cart-block .cart-details-block {
    background: #f4faf6;
    padding: 40px 50px; }
    @media only screen and (max-width: 768px) {
      .cart-page .cart-block .cart-details-block {
        padding: 20px 15px; } }
    .cart-page .cart-block .cart-details-block .cart-product-block {
      margin: 20px 0;
      display: flex;
      align-items: center;
      background: #fff;
      padding: 10px;
      border-radius: 5px; }
      .cart-page .cart-block .cart-details-block .cart-product-block .image-block img {
        width: 82px;
        height: 82px;
        object-fit: contain; }
      .cart-page .cart-block .cart-details-block .cart-product-block .product-name h5 {
        font-family: "CircularStd-Bold";
        font-size: 22px; }
    .cart-page .cart-block .cart-details-block .cart-calculation-block {
      margin: 25px 0; }
      .cart-page .cart-block .cart-details-block .cart-calculation-block hr {
        border-top: 2px solid #9a9a9a; }
      .cart-page .cart-block .cart-details-block .cart-calculation-block .flex-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;
        font-size: 16px; }
        .cart-page .cart-block .cart-details-block .cart-calculation-block .flex-box span.box-value {
          font-family: "CircularStd-Bold";
          font-size: 18px; }
      .cart-page .cart-block .cart-details-block .cart-calculation-block .qty-block {
        display: flex;
        align-items: center; }
        .cart-page .cart-block .cart-details-block .cart-calculation-block .qty-block button {
          font-size: 16px;
          background: #6c757d;
          color: #ffffff;
          padding: 5px 14px;
          cursor: pointer;
          height: 34px;
          border: 1px solid #6c757d; }
          .cart-page .cart-block .cart-details-block .cart-calculation-block .qty-block button:focus {
            outline: 0; }
        .cart-page .cart-block .cart-details-block .cart-calculation-block .qty-block input {
          width: 45px;
          height: 34px;
          padding: 0px 1px;
          font-size: 18px;
          border-color: #6c757d;
          border-width: 1px;
          color: #6c757d;
          text-align: center; }
          .cart-page .cart-block .cart-details-block .cart-calculation-block .qty-block input:focus {
            outline: 0; }
    .cart-page .cart-block .cart-details-block .options-box {
      margin: 25px 0; }
      .cart-page .cart-block .cart-details-block .options-box .form-group {
        margin-bottom: 0rem; }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:checked,
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px; }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox label {
        position: relative;
        display: flex;
        align-items: center; }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"] + label span {
        position: relative;
        padding-left: 22px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        font-size: 14px;
        color: #949494; }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:checked + label:before,
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        border: 2px solid #949494;
        background: transparent; }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:checked + label:after,
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:not(:checked) + label:after {
        content: '';
        width: 6px;
        height: 6px;
        background: #949494;
        position: absolute;
        left: 4px;
        transition: all 0.2s ease; }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0); }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); }
      .cart-page .cart-block .cart-details-block .options-box.custom-checkbox [type="checkbox"]:checked + label span {
        color: #6c757d; }
    .cart-page .cart-block .cart-details-block .button-block .btn-green {
      margin: 5px 0;
      background: #00b52c;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 20px;
      padding: 10px 20px;
      width: 100%; }

/*# sourceMappingURL=style.css.map */


.thankyou-msg, .btn-order.active{
  display: none;
}
.btn-order.active + .thankyou-msg{
  display: block;
  font-size: 20px;
  padding: 16px;
  border: 1px solid;
  margin: 5px 0;
}
.sucess-active.button-block .green, .sucess-active.button-block .red{
  display: none!important;
}
.add-banner{
  margin: 10px 0;
}

.showcase .testimonial{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2e2e269;
  padding: 12px;
  margin: 0;
  border-radius: 8px;
}

.showcase .pic img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
}
.showcase .testimonial-title{
  font-size: 20px;
}
.showcase .testimonial-title small{
  color: #dc005a;
  font-size: 16px;
  font-weight: 800;
}
.showcase p{
  margin-bottom: 0;
}
.showcase .suc-title{
  position: absolute;
  right: 0;
  background: #2196F3;
  color: #fff;
  padding: 5px 18px;
  top: -15px;
}
.showcase{
  position: relative
}
@media only screen and (max-width: 768px) {
  .showcase .testimonial{
    display: block;
  }
  .showcase .pic{
    display: inline-block;
    margin-top: -50px;
  }
  .showcase .pic img{
    margin-bottom: 12px;
  }
  .showcase .testimonial{
    margin-bottom: 15px;
  }
}
.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.page-footer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f1f7fb;
  padding: 10px 16px;
}
.page-footer p{
  font-size: 12px;
  margin-bottom: 0;
}
.bmi-table .heading-block{
  margin: 14px 0 8px;
  display: block;
}
.bmi-table .details{
  display: flex;
  justify-content: center;
}
.bmi-table .details .content-block{
  border: 1px solid #0e0d0d;
  padding: 5px 15px;
  margin: 0 3px;
}
.bmi-table .details .content-block.active{
  background: #4CAF50;
  color: #fff;
  border-color: #4caf50;
}
.bmi-table .details .content-block.active span{
  animation: blinker 3s linear infinite;
}
.user-list .message{
  margin: 15px 0 0;
  text-align: left;
}
.user-list .message p{
  font-size: 14px;
}
.user-list .message p strong{
  font-size: 15px;
}
.user-list .message p.highlight{
  font-size: 16px;
  font-style: oblique;
}
@media only screen and (max-width: 768px) {
  .page-footer{
    display: block;
    text-align: center;
  }
  .page-footer p{
    margin-bottom: 6px;
  }
  .bmi-table .details{
    display: block;
  }
  .bmi-table .details .content-block{
    margin: 6px 3px;
    display: block;
  }
}
.otp-box .box{
  display: none;
}
.otp-box.active-text .box{
  display: block;
}
label.error, .help-block, .color-red{
  color: #FF5722;
}