body{ background: url("../images/bg.jpg") no-repeat fixed center; }
.container{max-width:700px;  box-shadow: 0 0 20px #00000010; background: #fff}
.img-fluid{margin-bottom: 15px;}
.guarantee{padding: 20px 0px;}
.guarantee .logo{text-align: right}
.guarantee .tnc{text-align: left}
h3{font-size: 20px;margin:8px 0px 5px;}
h5{font-size: 13px; font-weight: 400; line-height: 20px;}
.cod{ background: #6FA742 url("../images/leaf-bg.png") ; color: #fff;    padding: 10px;}
.cod h3{font-size: 22px;}
.cod h5{font-size: 17px;}
.logo{padding: 20px}
.form-header{background: #6FA742; padding: 10px; font-size: 22px; }
.btn-placeorder{background: #ff0045;border: none;color: #fff;font-size: 23px;padding: 10px 30px;letter-spacing: 0.5px;box-shadow: 0px 12px 20px 0px #ff001966;margin: 25px 0px 10px 0px;}
.shipping-box-header{background: #f9f9f9;font-size: 18px;text-transform: uppercase;padding: 10px;margin: 0px; text-align: left; border: 1px solid #dfe3e4;}
.shipping-box-container{text-align: left;border: 1px solid #dfe3e4; padding:5px  10px; font-size: 15px; min-height: 150px;}
.error{
color:red;
font-size: 14px;
}
.form-control{
	color: black;
	font-size: 16px;
}
.otp{
  display: none;
}
.otp.activebox{
  display: block;
}
.otp_error{
	
	color: red;
	font-size: 13px; 
}



@media (max-width: 768px) {
	.guarantee .logo{text-align: center}
.guarantee .tnc{text-align:center}

