
			
.feature {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 2em;
}

	.feature:last-child {
		margin-bottom: 2em;
	}

	.feature.left {
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.feature.right {
		-moz-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	.feature .image {
		width: 48%;
	}

		.feature .image img {
			max-width: 100%;
		}

	.feature .content {
		padding: 2em 3em 0.1em 3em;
		width: 52%;
	}

	@media screen and (max-width: 1280px) {

		.feature {
			margin-bottom: 2em;
		}

			.feature .content {
				padding: 1em 2em 0.1em 2em;
			}

	}

	@media screen and (max-width: 980px) {

		.feature.left, .feature.right {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}

		.feature .image {
			width: 100%;
		}

			.feature .image img {
				width: 100%;
			}

		.feature .content {
			padding: 2em 2em 0.1em 2em;
			width: 100%;
		}

	}

	@media screen and (max-width: 736px) {

		.feature {
			margin-bottom: 2em;
		}

			.feature .content {
				padding: 2em 1em 1em 1em;
			}

	}

.feature {
	background-color: rgba(144, 144, 144, 0.075);
}

/* Image Grid */

.image-grid {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 4em;
}

	.image-grid .image {
		margin: 0;
		width: 25%;
	}

		.image-grid .image img {
			width: 100%;
		}

	@media screen and (max-width: 980px) {

		.image-grid {
			margin-bottom: 3em;
		}

			.image-grid .image {
				width: 50%;
			}

	}

	@media screen and (max-width: 480px) {

		.image-grid {
			margin-bottom: 2em;
		}

			.image-grid .image {
				width: 100%;
			}

	}

/* Wrapper */

.wrapper {
	padding: 0em;
	position: relative;
}

	.wrapper > .inner {
		margin: 0 auto;
		width: 70em;
	}

	.wrapper.style1 {
		background-color: #fff;
		color: #777;
	}

		.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
			color: #0e1633;
		}

		.wrapper.style1 a {
			color: #51BAA4;
		}

		.wrapper.style1 strong, .wrapper.style1 b {
			color: #0e1633;
		}

		.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
			color: #0e1633;
		}

		.wrapper.style1 blockquote {
			border-left-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 code {
			background: #fff;
			border-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 hr {
			border-bottom-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 header p {
			color: #0e1633;
		}

		.wrapper.style1 .feature {
			background-color: #fff;
		}

		.wrapper.style1 label {
			color: #0e1633;
		}

		.wrapper.style1 input[type="text"],
		.wrapper.style1 input[type="password"],
		.wrapper.style1 input[type="email"],
		.wrapper.style1 select,
		.wrapper.style1 textarea {
			background-color: #fff;
			border-color: rgba(144, 144, 144, 0.25);
			color: inherit;
		}

			.wrapper.style1 input[type="text"]:focus,
			.wrapper.style1 input[type="password"]:focus,
			.wrapper.style1 input[type="email"]:focus,
			.wrapper.style1 select:focus,
			.wrapper.style1 textarea:focus {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

		.wrapper.style1 .select-wrapper:before {
			color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 input[type="checkbox"] + label,
		.wrapper.style1 input[type="radio"] + label {
			color: #777;
		}

			.wrapper.style1 input[type="checkbox"] + label:before,
			.wrapper.style1 input[type="radio"] + label:before {
				background-color: #fff;
				border-color: rgba(144, 144, 144, 0.25);
			}

		.wrapper.style1 input[type="checkbox"]:checked + label:before,
		.wrapper.style1 input[type="radio"]:checked + label:before {
			background-color: #fff;
			border-color: #51BAA4;
			color: #0e1633;
		}

		.wrapper.style1 input[type="checkbox"]:focus + label:before,
		.wrapper.style1 input[type="radio"]:focus + label:before {
			border-color: #51BAA4;
			box-shadow: 0 0 0 1px #51BAA4;
		}

		.wrapper.style1 ::-webkit-input-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 :-moz-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 ::-moz-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 :-ms-input-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 .formerize-placeholder {
			color: #bbb !important;
		}

		.wrapper.style1 form.alt input[type="text"],
		.wrapper.style1 form.alt input[type="password"],
		.wrapper.style1 form.alt input[type="email"],
		.wrapper.style1 form.alt select,
		.wrapper.style1 form.alt textarea {
			background-color: transparent;
		}

		.wrapper.style1 ul.alt > li {
			border-top-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 table tbody tr {
			border-color: rgba(144, 144, 144, 0.25);
		}

			.wrapper.style1 table tbody tr:nth-child(2n + 1) {
				background-color: #fff;
			}

		.wrapper.style1 table th {
			color: #0e1633;
		}

		.wrapper.style1 table thead {
			border-bottom-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 table tfoot {
			border-top-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 table.alt tbody tr td {
			border-color: rgba(144, 144, 144, 0.25);
		}

		.wrapper.style1 input[type="submit"],
		.wrapper.style1 input[type="reset"],
		.wrapper.style1 input[type="button"],
		.wrapper.style1 button,
		.wrapper.style1 .button {
			background-color: #b12537;
			box-shadow: none;
			color: #fff !important;
			cursor: pointer
		}

			.wrapper.style1 input[type="submit"].icon:before,
			.wrapper.style1 input[type="reset"].icon:before,
			.wrapper.style1 input[type="button"].icon:before,
			.wrapper.style1 button.icon:before,
			.wrapper.style1 .button.icon:before {
				color: #0F1D3A;
			}

			.wrapper.style1 input[type="submit"]:hover,
			.wrapper.style1 input[type="reset"]:hover,
			.wrapper.style1 input[type="button"]:hover,
			.wrapper.style1 button:hover,
			.wrapper.style1 .button:hover {
				background-color: #626262;
			}

			.wrapper.style1 input[type="submit"]:active,
			.wrapper.style1 input[type="reset"]:active,
			.wrapper.style1 input[type="button"]:active,
			.wrapper.style1 button:active,
			.wrapper.style1 .button:active {
				background-color: #0F1D3A;
			}

			.wrapper.style1 input[type="submit"].special,
			.wrapper.style1 input[type="reset"].special,
			.wrapper.style1 input[type="button"].special,
			.wrapper.style1 button.special,
			.wrapper.style1 .button.special {
				background-color: #51BAA4;
				box-shadow: none;
				color: #fff !important;
			}

				.wrapper.style1 input[type="submit"].special:hover,
				.wrapper.style1 input[type="reset"].special:hover,
				.wrapper.style1 input[type="button"].special:hover,
				.wrapper.style1 button.special:hover,
				.wrapper.style1 .button.special:hover {
					background-color: #63c1ae;
				}

				.wrapper.style1 input[type="submit"].special:active,
				.wrapper.style1 input[type="reset"].special:active,
				.wrapper.style1 input[type="button"].special:active,
				.wrapper.style1 button.special:active,
				.wrapper.style1 .button.special:active {
					background-color: #45ad97;
				}

			.wrapper.style1 input[type="submit"].alt,
			.wrapper.style1 input[type="reset"].alt,
			.wrapper.style1 input[type="button"].alt,
			.wrapper.style1 button.alt,
			.wrapper.style1 .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #51BAA4;
				color: #51BAA4 !important;
			}

				.wrapper.style1 input[type="submit"].alt:hover,
				.wrapper.style1 input[type="reset"].alt:hover,
				.wrapper.style1 input[type="button"].alt:hover,
				.wrapper.style1 button.alt:hover,
				.wrapper.style1 .button.alt:hover {
					background-color: #fff;
				}

				.wrapper.style1 input[type="submit"].alt:active,
				.wrapper.style1 input[type="reset"].alt:active,
				.wrapper.style1 input[type="button"].alt:active,
				.wrapper.style1 button.alt:active,
				.wrapper.style1 .button.alt:active {
					background-color: rgba(144, 144, 144, 0.2);
				}

	.wrapper.style2 {
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
	}

		.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
			color: #fff;
		}

		.wrapper.style2 a {
			color: #51BAA4;
		}

		.wrapper.style2 strong, .wrapper.style2 b {
			color: #fff;
		}

		.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
			color: #fff;
		}

		.wrapper.style2 blockquote {
			border-left-color: transparent;
		}

		.wrapper.style2 code {
			background: rgba(255, 255, 255, 0.05);
			border-color: transparent;
		}

		.wrapper.style2 hr {
			border-bottom-color: transparent;
		}

		.wrapper.style2 header p {
			color: #fff;
		}

		.wrapper.style2 .feature {
			background-color: rgba(255, 255, 255, 0.05);
		}

		.wrapper.style2 label {
			color: #fff;
		}

		.wrapper.style2 input[type="text"],
		.wrapper.style2 input[type="password"],
		.wrapper.style2 input[type="email"],
		.wrapper.style2 select,
		.wrapper.style2 textarea {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: transparent;
			color: inherit;
		}

			.wrapper.style2 input[type="text"]:focus,
			.wrapper.style2 input[type="password"]:focus,
			.wrapper.style2 input[type="email"]:focus,
			.wrapper.style2 select:focus,
			.wrapper.style2 textarea:focus {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

		.wrapper.style2 .select-wrapper:before {
			color: transparent;
		}

		.wrapper.style2 input[type="checkbox"] + label,
		.wrapper.style2 input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style2 input[type="checkbox"] + label:before,
			.wrapper.style2 input[type="radio"] + label:before {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: transparent;
			}

		.wrapper.style2 input[type="checkbox"]:checked + label:before,
		.wrapper.style2 input[type="radio"]:checked + label:before {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: #51BAA4;
			color: #fff;
		}

		.wrapper.style2 input[type="checkbox"]:focus + label:before,
		.wrapper.style2 input[type="radio"]:focus + label:before {
			border-color: #51BAA4;
			box-shadow: 0 0 0 1px #51BAA4;
		}

		.wrapper.style2 ::-webkit-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 :-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 ::-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 :-ms-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 .formerize-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style2 form.alt input[type="text"],
		.wrapper.style2 form.alt input[type="password"],
		.wrapper.style2 form.alt input[type="email"],
		.wrapper.style2 form.alt select,
		.wrapper.style2 form.alt textarea {
			background-color: transparent;
		}

		.wrapper.style2 ul.alt > li {
			border-top-color: transparent;
		}

		.wrapper.style2 table tbody tr {
			border-color: transparent;
		}

			.wrapper.style2 table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.05);
			}

		.wrapper.style2 table th {
			color: #fff;
		}

		.wrapper.style2 table thead {
			border-bottom-color: transparent;
		}

		.wrapper.style2 table tfoot {
			border-top-color: transparent;
		}

		.wrapper.style2 table.alt tbody tr td {
			border-color: transparent;
		}

		.wrapper.style2 input[type="submit"],
		.wrapper.style2 input[type="reset"],
		.wrapper.style2 input[type="button"],
		.wrapper.style2 button,
		.wrapper.style2 .button {
			background-color: #fff;
			box-shadow: none;
			color: #1E2832 !important;
		}

			.wrapper.style2 input[type="submit"].icon:before,
			.wrapper.style2 input[type="reset"].icon:before,
			.wrapper.style2 input[type="button"].icon:before,
			.wrapper.style2 button.icon:before,
			.wrapper.style2 .button.icon:before {
				color: #a5a9ad;
			}

			.wrapper.style2 input[type="submit"]:hover,
			.wrapper.style2 input[type="reset"]:hover,
			.wrapper.style2 input[type="button"]:hover,
			.wrapper.style2 button:hover,
			.wrapper.style2 .button:hover {
				background-color: white;
			}

			.wrapper.style2 input[type="submit"]:active,
			.wrapper.style2 input[type="reset"]:active,
			.wrapper.style2 input[type="button"]:active,
			.wrapper.style2 button:active,
			.wrapper.style2 .button:active {
				background-color: #f2f2f2;
			}

			.wrapper.style2 input[type="submit"].special,
			.wrapper.style2 input[type="reset"].special,
			.wrapper.style2 input[type="button"].special,
			.wrapper.style2 button.special,
			.wrapper.style2 .button.special {
				background-color: #51BAA4;
				box-shadow: none;
				color: #fff !important;
			}

				.wrapper.style2 input[type="submit"].special:hover,
				.wrapper.style2 input[type="reset"].special:hover,
				.wrapper.style2 input[type="button"].special:hover,
				.wrapper.style2 button.special:hover,
				.wrapper.style2 .button.special:hover {
					background-color: #63c1ae;
				}

				.wrapper.style2 input[type="submit"].special:active,
				.wrapper.style2 input[type="reset"].special:active,
				.wrapper.style2 input[type="button"].special:active,
				.wrapper.style2 button.special:active,
				.wrapper.style2 .button.special:active {
					background-color: #45ad97;
				}

			.wrapper.style2 input[type="submit"].alt,
			.wrapper.style2 input[type="reset"].alt,
			.wrapper.style2 input[type="button"].alt,
			.wrapper.style2 button.alt,
			.wrapper.style2 .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #fff !important;
			}

				.wrapper.style2 input[type="submit"].alt:hover,
				.wrapper.style2 input[type="reset"].alt:hover,
				.wrapper.style2 input[type="button"].alt:hover,
				.wrapper.style2 button.alt:hover,
				.wrapper.style2 .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.05);
				}

				.wrapper.style2 input[type="submit"].alt:active,
				.wrapper.style2 input[type="reset"].alt:active,
				.wrapper.style2 input[type="button"].alt:active,
				.wrapper.style2 button.alt:active,
				.wrapper.style2 .button.alt:active {
					background-color: rgba(255, 255, 255, 0.1);
				}

	.wrapper.style3 {
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
		background-attachment: fixed;
		background-image: url("images/overlay.png"), url("../../images/pic11.jpg");
		background-size: cover;
	}

		.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
			color: #fff;
		}

		.wrapper.style3 a {
			color: #51BAA4;
		}

		.wrapper.style3 strong, .wrapper.style3 b {
			color: #fff;
		}

		.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
			color: #fff;
		}

		.wrapper.style3 blockquote {
			border-left-color: transparent;
		}

		.wrapper.style3 code {
			background: rgba(255, 255, 255, 0.05);
			border-color: transparent;
		}

		.wrapper.style3 hr {
			border-bottom-color: transparent;
		}

		.wrapper.style3 header p {
			color: #fff;
		}

		.wrapper.style3 .feature {
			background-color: rgba(255, 255, 255, 0.05);
		}

		.wrapper.style3 label {
			color: #fff;
		}

		.wrapper.style3 input[type="text"],
		.wrapper.style3 input[type="password"],
		.wrapper.style3 input[type="email"],
		.wrapper.style3 select,
		.wrapper.style3 textarea {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: transparent;
			color: inherit;
		}

			.wrapper.style3 input[type="text"]:focus,
			.wrapper.style3 input[type="password"]:focus,
			.wrapper.style3 input[type="email"]:focus,
			.wrapper.style3 select:focus,
			.wrapper.style3 textarea:focus {
				border-color: #51BAA4;
				box-shadow: 0 0 0 1px #51BAA4;
			}

		.wrapper.style3 .select-wrapper:before {
			color: transparent;
		}

		.wrapper.style3 input[type="checkbox"] + label,
		.wrapper.style3 input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			.wrapper.style3 input[type="checkbox"] + label:before,
			.wrapper.style3 input[type="radio"] + label:before {
				background-color: rgba(255, 255, 255, 0.05);
				border-color: transparent;
			}

		.wrapper.style3 input[type="checkbox"]:checked + label:before,
		.wrapper.style3 input[type="radio"]:checked + label:before {
			background-color: rgba(255, 255, 255, 0.05);
			border-color: #51BAA4;
			color: #fff;
		}

		.wrapper.style3 input[type="checkbox"]:focus + label:before,
		.wrapper.style3 input[type="radio"]:focus + label:before {
			border-color: #51BAA4;
			box-shadow: 0 0 0 1px #51BAA4;
		}

		.wrapper.style3 ::-webkit-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 :-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 ::-moz-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 :-ms-input-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 .formerize-placeholder {
			color: #a5a9ad !important;
		}

		.wrapper.style3 form.alt input[type="text"],
		.wrapper.style3 form.alt input[type="password"],
		.wrapper.style3 form.alt input[type="email"],
		.wrapper.style3 form.alt select,
		.wrapper.style3 form.alt textarea {
			background-color: transparent;
		}

		.wrapper.style3 ul.alt > li {
			border-top-color: transparent;
		}

		.wrapper.style3 table tbody tr {
			border-color: transparent;
		}

			.wrapper.style3 table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.05);
			}

		.wrapper.style3 table th {
			color: #fff;
		}

		.wrapper.style3 table thead {
			border-bottom-color: transparent;
		}

		.wrapper.style3 table tfoot {
			border-top-color: transparent;
		}

		.wrapper.style3 table.alt tbody tr td {
			border-color: transparent;
		}

		.wrapper.style3 input[type="submit"],
		.wrapper.style3 input[type="reset"],
		.wrapper.style3 input[type="button"],
		.wrapper.style3 button,
		.wrapper.style3 .button {
			background-color: #fff;
			box-shadow: none;
			color: #1E2832 !important;
		}

			.wrapper.style3 input[type="submit"].icon:before,
			.wrapper.style3 input[type="reset"].icon:before,
			.wrapper.style3 input[type="button"].icon:before,
			.wrapper.style3 button.icon:before,
			.wrapper.style3 .button.icon:before {
				color: #a5a9ad;
			}

			.wrapper.style3 input[type="submit"]:hover,
			.wrapper.style3 input[type="reset"]:hover,
			.wrapper.style3 input[type="button"]:hover,
			.wrapper.style3 button:hover,
			.wrapper.style3 .button:hover {
				background-color: white;
			}

			.wrapper.style3 input[type="submit"]:active,
			.wrapper.style3 input[type="reset"]:active,
			.wrapper.style3 input[type="button"]:active,
			.wrapper.style3 button:active,
			.wrapper.style3 .button:active {
				background-color: #f2f2f2;
			}

			.wrapper.style3 input[type="submit"].special,
			.wrapper.style3 input[type="reset"].special,
			.wrapper.style3 input[type="button"].special,
			.wrapper.style3 button.special,
			.wrapper.style3 .button.special {
				background-color: #51BAA4;
				box-shadow: none;
				color: #fff !important;
			}

				.wrapper.style3 input[type="submit"].special:hover,
				.wrapper.style3 input[type="reset"].special:hover,
				.wrapper.style3 input[type="button"].special:hover,
				.wrapper.style3 button.special:hover,
				.wrapper.style3 .button.special:hover {
					background-color: #63c1ae;
				}

				.wrapper.style3 input[type="submit"].special:active,
				.wrapper.style3 input[type="reset"].special:active,
				.wrapper.style3 input[type="button"].special:active,
				.wrapper.style3 button.special:active,
				.wrapper.style3 .button.special:active {
					background-color: #45ad97;
				}

			.wrapper.style3 input[type="submit"].alt,
			.wrapper.style3 input[type="reset"].alt,
			.wrapper.style3 input[type="button"].alt,
			.wrapper.style3 button.alt,
			.wrapper.style3 .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #fff !important;
			}

				.wrapper.style3 input[type="submit"].alt:hover,
				.wrapper.style3 input[type="reset"].alt:hover,
				.wrapper.style3 input[type="button"].alt:hover,
				.wrapper.style3 button.alt:hover,
				.wrapper.style3 .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.05);
				}

				.wrapper.style3 input[type="submit"].alt:active,
				.wrapper.style3 input[type="reset"].alt:active,
				.wrapper.style3 input[type="button"].alt:active,
				.wrapper.style3 button.alt:active,
				.wrapper.style3 .button.alt:active {
					background-color: rgba(255, 255, 255, 0.1);
				}

	@media screen and (max-width: 1280px) {

		.wrapper {
			padding: 	0;
		}

			.wrapper > .inner {
				width: 65em;
			}

	}

	@media screen and (max-width: 980px) {

		.wrapper {
			padding: 5em 3em 3em 3em;
		}

			.wrapper > .inner {
				width: 100%;
			}

	}

	@media screen and (max-width: 736px) {

		.wrapper {
			padding: 0em;
		}

	}

	@media screen and (max-width: 480px) {

		.wrapper {
			padding: 0em;
		}

	}

