 

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-food:before {
  content: "\e900";
}
.icon-people-1:before {
  content: "\e901";
}
.icon-restaurant:before {
  content: "\e902";
}
.icon-people:before {
  content: "\e903";
}
.icon-coffee-cup:before {
  content: "\e904";
}
.icon-monitor:before {
  content: "\e905";
}
.icon-wifi:before {
  content: "\e906";
}
.icon-car:before {
  content: "\e907";
}

.slider_search h4,.slider_search1 h4{font-weight:700;color:#fff}.indexmap iframe{height:425px;width:100%}.indexmap{min-height:400px;opacity:.1;width:100%;z-index:0}.form-set{position:relative;background:#3bb54a}.slider_search1 .form-horizontal .width95 .form-group .form-control{width:95%}#slideshow img,.forms-one{width:100%}#slideshow .owl-nav .owl-prev{color:#fff;left:10px;position:absolute;top:40%}#slideshow .owl-nav .owl-next{color:#fff;right:10px;position:absolute;top:40%}.forms-one{background:#eee;padding:13px 0;right:0;text-align:center;z-index:100}.forms-one .vertical-type-form input,select{border:1px solid #ccc;height:44px;margin:3px 4px;padding:10px}#vertical-search .search-two{float:right;margin-left:4px;margin-top:4px;padding:0;position:relative}#vertical-search .search-two input[type=submit]{border:none;height:39px;margin-top:0;padding:6px 0;top:2px;width:100%;color:#fff}#vertical-search .search-two .fa-search{color:#fff;position:absolute}.search-two input[type=submit]{background:#555}.button_search1{background:#EA403C;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px auto 12px;padding:2px 40px;min-height:55px;display:block;text-align:center}@media (min-width:768px){.slider_search{background:rgba(0,0,0,.7);padding:15px;position:absolute;text-align:center;z-index:999}.slider_search h4{margin:0 0 10px}.button_search{background:#f55a4e;border:none;border-radius:5px;color:#fff;font-size:15px;margin:0;padding:.5px 40px .5px 10px}.form-set .form-group{margin-bottom:10px}}@media (min-width:980px){.form-set .main-form1{margin:0 auto;position:relative;top:-385px}.slider_search,.slider_search1{background:rgba(0,0,0,.7);position:absolute;text-align:center;z-index:999}.slider_search1{border-radius:10px;padding:10px;right:0;top:8%;margin-top:-10%}.slider_search{padding:15px 26px}.slider_search h4{margin:0 0 10px}.button_search .fa{padding-right:15px;border-right:1px solid #B41612;margin-right:15px;padding-top:15px;padding-bottom:15px}.button_search{background:#EA403C;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px 0 12px;padding:2px 40px;min-height:55px;float:right}.form-set .form-group{margin-bottom:10px}}.button_search .fa{padding-right:15px;border-right:1px solid #B41612;margin-right:15px;padding-top:15px;padding-bottom:15px}.button_search{background:#EA403C;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px 0 12px;padding:2px 40px;min-height:55px;float:right}@media (max-width:767px){.slider_search{background:rgba(0,0,0,.7)}.button_search{background:#f55a4e;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px 0;padding:7.5px 40px 7.5px 10px}.slider_search1 .form-horizontal .width95 .form-group .form-control{width:100%}.slider_search h4{padding:10px 0 0}}.slider_search .button_search i{border-top:1px solid #f54a3c;font-size:20px;line-height:24px;margin-right:5px;padding:5px;transform:rotate(90deg)}