body { font-family: 'Ubuntu', sans-serif; }
a,
a:active,
a:hover { text-decoration: none !important; }
p { font-family: 'Ubuntu', sans-serif; font-size: 16px; line-height: 26px; color: #848484; }
.option-heading p { margin-bottom: 0px; }
img { max-width: 100%; }
.container { padding: 0; }
.sec-pad { padding: 50px 0; }
.sec-title { position: relative; }
.sec-title h1 { font-family: 'Ubuntu', sans-serif; font-size: 85px; color: #f1f1f1; margin: 0; text-transform: uppercase; line-height: 100%; }
.thm-btn { display: inline-block; background: #0099d9; font-size: 14px; font-family: 'Ubuntu', sans-serif; font-weight: bold; outline: none; color: #ffffff; padding: 15px 41px; transition: all .4s ease; }
.thm-btn:hover { background: rgba(187, 181, 181, 0.6); color: #fff; }
.thm-btnas { display: inline-block; background: #0099d9; font-size: 21px; font-family: 'Ubuntu', sans-serif; outline: none; color: #ffffff; padding: 6px 23px; transition: all .4s ease; margin-top: 0px; border: none; }
.thm-btnas:hover { background: #006a96; color: #fff; }
.thm-btnas.contact_btn{
	 
    font-size: 30px; 
    padding: 10px 43px;
   

}
.thm-btn.borderd { border: 1px solid #ffffff; background: transparent; }
.header .header-navigation.navbar { background-color: transparent; position: relative; min-height: auto; margin-bottom: 0px; border: 0px solid transparent; border-radius: 0; }
.header .header-navigation.navbar > .container .navbar-brand,
.header .header-navigation.navbar > .container-fluid .navbar-brand { margin: 0; float: left; height: auto; padding: 23px 0; font-size: 18px; line-height: 90px; }
#main-nav-bar > ul > li { padding: 25px 0; position: relative; }
#main-nav-bar > ul > li > a { font-family: 'Ubuntu', sans-serif; text-transform: uppercase; color: #222222; font-weight: 600; padding: 10px 12px; font-size: 15px; }
#main-nav-bar > ul > li > ul { position: absolute; top: 100%; left: 0; background: #222222; padding: 0; min-width: 200px; z-index: 999; opacity: 0; visibility: hidden; transition: all .4s ease; }
#main-nav-bar > ul > li:hover > ul { opacity: 1; visibility: visible; }
#main-nav-bar > ul > li > ul > li { list-style: none; }
#main-nav-bar > ul > li > ul > li > a { font-size: 15px; font-family: 'Ubuntu', sans-serif; color: #ffffff; padding: 9px 14px; display: block; }
#main-nav-bar > ul > li > a.book-now-btn { color: #ffffff; padding: 10px 33px; margin-left: 20px; }
#main-nav-bar > ul > li > a.book-now-btn:hover { background: #282834; }
 @media (min-width:1025px) {
.nav li a span.phone-only { display: none; }
}
 @media (max-width:1024px) {
.nav li a span.phone-only { display: inline-block; }
.nav li a span.phone-only + i { display: none; }
}
.banner-caption-h3 { font-size: 80px; font-family: 'Ubuntu', sans-serif; font-style: italic; color: #ffffff; }
.banner-caption-p { font-family: 'Ubuntu', sans-serif; color: #ffffff; font-size: 20px; }
.book-now-section { background: #d1d5d8;     padding: 40px 0;}
.book-now-section .title-box { width: 165px; float: left; border-right: 1px solid #53535D; position: relative; margin-right: 40px; padding: 35px 0; }
.book-now-section .title-box i { color: #0099d9; position: absolute; top: 35%; right: -9%; border: 1px solid #53535D; border-radius: 50%; width: 30px; text-align: center; height: 30px; background: #282834; line-height: 28px; }
.book-now-section .title-box h3 { margin: 0; color: #ffffff; font-size: 26px; font-weight: bold; font-style: italic; font-family: 'Ubuntu', sans-serif; }
.book-now-section .title-box span { color: #0099d9; display: block; }
.book-now-section .form-grp { width: 193px; float: left; padding: 5px; position: relative; }
.book-now-section .form-grp i { position: absolute; top: 43%; right: 20px; color: #848484; }
.book-now-section .form-grp .thm-btn { border: none; padding: 15px 16px; }
.book-now-section .form-grp input { width: 100%; height: 48px; padding: 0 10px; }
.book-now-section .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 100%; }
.book-now-section .btn-group.bootstrap-select { width: 100%; }
.book-now-section .btn { background: #FFFFFF; font-size: 14px; color: #848484; font-family: 'Ubuntu', sans-serif; text-transform: capitalize; border: 1px solid #ccc; outline: none !important; padding: 13px 24px 13px 10px; border-radius: 0; margin-top: 0; height: auto; }
.book-now-section .bootstrap-select.btn-group .dropdown-toggle .caret { border: none; top: 2px; right: 20px; }
.book-now-section .dropdown-menu { padding: 0; border-radius: 0; }
.book-now-section .dropdown-menu>li>a { padding: 8px 15px; color: #fff; transition: all .3s ease; }
.book-now-section .dropdown-menu>li>a:hover { background: #0099d9; }
.book-now-section .bootstrap-select.btn-group .dropdown-menu li a span.text { font-size: 13px; color: #848484; }
.book-now-section .bootstrap-select.btn-group .dropdown-menu li a:hover span.text { color: #fff; transition: all .3s ease; }
.book-now-section .bootstrap-select.btn-group .dropdown-toggle .caret:before { content: '\f107'; font-family: 'FontAwesome'; color: #848484; font-size: 14px; line-height: 46px; }
.book-now-section button.Zebra_DatePicker_Icon_Inside { display: none; }
.welcome-section .thm-btn { margin-top: 40px; }
.welcome-section .welcome-left { padding-right: 20px; }
 @media all and (max-width:10000px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:1920px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:1400px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:1200px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:1024px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:991px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:768px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:640px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg2.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:480px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg1.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:375px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg1.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:360px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg1.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:320px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg1.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
 @media all and (max-width:568px) and (min-width:10px) {
.counter-section { background: #000 url(../../../images/frontend/audichoice/bg1.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; padding: 30px 0; background-size: 100%; background-position: center; }
}
.slider_search h4,.slider_search1 h4{font-weight:700;color:#fff}.indexmap iframe{height:425px;width:100%}.indexmap{min-height:400px;opacity:.1;width:100%;z-index:0}.form-set{position:relative;background:#3bb54a}.slider_search1 .form-horizontal .width95 .form-group .form-control{width:95%}#slideshow img,.forms-one{width:100%}#slideshow .owl-nav .owl-prev{color:#fff;left:10px;position:absolute;top:40%}#slideshow .owl-nav .owl-next{color:#fff;right:10px;position:absolute;top:40%}.forms-one{background:#eee;padding:13px 0;right:0;text-align:center;z-index:100}.forms-one .vertical-type-form input,select{border:1px solid #ccc;height:44px;margin:3px 4px;padding:10px}#vertical-search .search-two{float:right;margin-left:4px;margin-top:4px;padding:0;position:relative}#vertical-search .search-two input[type=submit]{border:none;height:39px;margin-top:0;padding:6px 0;top:2px;width:100%;color:#fff}#vertical-search .search-two .fa-search{color:#fff;position:absolute}.search-two input[type=submit]{background:#555}.button_search1{background:#EA403C;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px auto 12px;padding:2px 40px;min-height:55px;display:block;text-align:center}@media (min-width:768px){.slider_search{background:rgba(0,0,0,.7);padding:15px;position:absolute;text-align:center;z-index:999}.slider_search h4{margin:0 0 10px}.button_search{background:#f55a4e;border:none;border-radius:5px;color:#fff;font-size:15px;margin:0;padding:.5px 40px .5px 10px}.form-set .form-group{margin-bottom:10px}}@media (min-width:980px){.form-set .main-form1{margin:0 auto;position:relative;top:-385px}.slider_search,.slider_search1{background:rgba(0,0,0,.7);position:absolute;text-align:center;z-index:999}.slider_search1{border-radius:10px;padding:10px;right:0;top:8%;margin-top:-10%}.slider_search{padding:15px 26px}.slider_search h4{margin:0 0 10px}.button_search .fa{padding-right:15px;border-right:1px solid #B41612;margin-right:15px;padding-top:15px;padding-bottom:15px}.button_search{background:#EA403C;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px 0 12px;padding:2px 40px;min-height:55px;float:right}.form-set .form-group{margin-bottom:10px}}.button_search .fa{padding-right:15px;border-right:1px solid #B41612;margin-right:15px;padding-top:15px;padding-bottom:15px}.button_search{background:#EA403C;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px 0 12px;padding:2px 40px;min-height:55px;float:right}@media (max-width:767px){.slider_search{background:rgba(0,0,0,.7)}.button_search{background:#f55a4e;border:none;border-radius:5px;color:#fff;font-size:22px;margin:10px 0;padding:7.5px 40px 7.5px 10px}.slider_search1 .form-horizontal .width95 .form-group .form-control{width:100%}.slider_search h4{padding:10px 0 0}}.slider_search .button_search i{border-top:1px solid #f54a3c;font-size:20px;line-height:24px;margin-right:5px;padding:5px;transform:rotate(90deg)}



.counter-section .single-counter h4 { font-family: 'Ubuntu', sans-serif; font-style: italic; color: #ffffff; font-size: 45px; }
.counter-section .single-counter .decor-line { display: block; width: 40px; height: 2px; background: #0099d9; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px; }
.counter-section .single-counter p { font-size: 15px; color: #ffffff; }
.our-rooms .sec-title { margin-bottom: 50px; }
.single-room h3 { font-family: 'Ubuntu', sans-serif; font-size: 25px; color: #222222; margin: 0; margin-bottom: 15px; }
.single-room i { color: #fbb234; font-size: 12px; }
.single-room .bottom-box { border: 1px solid #E5E5E5; padding: 40px 30px; padding-top: 35px; }
.single-room .thm-btn { float: left; }
.single-room span { font-family: 'Ubuntu', sans-serif; font-style: italic; color: #848484; font-size: 13px; text-transform: capitalize; }
.single-room .price { color: #0099d9; font-family: 'Ubuntu', sans-serif; font-style: italic; font-size: 22px; font-weight: bold; }
.single-room p { margin-bottom: 20px; margin-top: 15px; }
.single-room .price-box { float: left; padding-left: 30px; }
.room-carousel.owl-theme .owl-nav [class*=owl-] { width: 40px; height: 40px; background: #0099d9; border-radius: 0; font-size: 15px; line-height: 40px; padding: 0; }
.room-carousel.owl-theme .owl-nav { position: absolute; bottom: 100%; right: 0; margin-bottom: 50px; }
.rooms-grid { padding-bottom: 70px; }
.rooms-grid .single-room { margin-bottom: 30px; }
.rooms-list .single-room { margin-bottom: 30px; }
.rooms-list .single-room .img-box,
.rooms-list .single-room .text-box,
.rooms-list .single-room .price-box { float: left; }
.rooms-list .single-room .thm-btn { float: none; padding-left: 21px; padding-right: 21px; }
.rooms-list .single-room span.price { font-size: 30px; margin-bottom: 0; }
.rooms-list .single-room span { display: block; font-size: 18px; margin-bottom: 15px; }
.rooms-list .single-room .img-box { width: 370px; }
.rooms-list .single-room .text-box { width: 620px; padding: 39px 0; padding-left: 40px; border: 1px solid #e5e5e5; padding-right: 40px; }
.rooms-list .single-room .price-box { width: 180px; text-align: center; padding: 74px 25px; border: 1px solid #e5e5e5; border-left: 0; }
.gallery-section.gray-bg { background: #F5F5F8; padding-bottom: 0; }
.gallery-section .sec-title { margin-bottom: 40px; }
.single-gallery { position: relative; }
.single-gallery .overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(127,193,66, .90); opacity: 0; visibility: hidden; transition: all .4s ease; }
.single-gallery:hover .overlay { opacity: 1; visibility: visible; }
.single-gallery .overlay .dt { display: table; width: 100%; height: 100%; }
.single-gallery .overlay .dtc { display: table-cell; vertical-align: middle; text-align: center; }
.single-gallery h3 { font-size: 18px; color: #ffffff; margin: 0; font-family: 'Ubuntu', sans-serif; margin-top: 20px; }
.single-gallery i { width: 45px; height: 45px; border: 2px solid #ffffff; color: #ffffff; line-height: 41px; border-radius: 50%; }
.gallery-carousel .owl-controls { position: absolute; bottom: 100%; right: 0; width: 100%; }
.gallery-carousel .owl-controls .owl-nav { max-width: 1170px; margin-left: auto; margin-right: auto; text-align: right; margin-bottom: 50px; }
.gallery-carousel.owl-theme .owl-nav [class*=owl-] { width: 40px; height: 40px; background: #0099d9; border-radius: 0; font-size: 15px; line-height: 40px; padding: 0; text-align: center; }
.gallery-page .single-gallery { margin-bottom: 30px; }
.post-filter { margin-bottom: 50px; }
.post-filter li { padding: 0 20px; }
.post-filter li span { cursor: pointer; color: #343434; font-family: 'Ubuntu', sans-serif; font-size: 16px; transition: all .4s ease; }
.post-filter li span:hover,
.post-filter li.active span { color: #0099d9; }
.our-services .sec-title { margin-bottom: 40px; }
.our-services .single-service { text-align: center; border: 1px solid #E5E5E5; margin-bottom: 30px; padding: 35px 0; padding-top: 40px; transition: all .4s ease; position: relative; }
.our-services .single-service:before { content: ''; position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; border: 1px dashed #fff; }
.our-services .single-service:hover { background: #0099d9; border-color: #0099d9; }
.our-services .single-service:hover i { color: #ffffff; }
.our-services .single-service:hover h3 { color: #ffffff; }
.our-services .single-service i { font-size: 53px; color: #0099d9; transition: all .4s ease; }
.our-services .single-service h3 { font-size: 22px; transition: all .4s ease; font-style: italic; font-family: 'Ubuntu', sans-serif; color: #222222; margin: 0; margin-top: 15px; }
.tesimonial-section { background: #15223f url(../img/background-2.png) 0 0 no-repeat; }
.single-testimonial-carousel { text-align: center; padding: 0 100px; }
.single-testimonial-carousel i { width: 90px; height: 90px; background: rgba(127, 193, 66, .50); border-radius: 50%; color: #ffffff; font-size: 36px; line-height: 90px; }
.single-testimonial-carousel p { font-size: 18px; color: #ffffff; line-height: 32px; margin-top: 40px; }
.single-testimonial-carousel h3 { font-size: 20px; color: #0099d9; font-family: 'Ubuntu', sans-serif; font-weight: bold; font-style: italic; margin: 0; margin-top: 30px; margin-bottom: 10px; }
.single-testimonial-carousel span { font-family: 'Ubuntu', sans-serif; color: #ffffff; opacity: .7; }
.testimonial-carousel.owl-theme .owl-dots .owl-dot span { background-color: transparent; border: 1px solid #8E95A1; }
.testimonial-carousel.owl-theme .owl-dots .owl-dot.active span,
.testimonial-carousel.owl-theme .owl-dots .owl-dot:hover span { background: #0099d9; border-color: #0099d9; }
.testimonial-carousel.owl-theme .owl-dots { margin-top: 20px; }
.single-testimonial { margin-bottom: 30px; }
.single-testimonial p { font-size: 16px; color: #222222; transition: all .4s ease; }
.single-testimonial:hover p { color: #ffffff; }
.single-testimonial .text-box { background: url(../img/testimonial-bg.png) 0 0 no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; padding: 30px; transition: all .4s ease; }
.single-testimonial:hover .text-box { background: url(../img/testimonial-bg-hover.png) 0 0 no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
.single-testimonial .title-box { padding: 0 30px; margin-top: 10px; }
.single-testimonial .title-box .name-box,
.single-testimonial .title-box .img-box { display: table-cell; vertical-align: middle; }
.single-testimonial .title-box .img-box { width: 65px; }
.single-testimonial .title-box .name-box { padding-left: 20px; }
.single-testimonial .title-box .name-box h3 { font-family: 'Ubuntu', sans-serif; color: #222222; font-style: italic; margin: 0; }
.single-testimonial .title-box .name-box span { color: #0099d9; font-size: 13px; }
 .sec-title { margin-bottom:30px; }
.news-page { padding-bottom: 70px; }
.news-page .single-blog-post { margin-bottom: 30px; }
.single-blog-post h3 { margin: 0; font-family: 'Ubuntu', sans-serif; color: #222222; font-size: 23px; }
.single-blog-post h3 a { color: #222222; transition: all .4s ease; }
.single-blog-post h3 a:hover { color: #6DB42B; }
.single-blog-post .bottom-box { border: 1px solid #e7e7e7; padding: 40px 28px; padding-bottom: 20px; }
.single-blog-post .meta,
.single-blog-post .meta li { margin: 0; padding: 0; list-style: none; }
.single-blog-post .meta { border-bottom: 1px solid #E7E7E7; padding-bottom: 20px; margin-bottom: 20px; margin-top: 20px; }
.single-blog-post .meta li { display: inline-block; margin-right: 15px; }
.single-blog-post .meta li a { display: block; color: #848484; font-family: 'Ubuntu', sans-serif; font-size: 14px; }
.single-blog-post .img-box,
.single-blog-list .img-box { position: relative; overflow: hidden; }
.single-blog-post .overlay,
.single-blog-list .img-box .overlay { position: absolute; top: 100%; left: 0; right: 0; bottom: 0; transition: all .4s ease; }
.single-blog-post .img-box:hover .overlay,
.single-blog-list .img-box:hover .overlay { top: 0; }
.single-blog-post .overlay .dt,
.single-blog-list .img-box .overlay .dt { display: table; width: 100%; height: 100%; }
.single-blog-post .overlay .dtc,
.single-blog-list .img-box .overlay .dtc { display: table-cell; vertical-align: middle; }
.single-blog-post .overlay .dtc .date-box,
.single-blog-list .img-box .overlay .dtc .date-box { width: 75px; height: 75px; background: rgb(204, 0, 41); color: #fff; font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: center; margin-left: auto; margin-right: auto; line-height: 1.1; padding-top: 10px; }
.single-blog-post .overlay .dtc .date-box span,
.single-blog-list .img-box .overlay .dtc .date-box span { display: block; font-size: 30px; font-weight: bold; font-family: 'Ubuntu', sans-serif; }
.single-blog-list { border-top: 1px solid #e7e7e7; padding-top: 38px; margin-top: 38px; }
.single-blog-list:first-child { margin-top: 0; padding-top: 0; border-top: 0; }
.single-blog-list .img-box,
.single-blog-list .text-box { display: table-cell; vertical-align: middle; }
.single-blog-list .img-box { width: 110px; }
.single-blog-list .text-box { padding-left: 25px; }
.single-blog-list .text-box h3 { margin: 0; font-size: 20px; color: #222222; font-family: 'Ubuntu', sans-serif; margin-bottom: 15px; }
.single-blog-list .text-box h3 a { color: #222222; transition: all .4s ease; }
.single-blog-list .text-box h3 a:hover { color: #6DB42B; }
.post-pagination li a { display: block; border: 1px solid #EAEAEA; color: #848484; font-size: 18px; line-height: 43px; padding: 0 19px; transition: all .4s ease; }
.post-pagination { margin-top: 20px; }
.post-pagination li a:hover { background: #0099d9; border-color: #0099d9; color: #ffffff; }
.blog-details-section .content-area { border: 1px solid #E5E5E5; padding: 30px 40px; }
.blog-details-section .content-area .title-box h3 { font-family: 'Ubuntu', sans-serif; font-size: 32px; color: #222; margin: 0; }
.blog-details-section .content-area .meta-info { border-bottom: 1px solid #e5e5e5; padding-bottom: 15px; margin-bottom: 15px; margin-top: 10px; }
.blog-details-section .content-area .meta-info li a { color: #848484; font-family: 'Ubuntu', sans-serif; transition: all .3s ease; }
.blog-details-section .content-area .meta-info li a:hover { color: #0099d9; }
.blog-details-section .content-area .text-box .check-list,
.blog-details-section .content-area .text-box .check-list li { margin: 0; padding: 0; list-style: none; }
.blog-details-section .content-area .text-box .check-list { color: #0099d9; margin-bottom: 10px; }
.blog-details-section .content-area .text-box .check-list li { line-height: 27px; }
.blog-details-section .content-area .social span { color: #222; }
.blog-details-section .content-area .social { margin-top: 20px; margin-bottom: 0; }
.blog-details-section .content-area .social a { display: inline-block; width: 40px; height: 40px; border: 1px solid #e5e5e5; color: #848484; line-height: 38px; text-align: center; transition: all .4s ease; }
.blog-details-section .content-area .social a:hover { background: #0099d9; color: #fff; }
.sidebar-wraper { padding-left: 40px; }
.single-sidebar + .single-sidebar { margin-top: 50px; }
.single-sidebar .title h3 { font-family: 'Ubuntu', sans-serif; color: #222; font-size: 24px; margin: 0; margin-bottom: 30px; }
.single-sidebar.search-widget form { border: 1px solid #e5e5e5; position: relative; }
.single-sidebar.search-widget form input { width: 100%; border: none; outline: none; height: 50px; padding-left: 20px; }
.single-sidebar.search-widget form button { border: none; outline: none; background-color: transparent; color: #fff; background: #0099d9; height: 50px; width: 50px; position: absolute; top: 0; right: 0; }
.single-sidebar.category-widget ul,
.single-sidebar.category-widget ul li { margin: 0; padding: 0; list-style: none; }
.single-sidebar.category-widget ul { margin-top: -15px; }
.single-sidebar.category-widget ul li a { display: block; font-size: 15px; color: #848484; border-bottom: 1px solid #e5e5e5; font-family: 'Ubuntu', sans-serif; padding: 15px 0; }
.single-sidebar.category-widget ul li a span { float: right; font-size: 15px; color: #848484; font-family: 'Ubuntu', sans-serif; }
.single-sidebar.latest-post ul,
.single-sidebar.latest-post ul li { margin: 0; padding: 0; list-style: none; }
.single-sidebar.latest-post ul li { border-top: 1px solid #e5e5e5; padding-top: 15px; margin-top: 15px; }
.single-sidebar.latest-post li:first-child { border-top: 0; padding-top: 0; margin-top: 0; }
.single-sidebar.latest-post .img-box,
.single-sidebar.latest-post .text-box { display: table-cell; vertical-align: top; }
.single-sidebar.latest-post .img-box { width: 80px; }
.single-sidebar.latest-post .text-box { padding-left: 15px; }
.single-sidebar.latest-post .text-box h3 { font-size: 16px; font-family: 'Ubuntu', sans-serif; color: #222; margin: 0; margin-bottom: 10px; }
.single-sidebar.latest-post .text-box span { color: #848484; font-family: 'Ubuntu', sans-serif; }
.single-sidebar.tags-widget li a { display: block; border: 1px solid #e5e5e5; font-family: 'Ubuntu', sans-serif; color: #848484; font-size: 15px; padding: 10px 25px; margin-bottom: 10px; transition: all .3s ease; }
.single-sidebar.tags-widget li a:hover { background: #0099d9; border-color: #0099d9; color: #ffffff; }
.comment-box,
.leave-a-comment { margin-top: 50px; }
.comment-box .title h3,
.leave-a-comment .title h3 { margin: 0; font-family: 'Ubuntu', sans-serif; color: #222; font-size: 24px; margin-bottom: 30px; }
.comment-box .text-box,
.comment-box .img-box { display: table-cell; vertical-align: top; }
.comment-box .single-comment-box + .single-comment-box { margin-top: 20px; }
.comment-box .img-box { width: 75px; }
.comment-box .text-box { padding-left: 20px; }
.comment-box .text-box h3 { font-size: 16px; color: #222; font-family: 'Ubuntu', sans-serif; margin: 0; margin-bottom: 10px; }
.comment-box .text-box span { font-family: 'Ubuntu', sans-serif; color: #848484; font-size: 13px; }
.comment-box .text-box p { margin: 0; margin-top: 10px; }
.comment-box .text-box a { color: #0099d9; }
.leave-a-comment form input,
.leave-a-comment form textarea { width: 100%; height: 50px; padding: 10px 15px; border: 1px solid #e5e5e5; margin-bottom: 15px; outline: none; }
.leave-a-comment form textarea { height: 150px; }
.leave-a-comment form .thm-btn { border: none; outline: none; }
.subscribe-section .container { background: #0099d9; padding: 35px 50px; margin-top: -60px; top: 60px; position: relative; }
.subscribe-section h3 { font-size: 40px; font-family: 'Ubuntu', sans-serif; color: #fff; font-weight: normal; margin: 0; line-height: 50px; }
.subscribe-section input { width: 64%; background: #99CD68; border: none; outline: none; padding-left: 20px; height: 50px; color: #fff; margin-right: 20px; }
.subscribe-section input::-webkit-input-placeholder {
color:#fff;
}
.subscribe-section input::-moz-placeholder {
color:#fff;
}
.subscribe-section input:-ms-input-placeholder {
color:#fff;
}
.subscribe-section input:-moz-placeholder {
color:#fff;
}
.subscribe-section button { width: 160px; height: 50px; color: #222222; text-transform: uppercase; font-family: 'Ubuntu', sans-serif; font-weight: bold; border: none; outline: none; }
footer { background: #282834; padding-top: 150px; padding-bottom: 95px; overflow: hidden; }
.footer-widget.about-widget { padding-right: 170px; }
.footer-widget.about-widget img { margin-bottom: 30px; }
.footer-widget .title h3 { font-size: 23px; font-family: 'Ubuntu', sans-serif; color: #ffffff; margin: 0; margin-bottom: 30px; }
.footer-widget.about-widget p { color: #b6b7b9; }
.footer-widget.about-widget .social,
.footer-widget.about-widget .social li { margin: 0; padding: 0; list-style: none; }
.footer-widget.about-widget .social { margin-top: 20px; }
.footer-widget.about-widget .social li { display: inline-block; margin-right: 40px; }
.footer-widget.about-widget .social li:last-child { margin-right: 0; }
.footer-widget.about-widget .social li a { color: #b6b7b9; }
.footer-widget.link-widget ul,
.footer-widget.contact-widget ul,
.footer-widget.link-widget li,
.footer-widget.contact-widget li { margin: 0; padding: 0; list-style: none; }
.footer-widget.link-widget li { margin-bottom: 20px; }
.footer-widget.link-widget li:last-child { margin-bottom: 0; }
.footer-widget.link-widget li a { color: #b6b7b9; font-family: 'Ubuntu', sans-serif; }
.footer-widget.contact-widget p { color: #b6b7b9; }
.footer-widget.contact-widget .icon-box,
.footer-widget.contact-widget .text-box { display: table-cell; vertical-align: top; }
.footer-widget.contact-widget .icon-box i { color: #0099d9; font-size: 17px; margin-top: 6px; }
.footer-widget.contact-widget .text-box { padding-left: 20px; }
.bottom-footer { padding: 20px 0 20px; background: #e1e6eb; border-top: 1px solid #e1e6eb; }
.bottom-footer p { margin: 0; line-height: 30px; }
.bottom-footer span { color: #0099d9; }
.bottom-footer .scroll-to-btn { font-size: 24px; color: #fff; width: 45px; height: 45px; background: #0099d9; text-align: center; display: inline-block; line-height: 45px; cursor: pointer; margin-top: -27px; }
.page-title { background: #0c1012 url(../img/page-title.png) 0 0 no-repeat; padding: 80px 0; }
.page-title h3 { margin: 0; font-family: 'Ubuntu', sans-serif; font-size: 50px; line-height: 1; color: #fff; }
.breadcumb { background: #F5F5F8; padding: 18px 0; }
.breadcumb ul li:after { content: "\f105"; font-family: 'FontAwesome'; color: #848484; margin-left: 15px; }
.breadcumb ul { margin-bottom: 0; }
.breadcumb ul li:last-child:after { display: none; }
.breadcumb ul li a { color: #848484; font-size: 15px; font-family: 'Ubuntu', sans-serif; }
.breadcumb ul li span { color: #0099d9; font-size: 15px; font-family: 'Ubuntu', sans-serif; }
.error-page img { display: block; margin-left: auto; margin-right: auto; }
.error-page h3 { font-size: 48px; color: #222; font-family: 'Ubuntu', sans-serif; margin: 0; margin-bottom: 40px; }
.error-page form { border: 1px solid #DEDEDE; width: 80%; position: relative; margin-top: 20px; }
.error-page form input { border: none; outline: none; height: 50px; padding-left: 20px; width: 100%; }
.error-page form button { border: none; outline: none; background-color: transparent; height: 50px; position: absolute; top: 0; right: 20px; }
.error-page .thm-btn { margin-top: 40px; }
.reservision-box { background: #282834; padding: 40px; padding-top: 30px; }
.reservision-box h3 { font-family: 'Ubuntu', sans-serif; color: #fff; font-size: 24px; font-weight: bold; margin: 0; }
.reservision-box h3 span { color: #0099d9; }
.reservision-box .form-grp { width: 100%; position: relative; margin-top: 20px; }
.reservision-box .form-grp i { position: absolute; top: 34%; right: 20px; color: #848484; }
.reservision-box .form-grp .thm-btn { border: none; padding: 15px 16px; width: 100%; }
.reservision-box .form-grp input { width: 100%; height: 50px; padding: 0 10px; }
.reservision-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 100%; }
.reservision-box .btn-group.bootstrap-select { width: 100%; }
.reservision-box .btn { background: #FFFFFF; font-size: 14px; color: #848484; font-family: 'Ubuntu', sans-serif; text-transform: capitalize; border: none; outline: none !important; padding: 15px 10px; border-radius: 0; margin-top: 0; height: auto; }
.reservision-box .bootstrap-select.btn-group .dropdown-toggle .caret { border: none; top: 2px; right: 20px; }
.reservision-box .dropdown-menu { padding: 0; border-radius: 0; }
.reservision-box .dropdown-menu>li>a { padding: 8px 15px; color: #fff; transition: all .3s ease; }
.reservision-box .dropdown-menu>li>a:hover { background: #0099d9; }
.reservision-box .bootstrap-select.btn-group .dropdown-menu li a span.text { font-size: 13px; color: #848484; }
.reservision-box .bootstrap-select.btn-group .dropdown-menu li a:hover span.text { color: #fff; transition: all .3s ease; }
.reservision-box .bootstrap-select.btn-group .dropdown-toggle .caret:before { content: '\f107'; font-family: 'FontAwesome'; color: #848484; font-size: 14px; line-height: 46px; }
.room-details .top-box { margin-bottom: 30px; }
.room-details .title { float: left; }
.room-details .price-box { float: right; }
.room-details .details-box { border: 1px solid #E5E5E5; padding: 40px 30px; outline-style: 30px; margin-bottom: 20px; }
.room-details .title h3 { font-family: 'Ubuntu', sans-serif; color: #222; margin: 0; font-size: 32px !important; margin-bottom: 10px; }
.room-details .title i { color: #fbb234; font-size: 12px; }
.room-details .price-box span { font-family: 'Ubuntu', sans-serif; font-style: italic; color: #848484; font-size: 13px; text-transform: capitalize; display: block; }
.room-details .price-box .price { color: #0099d9; font-family: 'Ubuntu', sans-serif; font-size: 22px; font-weight: bold; }
.room-details-area .title h3 { font-family: 'Ubuntu', sans-serif; color: #222; margin: 0; font-size: 24px; margin-bottom: 10px; }
.review-form input,
.review-form textarea { border: 1px solid #E7E7E7; outline: none; height: 50px; width: 100%; padding: 10px 15px; }
.review-form textarea { height: 150px; margin-bottom: 20px; }
.review-form .thm-btn { border: none; outline: none; margin-top: 20px; }
.faq-section h3.title { font-family: 'Ubuntu', sans-serif; color: #222; font-size: 32px; margin: 0; margin-bottom: 20px; }
.accordion { margin-top: 50px; }
.accordion .panel-default { border: none; outline: none; box-shadow: none; }
.accordion .panel + .panel { margin-top: 20px; }
.accordion a[role=button] { padding: 10px 0; position: relative; display: block; font-size: 18px; color: #222; font-style: italic; font-family: 'Ubuntu', sans-serif; border: 1px solid #e5e5e5; padding: 15px 0; padding-left: 20px; }
.accordion a[role=button].collapsed:before { position: absolute; bottom: 15px; right: 20px; font-size: 18px; color: #999999; font-weight: normal; font-family: 'FontAwesome'; content: "\f107"; font-style: normal; }
.accordion a[role=button]:before { font-family: 'FontAwesome'; position: absolute; bottom: 10px; right: 20px; font-size: 18px; font-weight: normal; content: "\f106"; color: #3563a9; font-style: normal; }
.accordion .inner-box { border: 1px solid #eee; border-top: 0; padding: 20px; }
.accordion .inner-box p { margin: 0; }
#home-google-map { width: 100%; height: 400px; }
.contact-section .title h3 { margin: 0; font-family: 'Ubuntu', sans-serif; font-size: 32px; color: #222; font-style: italic; margin-bottom: 40px; }
.contact-section .info-text,
.contact-section .info-text li { margin: 0; padding: 0; list-style: none; }
.contact-section .info-text li + li { margin-top: 20px; }
.contact-section .info-text .img-box,
.contact-section .info-text .text-box { display: table-cell; vertical-align: top; }
.contact-section .info-text .img-box .inner-box { width: 45px; height: 45px; border: 1px solid #D9D9D9; border-radius: 50%; text-align: center; font-size: 30px; line-height: 43px; color: #0099d9; }
.contact-section .info-text .img-box .inner-box i.fa-phone { font-size: 20px; }
.contact-section .info-text .img-box .inner-box i.fa-envelope { font-size: 17px; position: relative; top: -4px; }
.contact-section .info-text .text-box { padding-left: 20px; }
.contact-section .info-text .text-box h4 { font-size: 22px; color: #222; font-family: 'Ubuntu', sans-serif; font-style: italic; margin: 0; margin-bottom: 7px; }
.contact-form input,
.contact-form textarea { width: 100%; height: 50px; border: 1px solid #D9D9D9; padding: 10px 15px; margin-bottom: 20px; outline: none; }
.contact-form textarea { height: 150px; }
.contact-form .thm-btn { border: none; outline: none; }
.owl-carousel .item .container { position: relative; }
.owl-carousel .item .container h2 { top: 2em; position: absolute; right:20px; z-index: 99; max-width:440px; width: 100%; font-family: 'Ubuntu', sans-serif; font-size: 30px; }
.owl-carousel .item .container h2 span { display: block; }
.owl-carousel .item .container h2 span.black_strip { background-color: #000; color: #fff; padding: 10px 32px 10px 20px; }
.owl-carousel .item .container h2 span.white_strip { background-color: #fff; color: #000; padding: 10px 32px 10px 20px; width: 95%; font-size: 24px; }
.option-heading { cursor: pointer; }
.option-content { width: 315px; }
.option-content p { font-family: 'Ubuntu', sans-serif; }
.arrow-up { width: 25px; display: inline-block; float: right; }
.arrow-down { width: 25px; display: inline-block; float: right; }
table { border: 1px solid #ccc; border-collapse: collapse; margin: 0; padding: 0; width: 100%; }
table caption { font-size: 1.5em; margin: .25em 0 .75em; }
table tr { background: #f8f8f8; border: 1px solid #ddd; padding: .35em; }
table th,
table td { padding: .625em; text-align: center; }
table th { font-size: .85em; /*letter-spacing: .1em;*/
text-transform: uppercase; }
 
  .accordian-style .row > .col-md-12 { margin-bottom: 15px; }
.table.table-bordered.table-style thead th { padding: 16px 10px; background-color: #0099d9; color: #fff; font-size: 20px; font-family: 'Ubuntu', sans-serif; text-transform: none; vertical-align: middle; font-weight: normal; }
.table.table-bordered.table-style td { padding: 16px 5px; }
.table.table-bordered.table-style td,
.table.table-bordered.table-style th { color: #231f20; font-family: 'Ubuntu', sans-serif; text-transform: none; font-size: 16px; vertical-align: middle; font-weight: normal; }
.table-style-width { max-width: 800px; }
.welcome-section .col-md-12 > a { margin-right: 11px; }
.welcome-section .col-md-12 > a:last-child { margin-right: 0px; }
.intro_text_style h3 { margin-top: 0px; font-size: 26px; font-family: 'Ubuntu', sans-serif; }
.intro_text_style p { font-family: 'Ubuntu', sans-serif; color: #000; font-size: 16px; }
.main_title_style {
 font-family: 'Ubuntu', sans-serif;
  font-size: 30px; 
  color: #0099d9; 
  margin: 0; line-height: 100%;
   margin-top: 22px; 
   text-align: center; 
 
}
.dark_text_style { color: #000; font-family: 'Ubuntu', sans-serif; font-size: 16px;     margin-bottom: 30px; }
.Upgrade_right_box h3 { margin-bottom: 15px; color: #0099d9; font-size: 22px; font-family: 'Ubuntu', sans-serif; }
.Upgrade_right_box p { color: #000; font-family: 'Ubuntu', sans-serif; font-size: 18px; }
.Upgrade_right_box { padding: 44px 40px }
.benefits_box_style p { color: #000; font-size: 18px; text-align: center; font-family: 'Ubuntu', sans-serif; margin-top: 20px; }
.benefits_box_style ul { padding: 0px; color: #000; font-size: 18px; text-align: center; font-family: 'Ubuntu', sans-serif; margin-top: 20px; margin-bottom: 0; }
/*.benefits_box_style ul li { list-style: none; display: inline-block; padding: 0px 20px; }*/
.benefits_box_style ul li { list-style: none; display: inline-block; padding: 0px 13px; }
.benefits_box_style ul li .fa { font-weight: bold; color: #0099d9; font-size: 22px; margin-right: 7px; }
.benefits_box_style ul li:first-child { margin-bottom: 10px; }
.main_title_style { margin-top: 0px; }
.book-now-section .dark_title_style{ margin-top: 0px; }
.dark_title_style { font-family: 'Ubuntu', sans-serif; color: #000000; font-size: 26px; }
.form_row_style { margin: 0 -5px; }
.accordian-style .q-box{ display: none; }
.accordian-style .row > .col-md-12.load_more_btn { text-align: center;margin-bottom: 0px; } 
.load_more_btn { margin-top: 12px; }
#loadMore { font-size: 24px; font-family: 'Ubuntu', sans-serif; padding: 0; text-align: center; text-transform: capitalize; color: #0099d9; transition: all 600ms ease-in-out; -webkit-transition: all 600ms ease-in-out; -moz-transition: all 600ms ease-in-out; -o-transition: all 600ms ease-in-out; }
#loadMore i.fa { display: block; }
#loadMore:hover { background-color: #fff; color: #33739E; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #d7dadd;
font-family: 'Ubuntu', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
 color:  #d7dadd;
font-family: 'Ubuntu', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
 color:  #d7dadd;
font-family: 'Ubuntu', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
 color:  #d7dadd;
font-family: 'Ubuntu', sans-serif;
}
.form-grp.interested_btn_style { width: 161px; }
.form-grp.slect-lg-box { width: 220px; font-family: 'Ubuntu', sans-serif; }
.form-grp.slect-lg-box .btn { font-family: 'Ubuntu', sans-serif; }
.form-grp.interested_btn_style .thm-btn { font-size: 18px; font-family: 'Ubuntu', sans-serif; padding: 0px; }
.form-grp.interested_btn_style .thm-btn:hover { background-color: #006a96 }
.form-grp.slect-lg-box .btn.dropdown-toggle.btn-default:hover,
.form-grp.slect-lg-box .btn.dropdown-toggle.btn-default:focus { background-color: #fff }
.mrg0-T { margin-top: 0 !important; }
.pd80-B { padding-bottom: 80px !important; }
.term-option {
    text-align: center;
    width: 100%;
    margin: 20px auto 0;
}
/*.term-option-maindiv{background-image: url(../images/term_option_bg.png);background-repeat: no-repeat;height: 555px;margin-top: 28px;}*/
.term-option-maindiv {
    background-image: url(../images/term_option_bg.png);
    background-repeat: no-repeat;
    height: 620px;
    margin-top: 28px;
    background-size: cover;
    width: 89%;
    margin: auto;
    background-position: 50% 0%;
    background-color: #000;
}
.features-content ul{margin:0; text-align: center; vertical-align:top; padding-left: 0;}
.features-content ul li {
       display: inline-block;
    margin: 0px 30px 50px;
    min-width: 27.333%;
    text-align: left;
    vertical-align: top;
}
.mrg-0{ margin:0px} 
.q-box .option-heading p{ padding-right: 40px !important; position: relative;}
.q-box .option-heading p > span{     position: absolute;
    right: 6px;
    top: 9px; }
    .bottom-footer .portlet-content ul { padding:0px;     text-align: center; }
.bottom-footer .portlet-content ul li{     margin: 0 3px; display: inline-block; float: none;} 
.bottom-footer .portlet-content ul li a{     color: #000;
    border: 1px solid #000;
    padding: 6px;
    border-radius: 48px;
    height: 40px;
    font-size: 19px;
    width: 40px;
    display: inline-block;

     -webkit-transition: all .5s ease;
  -moz-transition:all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
 .bottom-footer .portlet-content ul li a:hover{ 
 	background-color:#0099d9; color: #fff; border-color:#0099d9; 
 	     -webkit-transition: all .5s ease;
  -moz-transition:all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;  }
  .bottom-footer .copy-text p {color:#959ca1; text-align: center;  padding:20px; font-size:14px;}
    .bottom-footer .copy-text p a{ color:#0099d9 }

    .q-box .option-heading p{     border: 2px solid #959ca1;
    padding: 10px;
    font-size: 16px;
    color: #959ca1;}
    .q-box .option-content p{text-align:justify; padding:10px; border-bottom:1px solid rgba(68, 68, 68, 0.18); border-left:1px solid rgba(68, 68, 68, 0.18); border-right:1px solid rgba(68, 68, 68, 0.18); }
    .q-box .option-content{ width: 100%;}


.main_title_style  {position: relative;
    padding-bottom: 20px;  }
.main_title_style:after{     content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: #455560;
    height: 2px;
    width: 130px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);}
 
.dark_text_style.lg-text{ color:#000000;  font-family: 'Ubuntu', sans-serif; font-size:20px; text-align: center; }
.dark_text_style.sm-text{ text-align: center;}
.light-bg{ background-color:#e1e6eb; }
.lighten_bg{ background-color:#e5e6e6}
.pd-0{ padding: 0px;}
.sec-pad-btm-none{ padding-bottom: 55px;}
.sec-pad-top-none{ padding: 50px 0 15px}
.title_btm_line{  margin: left; margin-top:15px; margin-bottom: 25px; border-bottom:2px solid #455560; width:80px; }
.benefits_box_style {background-color:#d1d5d8}
.border-field-style{ border:2px solid #959ca1; padding:10px;   color: #959ca1;;}
.features-content  .option-content ul li{ position: relative; display:block; margin: 0px;  
    font-size: 16px; font-family: 'Ubuntu', sans-serif;
    line-height: 26px;
    color: #848484;  } 
    .features-content  .option-content ul{ padding-left: 15px;}
.features-content  .option-content ul li:before{content: "\f0da";
    position: absolute;
    top: 0px;
    left: -14px;
    font-family: FontAwesome;}

    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 3px solid #e1e6eb;
}

.navbar-header.navbar-header-right .navbar-brand .img-responsive{     max-width: 416px;
    width: 100%; }
body header .navbar-header.navbar-header-right .navbar-brand{ padding-bottom: 0px; padding-top: 10px;}

#thankyoubox{
    text-align: center;
}
#thankyoubox h2 {
    text-align: center;
    color: #0099d9;
    font-weight: bold;
    font-size: 38px;
}
#thankyoubox p {
    color: #000;
    font-size: 20px;
}
/* new css for box*/
  
.rounded-circle {
    text-align: center;
    width: 95%;
    padding: 3px;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 30px;
}
.rounded-circle h4 {
    color: #000;
    font-size: 19px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    /* color: #000; */
    position: relative;
    z-index: 9;
    top: -15px;
}
.bg_rotate {
    background: #fff;
    width: 108px;
    height: 23px;
    display: block;
    position: absolute;
    transform: skew(-15deg);
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
.rounded-circle .bigger-text-style {
    font-size: 15px;
    color: #fff;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0;
    margin: auto;
    font-weight: 300;
}
.rounded-circle .smaller-text-style {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-top: 3px;
    line-height: normal;
}
.rounded-circle.circle2 {
    width: 240px;
    margin-top: 30px;
}
.cnt1 {
    width: 36%;
}
.cnt2 {
    width: 75%;
}
.cnt3 {
    width: 65%;
}
@media screen and (max-width: 1150px) {
.term-option-maindiv {
    background-repeat: no-repeat;
    height: 659px;
    margin-top: 28px;
    background-size: cover;
    background-position: 52% 74px;
    background-color: #000;
}
.cnt1 {
    width: 100%;
}
.cnt2 {
    width: 100%;
}
.cnt3 {
    width: 100%;
}
.rounded-circle.circle2 {
    width: 100%;
    margin-top: 30px;
}
}
@media screen and (max-width: 767px) {
.term-option-maindiv {
    background-size: 100%!important;
    padding-bottom: 10px;
    background-position: 0% 301px;
    background-color: #000;
    height: 600px!important;
}
.rounded-circle.circle2 {
    width: 95%;
    margin-top: 30px;
}

}
@media screen and (max-width: 667px) {
.term-option-maindiv {
    background-size: 100%!important;
    padding-bottom: 10px;
    background-position: 0% 351px;
    background-color: #000;
    height: 600px!important;
}
.rounded-circle.circle2 {
    width: 95%;
    margin-top: 30px;
}

}
@media screen and (max-width: 480px) {
.rounded-circle.circle2 {
    width: 95%;
    margin-top: 30px;
}
.term-option-maindiv {
    background-size: 100%!important;
    padding-bottom: 10px;
    background-position: 0% 400px;
    background-color: #000;
    height: 600px!important;
}
}
@media screen and (max-width: 350px) {
.rounded-circle.circle2 {
    width: 95%;
    margin-top: 30px;
}
.term-option-maindiv {
    background-size: 100%!important;
    padding-bottom: 10px;
    background-position: 0% 444px;
    background-color: #000;
    height: 600px!important;
}
}